<template>
  <div class="activityArchives">
    <div class="activityArchives_echarts">
      <div class="myline">
        <!-- <h3>近期活动统计</h3> -->
        <MyLine></MyLine>
      </div>
      <div class="mypie">
        <!-- <h3>活动类型统计</h3> -->
        <MyPie v-if="falg" :echartsData='HdlxHdjb'></MyPie>
      </div>
    </div>
    <div class="gd" style="margin-top:10px">
      <el-button type="primary" @click="openGd">开始归档</el-button>
    </div>
    <Eltable :tableHead="tableHead" :tableSettings="tableSettings" :tableDatas="tableDatas" @del="del" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    <Dialog :title="title" :uploadBtn="true" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close" @Submit="Submit" :isDetermine='isDetermine' :rules="rules" :dialogData="dialogData" ref="dialog1"></Dialog>
  </div>
</template>
<script>
import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
import MyPie from '@/components/activity_com/file/activity/pie.vue'
import MyLine from '@/components/activity_com/file/activity/line.vue'
// eslint-disable-next-line no-unused-vars
import { selectAll, update, delData, insert, countHdlxHdjb } from '@/api/activity/file/Archives'
// eslint-disable-next-line no-unused-vars
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    falg: false,
    title: '',
    isShow: false,
    readOnly: false,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    dialogData: { // 弹出框数据
      hdbh: '',
      jdr: '',
      sdr: '',
      gdsj: '',
      scwj: ''
    },
    rules: {
      hdbh: [
        { required: true, message: '请输入档案名称', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      gdsj: [
        { required: true, message: '请输入时间', trigger: 'blur' }
      ],
      jdr: [
        { required: true, message: '请输入交档人', trigger: 'blur' }
      ],
      sdr: [
        { required: true, message: '请输入收档人', trigger: 'blur' }
      ],
      scwj: [
        { required: true, message: '请选择上传文件', trigger: 'blur' }
      ]
    },
    tableHead: [
      { label: '序号', prop: 'id' },
      { label: '活动名称', prop: 'hdbh' },
      { label: '交档人', prop: 'jdr' },
      { label: '收档人', prop: 'sdr' },
      { label: '归档时间', prop: 'gdsj' }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '查看', type: 'detailed' },
      { name: '删除', type: 'delete' }
    ],
    dialogs: [
      { label: '档案名称', type: 'input', name: 'hdbh' },
      { label: '收档时间', type: 'datetime', name: 'gdsj' },
      { label: '交档人', type: 'input', name: 'jdr' },
      { label: '收档人', type: 'input', name: 'sdr' }
    ],
    HdlxHdjb: []
  }),
  created () {
    this.selectAll()
    this.countHdlxHdjb()
  },
  methods: {
    countHdlxHdjb() {
      countHdlxHdjb().then((res) => {
        if (res.code === 1) {
          for (let i = 0; i < res.data.length; i++) {
            const hdData = {}
            hdData.name = res.data[i].hdlx
            hdData.value = res.data[i].hdlxCs
            this.HdlxHdjb.push(hdData)
            this.falg = true
          }
        }
      })
    },
    detailed (data) {
      this.dialogData = { ...data }
      this.isDetermine = false
      this.title = '活动档案详情'
      this.readOnly = true
      this.isShow = true
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id)
        // this.$message({
        //   type: 'success',
        //   message: '删除成功!'
        // })
        this.selectAll()
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    Submit(data) {
      data.rybkBkrxm = '管理员'
      this.$refs.dialog1.$refs.dialogForm.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '被布控人基础信息新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '被布控人基础信息修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    },
    close () {
      this.isShow = false
    },
    openGd () {
      Object.assign(this.dialogData, this.$options.data().dialogData)
      this.isDetermine = true
      this.title = '活动档案归档'
      this.readOnly = false
      this.isShow = true
    }
  },
  components: { Eltable, Dialog, MyPie, MyLine }
}
</script>
<style lang="scss">
.activityArchives {
  margin-top: 10px;
  .activityArchives_echarts{
    width: 100%;
    display: flex;
    border: 1px solid rgb(62, 85, 104);
    padding: 0.2rem;
    box-sizing: border-box;
      .myline {
        width: 50%;
        height: 4rem;
        #fileLine{
          height: calc(100% - 41px);
          width: 100%;
        }
          // h3 {
          //   color: #fff;
          //   width: 2rem;
          //   height: 0.4rem;
          //   line-height: 0.4rem;
          //   text-align: center;
          //   border-bottom: 1px solid #ccc;
          // }
      }
      .mypie {
        width: 50%;
        height: 4rem;
        #Pie_acy {
          height: calc(100% - 0.4rem) !important;
          width: 100%;
        }
      }
  }
  .gd {
    display: flex;
    justify-content: flex-end;
  }
  .table {
    margin-top: 0.2rem;
  }
  .el-dialog__wrapper {
    .el-dialog {
      background-color: rgb(2, 16, 47);
      .el-dialog__header {
        background-color: rgb(2, 25, 60);
        .el-dialog__title {
          color: rgb(106, 239, 244);
        }
      }
      .el-dialog__body {
        .el-form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          height: auto;
          .el-form-item {
            width: 100% !important;
            margin-right: 0;
            margin-bottom: 0.2rem;
            .el-form-item__label {
              color: #fff;
            }
            .el-form-item__content {
              width: auto;
              .el-input {
                width: 100%;
                input {
                  background-color: rgb(5, 33, 73);
                  border: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
