<template>
  <div class="user">
    <Elsearch :searchSettings="searchSettings" :formData="formData" :searchBtn="searchBtn" @add="add" @search="search"></Elsearch>
    <Eltable :tableHead="tableHead" :iSloading="iSloading" :tableDatas="tableDatas" :tableSettings="tableSettings" @modify="modify" @disable='disable' @enable='enable' @del="del" @detailed="detailed" @sizeChange="sizeChange"
    @pageChange="pageChange" :pagination="pagination"></Eltable>
    <Dialog :isDetermine='isDetermine' :dialogData="dialogData" :title="title" ref="dialog1" :rules="rules" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close" @Submit="Submit"></Dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
import { validatePhone } from '@/utils/verification'
import { selectAll, update, delData, insert } from '@/api/admin/user/index'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入密码'))
      } else {
        if (this.$refs.dialog1.$refs.dialogForm.model.newPassWord !== '') {
          this.$refs.dialog1.$refs.dialogForm.validateField('newPassWord')
        }
        callback()
      }
    }
    var validatePass2 = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请再次输入密码'))
      } else if (value !== this.$refs.dialog1.$refs.dialogForm.model.password) {
        callback(new Error('两次输入密码不一致!'))
      } else {
        callback()
      }
    }
    return {
      title: '',
      isShow: false,
      readOnly: true,
      isDetermine: true, // 是否显示dialog底部按钮
      iSloading: true, // 是否显示表格加载状态
      pagination: { // 分页数据
        current: 1,
        size: 10,
        total: 30
      },
      searchSettings: [ // 查询输入框组件数据
        { placeholder: '请输入用户角色', type: 'input', name: 'role' },
        { placeholder: '请输入身份证号', type: 'input', name: 'idNumber' },
        { placeholder: '请输入用户姓名', type: 'input', name: 'peopleName' }
      ],
      formData: { // 查询输入框搜索数据
        role: '',
        idNumber: '',
        peopleName: ''
      },
      searchBtn: [
        { name: '查询', type: 'search' },
        { name: '新增', type: 'add' }
      ],
      tableHead: [
        { label: '用户姓名', prop: 'peopleName' },
        { label: '所属角色', prop: 'role' },
        { label: '所属单位', prop: 'mechanismId' },
        { label: '警号（账号）', prop: 'account' }
      ],
      dialogData: { // 弹出框数据
        role: '',
        mechanismId: '',
        account: '',
        peopleName: '',
        idNumber: '',
        tel: '',
        password: '',
        newPassWord: ''
      },
      rules: {
        role: [
          { required: true, message: '请输入所属角色', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
        ],
        idNumber: [
          { required: true, message: '请输入身份证号', trigger: 'blur' }
        ],
        mechanismId: [
          { required: true, message: '请输入所属单位', trigger: 'blur' }
        ],
        account: [
          { required: true, message: '请输入警号', trigger: 'blur' }
        ],
        peopleName: [
          { required: true, message: '请输入用户姓名', trigger: 'blur' }
        ],
        password: [
          { validator: validatePass, trigger: 'blur' }
        ],
        newPassWord: [
          { validator: validatePass2, trigger: 'blur' }
        ],
        tel: [
          { required: true, message: '请输入联系电话', trigger: 'blur' },
          { validator: validatePhone, trigger: 'blur' }
        ]
      },
      // tableDatas: Array(5).fill({
      //   input: '123'
      // }),
      tableDatas: [],
      tableSettings: [
        { name: '修改', type: 'modify' },
        { name: '删除', type: 'delete' },
        { name: '详情', type: 'detailed' },
        { name: '禁用', type: 'disable' }
      ],
      dialogs: [
        { label: '所属角色', name: 'role', type: 'input' },
        { label: '所属单位', name: 'mechanismId', type: 'input' },
        { label: '警号', name: 'account', type: 'input' },
        { label: '用户姓名', name: 'peopleName', type: 'input' },
        { label: '身份证号', name: 'idNumber', type: 'input' },
        { label: '联系电话', name: 'tel', type: 'number' },
        { label: '用户密码', name: 'password', type: 'password' },
        { label: '确认密码', name: 'newPassWord', type: 'password' }
      ],
      paramsData: {}
    }
  },
  created () {
    this.selectAllUser()
  },
  methods: {
    async search() {
      this.iSloading = true
      console.log({ ...this.formData })
      const paramsData = { ...this.formData, ...this.pagination }
      const { data: res } = await selectAll(paramsData)
      this.tableDatas = res.records
      this.pagination.total = res.total
      Object.assign(this.$data.formData, this.$options.data().formData)
      this.iSloading = false
    },
    add (row) {
      Object.assign(this.dialogData, this.$options.data().dialogData)
      this.title = '用户新增'
      this.readOnly = false
      this.isShow = true
    },
    disable(row, index) {
      this.$confirm('此操作将禁用该用户, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        row.state = '2'
        showLoading()
        update(row).then((res) => {
          if (res.code === 1) {
            this.selectAllUser()
          }
        }).finally(() => {
          hideLoading()
        })
        this.$message({
          type: 'success',
          message: '禁用成功!'
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消禁用'
        })
      })
    },
    enable(row, index) {
      this.$confirm('此操作将启用该用户, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        row.state = '1'
        showLoading()
        update(row).then((res) => {
          if (res.code === 1) {
            this.selectAllUser()
          }
        }).finally(() => {
          hideLoading()
        })
        this.$message({
          type: 'success',
          message: '启用成功!'
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消启用'
        })
      })
    },
    modify (data) {
      data.newPassWord = data.password
      this.dialogData = { ...data }
      this.title = '用户修改'
      this.readOnly = false
      this.isShow = true
    },
    async del (row) {
      await delData(row.userId)
      this.selectAllUser()
    },
    detailed (data) {
      data.newPassWord = data.password
      this.dialogData = { ...data }
      this.title = '用户详情'
      this.readOnly = true
      this.isShow = true
    },
    close () {
      this.isShow = false
      this.$refs.dialog1.$refs.dialogForm.resetFields()
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      this.pagination.size = val
      delete this.pagination.total
      this.search()
    },
    // 翻页
    pageChange(val) {
      this.pagination.current = val
      this.search()
    },
    Submit(data) {
      delete data.newPassWord
      this.$refs.dialog1.$refs.dialogForm.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '用户新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAllUser()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '用户修改':
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAllUser()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    async selectAllUser() {
      const { data: res } = await selectAll(this.paramsData)
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: { Elsearch, Eltable, Dialog }
}
</script>
<style lang="scss">
.user {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .table {
    margin-top: 0.2rem;
  }
}
</style>
