<template>
  <div id="PieL1" :style="{ width: '100%', height: '100%' }"></div>
</template>
<script>
import { selectAllQbly } from '@/api/business/study/index'
export default {
  data: () => ({}),
  created () { },
  mounted () {
    this.Pie()
  },
  methods: {
    async selectAllQbly() {
      const { data: res } = await selectAllQbly()
      console.log(res)
    },
    Pie () {
      const Pie = this.$echarts.init(document.getElementById('PieL1'))
      Pie.setOption({
        color: ['#719ef8', '#71dcb1', '#7383a0', '#f5c537', '#e97d63'],
        title: {
          text: '情报来源统计',
          textStyle: {
            color: '#fff'
          }
        },
        legend: {
          orient: 'vertical',
          right: 20,
          bottom: 60,
          textStyle: {
            color: '#fff'
          },
          data: ['情报来源一', '情报来源二', '情报来源三', '情报来源四', '情报来源五']
        },
        animation: true,
        series: [
          {
            type: 'pie',
            radius: '70%',
            label: { // 饼图图形上的文本标签
              normal: {
                position: 'inside', // 标签的位置
                textStyle: {
                  fontSize: 14 // 文字的字体大小
                },
                formatter: '{d}%'
              }
            },
            data: [
              { value: 20, name: '情报来源一' },
              { value: 12, name: '情报来源二' },
              { value: 28, name: '情报来源三' },
              { value: 8, name: '情报来源四' },
              { value: 3, name: '情报来源五' }
            ]
          }]
      })
      window.onresize = () => Pie.resize()
      window.addEventListener('resize', () => Pie.resize())
    }
  }
}
</script>
<style lang="scss">
</style>
