<template>
  <div id="pieR1" :style="{ width: '100%', height: '100%' }"></div>
</template>
<script>
export default {
  data: () => ({}),
  created () { },
  mounted () {
    this.Pie()
  },
  methods: {
    Pie () {
      const Pie = this.$echarts.init(document.getElementById('pieR1'))
      Pie.setOption({
        color: ['#719ef8', '#71dcb1', '#7383a0', '#f5c537', '#e97d63'],
        title: {
          text: '情报类型统计',
          textStyle: {
            color: '#fff'
          }
        },
        legend: {
          orient: 'vertical',
          right: 20,
          bottom: 60,
          textStyle: {
            color: '#fff'
          },
          data: ['情报类型一', '情报类型二', '情报类型三', '情报类型四', '情报类型五']
        },
        animation: true,
        series: [
          {
            type: 'pie',
            radius: ['40%', '70%'],
            label: { // 饼图图形上的文本标签
              normal: {
                position: 'inside', // 标签的位置
                textStyle: {
                  fontSize: 14 // 文字的字体大小
                },
                formatter: '{d}%'
              }
            },
            data: [
              { value: 20, name: '情报类型一' },
              { value: 12, name: '情报类型二' },
              { value: 28, name: '情报类型三' },
              { value: 38, name: '情报类型四' },
              { value: 8, name: '情报类型五' }
            ]
          }]
      })
      window.onresize = () => Pie.resize()
      window.addEventListener('resize', () => Pie.resize())
    }
  }
}
</script>
<style lang="scss">
</style>
