<template>
  <div class="region">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @add="add" @search="search" :formData="formData"></Elsearch>
    <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @modify="modify" @del="del" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    <Dialog :title="title" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close" @Submit="Submit" :isDetermine='isDetermine' :rules="rules" :dialogData="dialogData" ref="dialog1"></Dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
import { selectAll, update, delData, insert } from '@/api/control/region/index'
import { checkLat, checkLon, validatePhone } from '@/utils/verification'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    title: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      qybkSsqy: '',
      qybkBkr: '',
      qybkBksj: '',
      qybkBkrdh: ''
    },
    dialogData: { // 弹出框数据
      qybkSsqy: '',
      qybkQymc: '',
      qybkKssj: '',
      qybkJssj: '',
      qybkBksj: '',
      qybkBkr: '',
      qybkBkrdh: '',
      qybkLxra: '',
      qybkLxradh: '',
      qybkLxrb: '',
      qybkLxrbdh: '',
      qybkSjxq: '',
      qybkDqjd: '',
      qybkDqwd: ''
    },
    rules: {
      qybkDqwd: [
        { required: true, message: '请输入地球纬度', trigger: 'blur' },
        { validator: checkLat, trigger: 'blur' }
      ],
      qybkDqjd: [
        { required: true, message: '请输入地区经度', trigger: 'blur' },
        { validator: checkLon, trigger: 'blur' }
      ],
      qybkSsqy: [
        { required: true, message: '请输入所属区域', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      qybkQymc: [
        { required: true, message: '请输入区域名称', trigger: 'blur' }
      ],
      qybkKssj: [
        { required: true, message: '请输入时间', trigger: 'blur' }
      ],
      qybkJssj: [
        { required: true, message: '请输入时间', trigger: 'blur' }
      ],
      qybkBksj: [
        { required: true, message: '请输入布控事件', trigger: 'blur' }
      ],
      qybkBkr: [
        { required: true, message: '请输入布控人', trigger: 'blur' }
      ],
      qybkBkrdh: [
        { required: true, message: '请输入布控人电话', trigger: 'blur' },
        { validator: validatePhone, trigger: 'blur' }
      ],
      qybkSjxq: [
        { required: true, message: '请输入事由详情', trigger: 'blur' }
      ]
    },
    searchSettings: [
      { placeholder: '所属区域', type: 'input', name: 'qybkSsqy' },
      { placeholder: '布控人', type: 'input', name: 'qybkBkr' },
      { placeholder: '布控事件', type: 'input', name: 'qybkBksj' },
      { placeholder: '请输入布控电话/地球经度/纬度', type: 'input', name: 'qybkBkrdh' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableHead: [
      { label: '所属区域', prop: 'qybkSsqy' },
      { label: '布控人', prop: 'qybkBkr' },
      { label: '布控人电话', prop: 'qybkBkrdh' },
      { label: '布控事件', prop: 'qybkBksj' },
      { label: '地球经度', prop: 'qybkDqjd' },
      { label: '地球纬度', prop: 'qybkDqwd' }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ],
    dialogs: [
      { label: '所属区域', type: 'input', name: 'qybkSsqy' },
      { label: '区域名称', type: 'input', name: 'qybkQymc' },
      { label: '布控开始时间', type: 'datetime', name: 'qybkKssj' },
      { label: '布控结束时间', type: 'datetime', name: 'qybkJssj' },
      { label: '布控事件', type: 'input', name: 'qybkBksj' },
      { label: '布控人', type: 'input', name: 'qybkBkr' },
      { label: '布控人电话', type: 'input', name: 'qybkBkrdh' },
      { label: '联系人一', type: 'input', name: 'qybkLxra' },
      { label: '联系人电话一', type: 'input', name: 'qybkLxradh' },
      { label: '联系人二', type: 'input', name: 'qybkLxrb' },
      { label: '联系人电话二', type: 'input', name: 'qybkLxrbdh' },
      { label: '事由详情', type: 'input', name: 'qybkSjxq' },
      { label: '地球经度', type: 'input', name: 'qybkDqjd' },
      { label: '地球纬度', type: 'input', name: 'qybkDqwd' }
    ]
  }),
  created () {
    this.selectAll()
  },
  methods: {
    search() {
      this.iSloading = true
      // console.log({ ...this.formData })
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      // this.iSloading = false
    },
    add (row) {
      Object.assign(this.dialogData, this.$options.data().dialogData)
      this.isDetermine = true
      this.title = '被布控区域新增'
      this.readOnly = false
      this.isShow = true
    },
    modify (data) {
      this.dialogData = { ...data }
      this.isDetermine = true
      this.title = '被布控区域修改'
      this.readOnly = false
      this.isShow = true
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    detailed (data) {
      this.dialogData = { ...data }
      this.isDetermine = false
      this.title = '被布控区域详情'
      this.readOnly = true
      this.isShow = true
    },
    close () {
      this.isShow = false
      this.$refs.dialog1.$refs.dialogForm.resetFields()
    },
    Submit(data) {
      this.$refs.dialog1.$refs.dialogForm.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '被布控区域新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '被布控区域修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: { Elsearch, Eltable, Dialog }
}
</script>
<style lang="scss">
.region {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .table {
    margin-top: 0.2rem;
  }
}
</style>
