<template>
  <div class="scene">
    <h3 class="scene_title">
      <img src="@/assets/business/u2785.svg" alt="" />
      <span>现场管理</span>
    </h3>
    <div class="scene_datas scene_success">
      <div class="face scene_data">
        <h3>人脸识别</h3>
        <el-form ref="form" :model="form" style="height:120px" label-width="1rem">
          <el-form-item label="设备类型">
            <el-select v-model="form.name" placeholder="请选择"> </el-select>
          </el-form-item>
          <!-- <el-form-item>
            <el-button type="primary" @click="faceBtnClick">搜索</el-button>
          </el-form-item> -->
          <!-- <el-form-item label="摄像头位置">
            <el-select v-model="form.name" placeholder="请选择"> </el-select>
          </el-form-item> -->
        </el-form>
        <div class="img">
          <img src="@/assets/business/u6432.jpg" alt="" />
        </div>
      </div>
      <div class="card scene_data">
        <h3>身份证信息扫描</h3>
        <el-form ref="form" :model="form" style="height:120px" label-width="1rem">
          <!-- <el-form-item label="设备类型">
            <el-select v-model="form.name" placeholder="请选择"> </el-select>
          </el-form-item> -->
          <el-form-item label="摄像头位置">
            <el-select v-model="form.name" placeholder="请选择"> </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="cardSearchBtnClick">搜索</el-button>
          </el-form-item>
        </el-form>
        <div class="img">
          <img src="@/assets/business/u7965.jpg" alt="" />
        </div>
      </div>
      <div class="bill scene_data">
        <h3>票种扫描</h3>
        <el-form ref="form" :model="form" label-width="1rem">
          <el-form-item label="设备类型">
            <el-select v-model="form.name" placeholder="请选择"> </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="billSearchBtnClick">搜索</el-button>
          </el-form-item>
          <el-form-item label="摄像头位置">
            <el-select v-model="form.name" placeholder="请选择"> </el-select>
          </el-form-item>
        </el-form>
        <div class="img">
          <img src="@/assets/1.gif" alt="" />
        </div>
      </div>
      <div class="bysuccess">
        <img src="@/assets/business/u7816.png" alt="">
        <span class="Identify">身份识别成功</span>
        <a class="More_Button" @click="cardBtnClick">更多>>></a>
      </div>
      <div class="bysuccess2">
        <img src="@/assets/business/u7816.png" alt="">
        <span class="Identify">信息扫描如下</span>
        <a class="More_Button" @click="billBtnClick">更多>>></a>
      </div>
    </div>
    <Dialog :title="title" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close"></Dialog>
  </div>
</template>
<script>
import Dialog from '@/components/dialog'
export default {
  data: () => ({
    form: {},
    title: '',
    isShow: false,
    readOnly: true,
    dialogs: []
  }),
  created () { },
  methods: {
    faceBtnClick () {
      this.isShow = true
      this.title = '人脸识别'
      this.dialogs = [
        { label: '姓名', type: 'input' },
        { label: '购票时间', type: 'input' },
        { label: '证件号码', type: 'input' },
        { label: '民族', type: 'input' },
        { label: '常用证件', type: 'input' },
        { label: '联系人', type: 'input' },
        { label: '证件号码', type: 'input' },
        { label: '是否是观众', type: 'input' },
        { label: '国籍', type: 'input' }
      ]
    },
    cardBtnClick () {
      this.isShow = true
      this.title = '身份证信息扫描'
      this.dialogs = [
        { label: '姓名', type: 'input' },
        { label: '购票时间', type: 'input' },
        { label: '证件号码', type: 'input' },
        { label: '民族', type: 'input' },
        { label: '常用证件', type: 'input' },
        { label: '联系人', type: 'input' },
        { label: '证件号码', type: 'input' },
        { label: '是否是观众', type: 'input' },
        { label: '国籍', type: 'input' }
      ]
    },
    billBtnClick () {
      this.isShow = true
      this.title = '票种扫描'
      this.dialogs = [
        { label: '票务类型', type: 'input' },
        { label: '票务编号', type: 'input' },
        { label: '座位号', type: 'input' },
        { label: '区域', type: 'input' },
        { label: '购票时间', type: 'input' },
        { label: '人员入场时间', type: 'input' },
        { label: '信息入库时间', type: 'input' }
      ]
    },
    close () {
      this.isShow = false
    },
    cardSearchBtnClick() {
      console.log('搜索')
    },
    billSearchBtnClick() {
      console.log('搜索')
    }
  },
  components: { Dialog }
}
</script>
<style lang="scss">
.scene {
  width: 98%;
  // border: 0.01px solid #a7b6c2;
  margin: 0 auto;
  height: 99%;
  .scene_title {
    width: 98%;
    margin: 0 auto;
    line-height: 0.4rem;
    border-bottom: 0.01rem solid #3e5568;
    color: #fff;
    display: flex;
    padding: 0.1rem;
    box-sizing: border-box;
    img {
      width: 0.4rem;
      height: 0.4rem;
    }
    span {
      height: 100%;
      display: block;
      margin-left: 0.2rem;
      color: #6aeff4;
      font-size: 0.18rem;
    }
  }
  .scene_success{
    position: relative;
    .bysuccess{
      position: absolute;
      color: #ffff;
      bottom: -20%;
      left: 30%;
      display: flex;
      align-items: center;
      img{
        width: 32px;
        height: 32px;
      }
      span{
        margin-left: 20px;
        font-size: 16px;
        font-weight: 800;
      }
      .More_Button{
        margin-left: 20px;
        color: #169bd5;
        font-size: 16px;
        font-weight: 800;
      }
    }
    .bysuccess2{
      position: absolute;
      color: #ffff;
      bottom: -20%;
      right: 10%;
      display: flex;
      align-items: center;
      img{
        width: 32px;
        height: 32px;
      }
      span{
        margin-left: 20px;
        font-size: 16px;
        font-weight: 800;
      }
      .More_Button{
        margin-left: 20px;
        color: #169bd5;
        font-size: 16px;
        font-weight: 800;
      }
    }
  }
  .scene_datas {
    width: 80%;
    margin: 0.2rem auto 0;
    display: flex;
    justify-content: space-between;
    .scene_data {
      width: 30%;
      margin: 0 0.1rem;
      h3 {
        color: #6aeff4;
        font-weight: bold;
        font-size: 0.2rem;
        margin-bottom: 0.1rem;
      }
      .el-form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .el-form-item {
          width: 50% !important;
          margin-right: 0;
          margin-bottom: 0.2rem;
          .el-form-item__label {
            color: #fff;
          }
          .el-form-item__content {
            width: 100%;
            .el-button {
              margin-left: 0.2rem;
            }
            .el-input {
              width: 100%;
              input {
                background-color: rgb(2, 26, 63);
                border: none;
              }
            }
            .el-select {
              width: 100%;
              .el-input {
                width: 100%;
                input {
                  background-color: rgb(2, 26, 63);
                  border: none;
                }
              }
            }
          }
        }
      }
      .img {
        width: 400px;
        height: 250px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
</style>
