<template>
  <div class="approval">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @search="search" :formData="formData"></Elsearch>
    <div class="approval_body">
      <Eltable :tableHead="tableHead" :tableSettings="tableSettings" :tableDatas="tableDatas" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    </div>
    <el-dialog :title="title" :visible.sync="isShow" center>
      <div class="approval_title">
        <img src="@/assets/business/u2785.svg" alt="" />
        <h3>活动基本信息</h3>
      </div>
      <Elsearch :disabled='formdisabled' class="elDialogElsearchZero" :searchSettings="dialogs[0]" :formData="dialogData"></Elsearch>
      <div class="approval_title">
        <img src="@/assets/business/u2968.png" alt="" />
        <h3>活动安保单位信息</h3>
      </div>
      <Elsearch :disabled='formdisabled' :searchSettings="dialogs[1]" :formData="dialogData"></Elsearch>
      <div class="approval_title">
        <img src="@/assets/business/u3090.png" alt="" />
        <h3>活动参与人员</h3>
      </div>
      <!-- <Elsearch :searchSettings="dialogs[2]"></Elsearch> -->
      <Eltable  :tableHead="dialogsTableHead" :operateShow="false" :tableDatas="cylslist" :paginationShow="false"></Eltable>
      <div class="approval_title">
        <img src="@/assets/business/u3100.png" alt="" />
        <h3>活动任务</h3>
      </div>
      <Elsearch :disabled='formdisabled' :formData="dialogData" :searchSettings="dialogs[3]"></Elsearch>
      <div class="approval_title">
        <img src="@/assets/business/u3026.png" alt="" />
        <h3>售票信息</h3>
      </div>
      <Elsearch :disabled='formdisabled' :formData="dialogData" :searchSettings="dialogs[4]"></Elsearch>
      <div class="approval_title">
        <img src="@/assets/business/u3037.png" alt="" />
        <h3>制证信息</h3>
      </div>
      <Elsearch :disabled='formdisabled' :searchSettings="dialogs[5]" :formData="dialogData"></Elsearch>
      <Eltable :tableHead="dialogsTableHead1" :tableSettings="dialogsTableSettings" :tableDatas="fileDataList" @download="download" :paginationShow="false"></Eltable>
      <el-form class="elFormDialog" ref="form" :model="formData" label-width="auto">
        <el-form-item label="审批人">
          <el-input v-model="dialogData.spr" placeholder="请输入内容"></el-input>
        </el-form-item>
        <el-form-item label="审批时间">
          <el-date-picker v-model="dialogData.spsj" type="datetime" clearable value-format="yyyy-MM-dd HH:mm:ss" placeholder="选择日期时间"> </el-date-picker>
        </el-form-item>
        <el-form-item label="审批意见">
          <!-- <el-button type="success" plain @click="examineYes">审批通过</el-button>
          <el-button type="warning" plain  @click="examineNo">审批不通过</el-button> -->
          <el-radio v-model="dialogData.spjg" :label="1" border>审批通过</el-radio>
          <el-radio v-model="dialogData.spjg" :label="0" border>审批不通过</el-radio>
          <el-input type="textarea" v-if="dialogData.spjg===0?true : false" :disabled="dialogData.spjg===1?true : false" v-model="dialogData.reason" ref="textarea"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="Submit">确 定</el-button>
        <el-button @click="close" class="closeStyle">取 消</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import { selectAll, selectAllGajg, selectAllone, update } from '@/api/activity/approval/index'
// import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    check: [],
    title: '',
    form: {},
    formdisabled: true,
    dialogData: {},
    iSloading: true, // 是否显示表格加载状态
    isShow: false,
    readOnly: true,
    disabled: true,
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    searchSettings: [
      { placeholder: '所属分局', type: 'cascader', name: 'gajg', props: { value: 'orgid', label: 'orgname', emitPath: false }, options: [] },
      { placeholder: '申请时间', type: 'data', name: 'jbxxRqsj' },
      { placeholder: '活动类型', type: 'select', name: 'hdlx', options: [{ label: '体育比赛活动', value: '1' }, { label: '文艺演出', value: '2' }, { label: '展览会', value: '3' }, { label: '晚会', value: '4' }, { label: '招聘会', value: '5' }] },
      { placeholder: '审批状态', type: 'select', name: 'spjg', options: [{ label: '审批通过', value: 1 }, { label: '审批不通过', value: 0 }, { label: '待审批', value: -1 }] },
      { placeholder: '请输入活动编码、活动名称、场馆名称', type: 'input', name: 'str' }
    ],
    formData: { // 查询输入框搜索数据
      gajg: '',
      // jbxxRqsj: '',
      hdlx: '',
      spjg: null,
      str: ''
    },
    searchBtn: [
      { name: '查询', type: 'search' }
    ],
    tableHead: [
      { label: '所属分局', prop: 'gajgmc' },
      { label: '活动编号', prop: 'hdbh' },
      { label: '活动名称', prop: 'hdmc' },
      {
        label: '活动类型',
        prop: 'hdlx',
        formatter: (row, column) => {
          switch (row.hdlx) {
            case '1':
              return '体育比赛活动'
            case '2':
              return '文艺演出'
            case '3':
              return '展览会'
            case '4':
              return '晚会'
            case '5':
              return '招聘会'
          }
        }
      },
      { label: '人数', prop: 'rs' },
      { label: '场馆名称', prop: 'cgDzmc' },
      { label: '主办单位', prop: 'jbxxZbdw' },
      { label: '举办日期', prop: 'jbxxKsrqsj' },
      {
        label: '审批状态',
        prop: 'spjg',
        formatter: (row, column) => {
          switch (row.spjg) {
            case -1:
              return '待审批'
            case 1:
              return '审批通过'
            case 0:
              return '审批不通过'
          }
        }
      }
    ],
    dialogsTableHead1: [
      { label: '序号', prop: 'wjbh' },
      { label: '文件名称', prop: 'wjmc' },
      { label: '文件格式', prop: 'wjgs' },
      { label: '文件大小', prop: 'wjdx' }
    ],
    dialogsTableHead: [
      { label: '序号', prop: 'bh' },
      { label: '活动参与人员类型', prop: 'cyryLx' },
      { label: '活动参与人员编号', prop: 'cyryBh' }
    ],
    optionsdata: [],
    dialogs: [
      [
        { placeholder: '所属分局', type: 'select', label: '所属分局', name: 'ssfj', options: [], selectChanged: true },
        { placeholder: '所属派出所', type: 'select', label: '所属派出所', name: 'sspcs', options: [] },
        { placeholder: '活动编号', type: 'input', label: '活动编号', name: 'hdbh' },
        { placeholder: '活动名称', type: 'input', label: '活动名称', name: 'hdmc' },
        { placeholder: '活动类型', type: 'select', label: '活动类型', name: 'hdlx', options: [{ label: '体育比赛活动', value: '1' }, { label: '文艺演出', value: '2' }, { label: '展览会', value: '3' }, { label: '晚会', value: '4' }, { label: '招聘会', value: '5' }] },
        { placeholder: '参加活动的人数', type: 'input', label: '人数', name: 'rs' },
        { placeholder: '场馆编码', type: 'input', label: '场馆编码', name: 'cgBh' },
        { placeholder: '地址名称', type: 'input', label: '地址名称', name: 'cgDzmc' },
        { placeholder: '主办单位', type: 'input', label: '主办单位', name: 'jbxxZbdw' },
        { placeholder: '承办单位', type: 'input', label: '承办单位', name: 'jbxxCbdw' },
        { placeholder: '举办日期', type: 'datas', label: '举办日期', name: 'jbxxRqsj', valueFormat: true },
        { placeholder: '申请日期', type: 'datas', label: '申请日期', name: 'sqxxRqsj', valueFormat: true },
        { placeholder: '地点名称', type: 'input', label: '地点名称', name: 'jbxxDdmc' },
        { placeholder: '活动日程编码', type: 'input', label: '活动日程编码', name: 'hdrcbh' },
        { placeholder: '申请人姓名', type: 'input', label: '申请人姓名', name: 'sqxxXm' },
        { placeholder: '更新时间', type: 'datetime', label: '更新时间', name: 'gxsj' },
        { placeholder: '联系人姓名', type: 'input', label: '联系人姓名', name: 'lxrxxXm' },
        { placeholder: '联系电话', type: 'input', label: '联系电话', name: 'lxrxxLxdh' },
        { placeholder: '活动日程', type: 'input', label: '活动日程', name: 'hdrc' },
        { placeholder: '活动内容', type: 'textarea', label: '活动内容', name: 'hdnr' }
      ],
      [
        { placeholder: '单位名称', type: 'input', label: '单位名称', name: 'hdabdwxxDwmc' },
        { placeholder: '公安机关机构代码', type: 'input', label: '公安机关机构代码', name: 'hdabdwxxGajgjgdm' }
      ],
      [
        { placeholder: '活动参与人员类型', type: 'input', label: '活动参与人员类型' },
        { placeholder: '活动参与人员编号', type: 'input', label: '活动参与人员编号' }
      ],
      [
        { placeholder: '活动任务类型', type: 'select', label: '活动任务类型', name: 'hdrwLx', options: [{ label: '警力部署任务', value: '1' }, { label: '安检部署任务', value: '2' }, { label: '搜排爆任务', value: '3' }, { label: '应急处置任务', value: '4' }] },
        { placeholder: '活动任务编号', type: 'input', label: '活动任务编号', name: 'hdrwBh' }
      ],
      [
        { placeholder: '可发售票总数', type: 'input', label: '可发售票总数', name: 'spxxKfszs' },
        { placeholder: '实际发售票总数', type: 'input', label: '实际发售票总数', name: 'spxxSjfspzs' },
        { placeholder: '实际入场购票人总数', type: 'input', label: '实际入场购票人总数', name: 'spxxSjrcgprs' }
      ],
      [
        { placeholder: '可发制证总数', type: 'input', label: '可发制证总数', name: 'zzxxKzzzs' },
        { placeholder: '实际制证总数', type: 'input', label: '实际制证总数', name: 'zzxxSjzzzs' },
        { placeholder: '实际入场持证人总数', type: 'input', label: '实际入场持证人总数', name: 'zzxxSjrcczrzs' }
      ]
    ],
    formData1: { },
    // tableDatas: Array(5).fill({
    //   input: '123'
    // }),
    tableDatas: [],
    cylslist: [],
    fileDataList: [],
    tableSettings: [
      { name: '审批', type: 'detailed' }
    ],
    dialogsTableSettings: [
      { name: '下载', type: 'download' }
    ]
  }),
  created () {
    this.selectAllData()
    this.selectAllGajg()
  },
  methods: {
    selectAllGajg() {
      const that = this
      this.optionsdata = []
      selectAllGajg().then(res => {
        if (res.code === 1) {
          that.searchSettings[0].options = this.getTreeData(res.data)
          for (let i = 0; i < res.data.length; i++) {
            const gajg = res.data[i]
            gajg.label = gajg.orgname
            gajg.value = gajg.orgid
            that.optionsdata.push(gajg)
            const check = res.data[i].children
            for (const key in check) {
              if (check[key] !== undefined) {
                const obj = {}
                obj.value = check[key].orgid
                obj.label = check[key].orgname
                this.check.push(obj)
              }
            }
          }
          this.dialogs[0][0].options = this.optionsdata
          this.dialogs[0][1].options = this.check
        }
      })
    },
    getTreeData(data) {
      // 循环遍历json数据
      for (var i = 0; i < data.length; i++) {
        if (data[i].children.length < 1) {
          // children若为空数组，则将children设为undefined
          data[i].children = undefined
        } else {
          // children若不为空数组，则继续 递归调用 本方法
          this.getTreeData(data[i].children)
        }
      }
      return data
    },
    dialogGajg() {

    },
    // selectChanged(code, arr) {
    //   const that = this
    //   this.children = []
    //   for (let i = 0; i < arr.length; i++) {
    //     if (code === arr[i].orgid) {
    //       const arr1 = arr[i].children
    //       if (arr1.length < 1) {
    //         that.formData.sspcs = ''
    //       } else {
    //         for (let j = 0; j < arr1.length; j++) {
    //           const pcs = arr1[j]
    //           pcs.label = pcs.orgname
    //           pcs.value = pcs.orgid
    //           that.children.push(pcs)
    //         }
    //       }
    //     }
    //   }
    //   this.dialogs[0][1].options = this.children
    // },
    Submit() {
      const data = this.dialogData
      if (data.spjg === 1) {
        data.reason = ''
      }
      delete data.jbxxRqsj
      delete data.sqxxRqsj
      update(data).then(res => {
        if (res.code === 1) {
          this.$message.success('审批成功')
          this.selectAllData()
          this.isShow = false
        } else {
          this.$message.error('审批失败')
        }
      })
    },
    // add (row) {
    //   console.log(row)
    //   this.readOnly = false
    //   this.title = '情报判研信息新增'
    //   this.isShow = true
    // },
    async search() {
      this.iSloading = true
      const paramsData = { ...this.formData, ...this.pagination }
      const { data: res } = await selectAll(paramsData)
      this.tableDatas = res.records
      this.pagination.total = res.total
      Object.assign(this.$data.formData, this.$options.data().formData)
      this.iSloading = false
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      this.pagination.size = val
      delete this.pagination.total
      this.search()
    },
    // 翻页
    pageChange(val) {
      this.pagination.current = val
      delete this.pagination.total
      this.search()
    },
    detailed (row) {
      selectAllone(row.hdbh).then(res => {
        if (res.code === 1) {
          const arr = []; const arr1 = []
          const data = res.data
          arr.push(data.jbxxKsrqsj, data.jbxxJsrqsj)
          arr1.push(data.sqxxKsrqsj, data.sqxxJsrqsj)
          data.jbxxRqsj = arr
          data.sqxxRqsj = arr1
          if (data.pareorgid === data.orgid) {
            data.ssfj = data.orgid
            data.sspcs = ''
          } else {
            data.ssfj = data.pareorgid
            data.sspcs = data.orgid
          }
          this.cylslist = data.cyls
          this.fileDataList = data.hdwjxxes
          this.dialogData = { ...data }
          this.readOnly = true
          this.title = '审批详情'
          this.isShow = true
        } else {
          this.$message.error('查询单条信息失败！')
        }
      })
    },
    close () {
      this.isShow = false
      this.$refs.form.resetFields()
    },
    download (row) {
      console.log(row)
    },
    examineNo () {
      this.disabled = false
      this.$refs.textarea.focus()
    },
    async selectAllData() {
      const { data: res } = await selectAll(this.paramsData)
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: { Elsearch, Eltable }
}
</script>
<style lang="scss">
.approval {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // padding-right: 0.2rem;
  border: 0.01px solid #a7b6c2;
  padding: 0.2rem ;
  box-sizing: border-box;
  .el-form {
    height: 0.4rem;
    .btn {
      margin-right: 0;
    }
    .el-cascader{
      width: 100%;
    }
  }
  .approval_body {
    width: 100%;
    margin-top: 0.2rem;
  }
  .el-dialog__wrapper {
    .el-dialog {
      background-color: rgb(2, 16, 47);
      .el-dialog__header {
        background-color: rgb(2, 25, 60);
        .el-dialog__title {
          color: rgb(106, 239, 244);
        }
      }
      .el-dialog__body {
        .approval_title {
          width: 100%;
          margin: 0 auto 0.2rem;
          line-height: 0.3rem;
          color: #fff;
          display: flex;
          padding: 0.1rem;
          box-sizing: border-box;
          border-bottom: 1px solid #20324c;
          img {
            width: 0.3rem;
            height: 0.3rem;
          }
          h3 {
            color: #34e1f4;
            margin-left: 0.1rem;
          }
        }
        .elDialogElsearchZero {
          .el-form-item:last-child {
            width: 100% !important;
          }
        }
        .el-form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          height: auto;
          .el-form-item {
            width: 40% !important;
            margin-right: 0;
            margin-bottom: 0.2rem;
            .el-form-item__label {
              color: #fff;
            }
            .el-form-item__content {
              width: auto;
              .el-input {
                width: 100%;
                input {
                  background-color: rgb(5, 33, 73);
                  border: none;
                }
              }
            }
            .el-form-item__label-wrap {
              .el-form-item__label {
                width: 1.4rem !important;
              }
            }
          }
        }
        .elFormDialog {
          margin-top: 0.2rem;
          .el-form-item:last-child {
            width: 100% !important;
            margin-bottom: 0;
            .el-form-item__content {
              display: flex;
              height: 0.4rem;
              .el-textarea {
                margin-left: 0.2rem;
                height: 100%;
                textarea {
                  height: 100%;
                }
              }
              .el-radio.is-bordered{
                color:#ffffff;
                border:none
              }
            }
          }
        }
      }
    }
  }
}
.el-date-picker {
  .el-picker-panel__body-wrapper {
    .el-picker-panel__body {
      .el-date-picker__time-header {
        .el-date-picker__editor-wrap {
          .el-input {
            input {
              color: #000 !important;
            }
          }
        }
      }
    }
  }
}
</style>
