<template>
  <div class="policeRoute">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @add="add" @search="search" :formData="formData"></Elsearch>
    <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @modify="modify" @del="del" @detailed="detailed" @download="download" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    <div class="policeRoute_foot" v-show="isShow">
      <BdMap :center="center" :zoom="zoom" v-if="mapSHow" ref="bdMap"></BdMap>
      <div class="foot_table" v-if="tableShow">
        <h3>{{ title }}</h3>
        <Elsearch :searchSettings="dialogs" :formData="dialogData"  :rules="rules" :readOnly="readOnly" ref="dialog"></Elsearch>
        <div style="margin-bottom: 10px;">
          <el-button type="primary" v-show="!readOnly" @click="Submit">保存</el-button>
          <el-button v-show="!readOnly" @click="close">取消</el-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import BdMap from '@/components/management_com/map'
import { selectAll, update, insert, delData } from '@/api/management/policeRoutes/policeRoute'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    title: '',
    isShow: false,
    readOnly: true,
    mapSHow: false,
    tableShow: false,
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      jwlxJwlxbh: '',
      jwlxGajgjgdm: '',
      jwlxGajgmc: ''
    },
    dialogData: { // 弹出框数据
      xxzjbh: '',
      jwlxGajgmc: '',
      jwlxLxmc: '',
      jwlxKssj: '',
      jwlxJwlxbh: '',
      jwlxJssj: '',
      jwlxGajgjgdm: ''
    },
    rules: {
      xxzjbh: [
        { required: true, message: '请输入信息主键编号', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      jwlxGajgmc: [
        { required: true, message: '请输入公安机关名称', trigger: 'blur' }
      ],
      jwlxLxmc: [
        { required: true, message: '请输入安保路线', trigger: 'blur' }
      ],
      jwlxJwlxbh: [
        { required: true, message: '请输入安保路线编号', trigger: 'blur' }
      ],
      jwlxJssj: [
        { required: true, message: '请输入结束时间', trigger: 'blur' }
      ],
      jwlxGajgjgdm: [
        { required: true, message: '请输入公安机关代码', trigger: 'blur' }
      ],
      jwlxKssj: [
        { required: true, message: '请输入开始时间', trigger: 'blur' }
      ]
    },
    form: {},
    paramsData: {},
    searchSettings: [
      { placeholder: '安保路线编号', type: 'input', name: 'jwlxJwlxbh' },
      { placeholder: '公安机关机构代码', type: 'input', name: 'jwlxGajgjgdm' },
      { placeholder: '公安机关名称', type: 'input', name: 'jwlxGajgmc' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableHead: [
      { label: '信息主键编号', prop: 'xxzjbh' },
      { label: '安保路线', prop: 'jwlxLxmc' },
      { label: '安保路线编号', prop: 'jwlxJwlxbh' },
      { label: '公安机关机构代码', prop: 'jwlxGajgjgdm' },
      { label: '公安机关名称', prop: 'jwlxGajgmc' },
      { label: '开始时间', prop: 'jwlxKssj' },
      { label: '结束时间', prop: 'jwlxJssj' }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' },
      { name: '查看新增路线', type: 'download' }
    ],
    dialogs: [
      { label: '信息主键编号', type: 'input', name: 'xxzjbh' },
      { label: '公安机关名称', type: 'input', name: 'jwlxGajgmc' },
      { label: '安保路线', type: 'input', name: 'jwlxLxmc' },
      { label: '开始时间', type: 'datetime', name: 'jwlxKssj' },
      { label: '安保路线编号', type: 'input', name: 'jwlxJwlxbh' },
      { label: '结束时间', type: 'datetime', name: 'jwlxJssj' },
      { label: '公安机关机构代码', type: 'input', name: 'jwlxGajgjgdm' }
    ],
    center: { lng: 112.98941034779713, lat: 28.18392487724562 },
    zoom: 17
  }),
  created () {
    this.selectAll()
  },
  components: { Elsearch, Eltable, BdMap },
  methods: {
    async search() {
      this.iSloading = true
      // console.log({ ...this.formData })
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      // this.iSloading = false
    },
    add (row) {
      Object.assign(this.$data.dialogData, this.$options.data().dialogData)
      this.title = '安保路线新增'
      this.readOnly = false
      this.isShow = true
      this.mapSHow = true
      this.tableShow = true
      this.$nextTick(() => {
        this.$refs.bdMap.$el.style.width = '45%'
      })
    },
    modify (data) {
      console.log(data)
      this.dialogData = { ...data }
      this.title = '安保路线修改'
      this.readOnly = false
      this.isShow = true
      this.mapSHow = true
      this.tableShow = true
      this.$nextTick(() => {
        this.$refs.bdMap.$el.style.width = '45%'
      })
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    detailed (data) {
      console.log(data)
      this.dialogData = { ...data }
      this.title = '安保路线详情'
      this.readOnly = true
      this.isShow = true
      this.mapSHow = true
      this.tableShow = true
      this.$nextTick(() => {
        this.$refs.bdMap.$el.style.width = '45%'
      })
    },
    download () {
      this.isShow = true
      this.mapSHow = true
      this.tableShow = false
      this.$nextTick(() => {
        this.$refs.bdMap.$el.style.width = '100%'
      })
    },
    close () {
      this.isShow = false
      this.$refs.dialog.$refs.form.resetFields()
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    },
    Submit() {
      const data = this.dialogData
      this.$refs.dialog.$refs.form.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '安保路线新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '安保路线修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    }
  }
}
</script>
<style lang="scss">
.policeRoute {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .table {
    margin: 0.2rem 0;
  }
  .policeRoute_foot {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid #797979;
    padding: 0.2rem;
    box-sizing: border-box;
    .bm-view,
    .foot_table {
      width: 45%;
    }
    .foot_table {
      background-color: #010f2e;
      text-align: center;
      h3 {
        color: #4cbfbf;
        font-size: 0.16rem;
        margin-bottom: 0.2rem;
        background-color: #00173c;
        height: 0.4rem;
        line-height: 0.4rem;
      }
      .el-form {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 0.2rem;
        .el-form-item {
          width: 45%;
          margin-bottom: 0.2rem;
          .el-form-item__label-wrap {
            // margin-left: 28px;
            .el-form-item__label {
              width: 1.4rem !important;
            }
          }
          .el-form-item__content {
            margin-left: 1.4rem;
            width: auto;
          }
        }
      }
    }
  }
}
</style>
