<template>
  <div class="trail">
    <Elsearch :searchSettings="searchSettings" @add="add" :searchBtn="searchBtn" @search="search" :formData="formData"></Elsearch>
    <Eltable :tableHead="tableHead" :tableSettings="tableSettings" :tableDatas="tableDatas" @modify="modify" @del="del" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    <Dialog :title="title" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close" @Submit="Submit" :isDetermine='isDetermine' :rules="rules" :dialogData="dialogData" ref="dialog1"></Dialog>
  </div>
</template>
<script>
import Eltable from '@/components/table'
import Elsearch from '@/components/search'
import Dialog from '@/components/dialog'
import { selectAll, update, insert, delData } from '@/api/management/policeRoutes/policeTrail'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    title: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      jwlxbh: '',
      lxddxxDdbh: '',
      lxddxxDqjd: '',
      lxddxxDqwd: ''
    },
    dialogData: { // 弹出框数据
      xxzjbh: '',
      jwlxbh: '',
      lxddxxDdbh: '',
      lxddxxDqjd: '',
      lxddxxDqwd: '',
      lxddxxDdxx: ''
    },
    rules: {
      lxddxxDdxx: [
        { required: true, message: '请输入路线顶点信息', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      lxddxxDqjd: [
        { required: true, message: '请输入地球经度', trigger: 'blur' }
      ],
      lxddxxDqwd: [
        { required: true, message: '请输入地球纬度', trigger: 'blur' }
      ],
      lxddxxDdbh: [
        { required: true, message: '请输入顶点编号', trigger: 'blur' }
      ],
      jwlxbh: [
        { required: true, message: '请选择安保路线编号', trigger: 'blur' }
      ],
      xxzjbh: [
        { required: true, message: '请输入信息主键编号', trigger: 'blur' }
      ]
    },
    form: {},
    paramsData: {},
    tableHead: [
      { label: '信息主键编号', prop: 'xxzjbh' },
      {
        label: '安保路线编号',
        prop: 'jwlxbh',
        formatter: (row, column) => {
          switch (row.jwlxbh) {
            case '1':
              return '测试1'
            case '2':
              return '测试2'
          }
        }
      },
      { label: '路线顶点信息', prop: 'lxddxxDdxx' },
      { label: '顶点编号', prop: 'lxddxxDdbh' },
      { label: '地球经度', prop: 'lxddxxDqjd' },
      { label: '地球纬度', prop: 'lxddxxDqwd' }
    ],
    tableDatas: [],
    searchSettings: [
      { placeholder: '安保路线编号', type: 'select', name: 'jwlxbh', options: [{ label: '测试1', value: '1' }, { label: '测试2', value: '2' }] },
      { placeholder: '顶点编号', type: 'input', name: 'lxddxxDdbh' },
      { placeholder: '地球经度', type: 'input', name: 'lxddxxDqjd' },
      { placeholder: '地球纬度', type: 'input', name: 'lxddxxDqwd' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' }
    ],
    dialogs: [
      { label: '信息主键编号', type: 'input', name: 'xxzjbh' },
      { label: '安保路线编号', type: 'select', name: 'jwlxbh', options: [{ label: '测试1', value: '1' }, { label: '测试2', value: '2' }] },
      { label: '路线顶点信息', type: 'input', name: 'lxddxxDdxx' },
      { label: '顶点编号', type: 'input', name: 'lxddxxDdbh' },
      { label: '地球经度', type: 'input', name: 'lxddxxDqjd' },
      { label: '地球纬度', type: 'input', name: 'lxddxxDqwd' }
    ]
  }),
  created () {
    this.selectAll()
  },
  methods: {
    async search() {
      this.iSloading = true
      // console.log({ ...this.formData })
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      // this.iSloading = false
    },
    add (row) {
      Object.assign(this.dialogData, this.$options.data().dialogData)
      this.isDetermine = true
      this.readOnly = false
      this.title = '安保路线轨迹信息新增'
      this.isShow = true
    },
    modify (row) {
      this.dialogData = { ...row }
      this.isDetermine = true
      this.readOnly = false
      this.title = '安保路线轨迹信息修改'
      this.isShow = true
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    close () {
      this.isShow = false
      this.$refs.dialog1.$refs.dialogForm.resetFields()
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    Submit(data) {
      this.$refs.dialog1.$refs.dialogForm.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '安保路线轨迹信息新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '安保路线轨迹信息修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: {
    Eltable, Elsearch, Dialog
  }
}
</script>
<style lang="scss">
.trail {
  .table {
    margin-top: 0.2rem;
  }
}
</style>
