<template>
  <div class="journal">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" :formData="formData"  @search="search" ></Elsearch>
    <Eltable :tableHead="tableHead" :iSloading="iSloading" :tableDatas="tableDatas" :operateShow="false" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import { selectAll } from '@/api/admin/journal/index'
export default {
  data: () => ({
    iSloading: false,
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      peopleName: '',
      operation: '',
      rzsj: []
    },
    searchSettings: [
      { placeholder: '请输入用户名', type: 'input', name: 'peopleName' },
      { placeholder: '请输入操作内容', type: 'input', name: 'operation' },
      { placeholder: '', type: 'datas', name: 'rzsj' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' }
    ],
    tableHead: [
      { label: '序号', prop: 'pkId' },
      { label: '日志时间', prop: 'gmtCreate' },
      { label: '操作人', prop: 'peopleName' },
      { label: '内容', prop: 'operation' }
    ],
    tableDatas: []
  }),
  created () {
    this.selectAll()
  },
  watch: {
    'formData.rzsj': {
      handler(newV, oldV) {
        this.formData.startTime = newV[0]
        this.formData.endTime = newV[1]
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    search() {
      const params = {}
      params.peopleName = this.formData.peopleName
      params.operation = this.formData.operation
      if (this.formData.startTime !== undefined && this.formData.endTime !== undefined) {
        params.Kssj = this.formData.startTime
        params.Jssj = this.formData.endTime
      }
      this.iSloading = true
      this.selectAll(params)
      Object.assign(this.$data.formData, this.$options.data().formData)
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      this.pagination.current = val
      this.selectAll()
    },
    async selectAll(searchData) {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...searchData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: { Elsearch, Eltable }
}
</script>
<style lang="scss">
.journal {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .table {
    margin-top: 0.2rem;
  }
}
</style>
