<template>
  <div class="pointPeople">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn"  @add="add" @search="search" :formData="formData"></Elsearch>
    <div class="pointPeople_table">
      <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @modify="modify" @del="del" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    </div>
    <!-- <Elsearch class="message" :searchSettings="mainMessage"></Elsearch>
    <el-radio-group v-model="radio" v-for="(li, index) in lis" :key="index" @change="clickRadio">
      <el-radio :label="li.path">{{ li.label }}</el-radio>
    </el-radio-group>
    <router-view></router-view> -->
    <el-dialog :title="title" :visible.sync="isShow" center>
      <h3>基础信息</h3>
      <el-form ref="form" :model="form" :rules="formRules"  label-width="auto" :validate-on-rule-change="false">
        <el-form-item
        v-for="(item, index) in dialogsTitle" :key="index"
        :label="item.label" :prop="item.name"
          >
          <el-input v-if="item.type == 'input'" v-model="form[item.name]" :readonly="readOnly" :type="item.type"></el-input>
          <el-select v-if="item.type == 'selectLx'" v-model="form[item.name]" :readonly="readOnly" placeholder="请选择" @change="clickSelect">
            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"> </el-option>
          </el-select>
          <el-select v-if="item.type == 'select'" v-model="form[item.name]" :disabled ="readOnly" placeholder="请选择" >
            <el-option v-for="op in item.options" :key="op.value" :label="op.label" :value="op.value"> </el-option>
          </el-select>
        </el-form-item>
      <!-- </el-form> -->
        <template v-if="Show">
          <h3 style="width:100%;margin-bottom:20px">{{ h3 }}</h3>
          <!-- <el-form ref="form" :model="form" label-width="auto"> -->
            <el-form-item :label="item.label" v-for="item in dialogs" :key="item.label" :prop="item.name">
              <template v-if="item.label!==''">
                <el-input v-if="item.type==='input'"  v-model="form[item.name]" :readonly="readOnly" :type="item.type"></el-input>
                <el-date-picker v-else-if="item.type === 'date'" value-format="yyyy-MM-dd" v-model="form[item.name]" type="date" placeholder="选择日期" :readonly="readOnly">
                </el-date-picker>
                <el-time-picker v-else-if="item.type === 'time'" v-model="form[item.name]" placeholder="选择时间" :readonly="readOnly" value-format="HH:mm:ss">
                </el-time-picker>
                <el-date-picker v-else-if="item.type === 'datetime'" value-format="yyyy-MM-dd HH:mm:ss"  v-model="form[item.name]" type="datetime" placeholder="选择日期时间" :readonly="readOnly">
                </el-date-picker>
                <el-select v-else-if="item.type == 'select'" v-model="form[item.name]" :disabled="readOnly" placeholder="请选择" >
                  <el-option v-for="op in item.options" :key="op.value" :label="op.label" :value="op.value"> </el-option>
                </el-select>
              </template>
            </el-form-item>
        </template>
      </el-form>
      <span slot="footer" class="dialog-footer" v-if="isDetermine">
        <el-button type="primary" @click="Submit">确 定</el-button>
        <el-button @click="close" class="closeStyle">取 消</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import Eltable from '@/components/table'
import Elsearch from '@/components/search'
import { selectAll, selectOne, delData, update, insert } from '@/api/management/pointPeople/index'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    title: '',
    h3: '',
    radio: '/management/pointPeople/pointPeopleAviation',
    Show: false,
    isShow: false,
    readOnly: true,
    iSloading: false, // 是否显示表格加载状态
    isDetermine: true, // 是否显示dialog底部按钮
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      gmsfhm: '',
      xm: ''
    },
    searchSettings: [
      { placeholder: '公民身份证号码', type: 'input', name: 'gmsfhm' },
      { placeholder: '姓名', type: 'input', name: 'xm' }
    ],
    tableHead: [
      { label: '常用证件代码', prop: 'cyzjdm' },
      { label: '姓名', prop: 'xm' },
      { label: '民族代码', prop: 'mzdm' },
      { label: '公民身份证号码', prop: 'gmsfhm' },
      { label: '性别代码', prop: 'xbdm' },
      { label: '国籍代码', prop: 'gjdm' },
      { label: '常用证件号码', prop: 'zjhm' }
    ],
    // mainMessage: [
    //   { label: '常用证件代码', type: 'input' },
    //   { label: '姓名', type: 'input' },
    //   { label: '民族代码', type: 'input' },
    //   { label: '公民身份证号码', type: 'input' },
    //   { label: '性别代码', type: 'input' },
    //   { label: '国籍代码', type: 'input' },
    //   { label: '常用证件号码', type: 'input' }
    // ],
    messages: [],
    btns: [],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    dialogsTitle: [
      { label: '常用证件代码', type: 'input', name: 'cyzjdm' },
      { label: '证件号码', type: 'input', name: 'zjhm' },
      { label: '公民身份证号码', type: 'input', name: 'gmsfhm' },
      { label: '姓名', type: 'input', name: 'xm' },
      { label: '性别代码', type: 'select', name: 'xbdm', options: [{ label: '男', value: '1' }, { label: '女', value: '0' }] },
      { label: '国籍代码', type: 'input', name: 'gjdm' },
      { label: '民族代码', type: 'input', name: 'mzdm' },
      { label: '重点人员编号', type: 'input', name: 'zdrybh' },
      { label: '动态信息类型', type: 'selectLx', name: 'dtxxlx' }
    ],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ],
    tableDatas: [],
    dialogs: [],
    options: [{
      value: '1',
      label: '民航旅客订票'
    }, {
      value: '2',
      label: '民航旅客离港'
    }, {
      value: '3',
      label: '民航旅客退票'
    }, {
      value: '4',
      label: '铁路订票'
    }, {
      value: '5',
      label: '铁路乘车'
    }, {
      value: '6',
      label: '铁路退票'
    }, {
      value: '7',
      label: '公路客运购票'
    }, {
      value: '8',
      label: '公路客运退票'
    }, {
      value: '9',
      label: '公路客运验票'
    }, {
      value: '10',
      label: '公安检查站人员检查'
    }, {
      value: '11',
      label: '旅客住宿'
    }, {
      value: '12',
      label: '轮渡订票'
    }, {
      value: '13',
      label: '轮渡退票'
    }, {
      value: '14',
      label: '网吧上网'
    }, {
      value: '15',
      label: '人像识别'
    }],
    lis: [
      { label: '民航旅客信息', path: '/management/pointPeople/pointPeopleAviation' },
      { label: '铁路信息', path: '/management/pointPeople/pointPeopleRailway' },
      { label: '公路客运购票信息', path: '/management/pointPeople/pointPeopleBus' },
      { label: '公安检查站人员检查', path: '/management/pointPeople/pointPeopleCheckpoint' },
      { label: '旅馆住宿信息', path: '/management/pointPeople/pointPeopleHotel' },
      { label: '轮渡信息', path: '/management/pointPeople/pointPeopleShip' },
      { label: '网吧上网', path: '/management/pointPeople/pointPeopleInternetBar' },
      { label: '人像识别', path: '/management/pointPeople/pointPeoplePortrait' }
    ],
    form: {
      zdrybh: null,
      cyzjdm: null,
      zjhm: null,
      gmsfhm: null,
      xm: null,
      xbdm: null,
      gjdm: null,
      mzdm: null,
      dtxxlx: null,
      mhcxHbh: null,
      mhcxZwh: null,
      mhcxCfRq: null,
      mhcxCfSj: null,
      mhcxCfJcdm: null,
      mhcxDdRq: null,
      mhcxDdSj: null,
      mhcxDdJcdm: null,
      tlcxCc: null,
      tlcxCxh: null,
      tlcxZwh: null,
      tlcxCfRq: null,
      tlcxCfSj: null,
      tlcxCfCz: null,
      tlcxDdRq: null,
      tlcxDdSj: null,
      tlcxDdCz: null,
      glkyKyz: null,
      glkyKybh: null,
      glkyZwh: null,
      glkyCfRq: null,
      glkyCfSj: null,
      glkyCfKyz: null,
      glkyDdRq: null,
      glkyDdSj: null,
      glkyDdKyz: null,
      ldcxLdh: null,
      ldcxCfRq: null,
      ldcxCfSj: null,
      ldcxCfMt: null,
      ldcxDdRq: null,
      ldcxDdSj: null,
      ldcxDdMt: null,
      gajczJczbm: null,
      gajczJczwz: null,
      gajczCysj: null,
      gajczCrlx: null,
      lgzsLgbm: null,
      lgzsLgmc: null,
      lgzsRzfh: null,
      lgzsRzsj: null,
      lgzsTfsj: null,
      wbswYycsbm: null,
      wbswYycsDwmc: null,
      wbswYycsDzmc: null,
      wbswKssj: null,
      wbswJssj: null,
      rxsbSblx: null,
      rxsbSpsbbm: null,
      rxsbSbmc: null,
      rxsbJsfx: null,
      rxsbSbdz: null,
      rxsbZpsj: null,
      rxsbTpurl: null,
      dqjd: null,
      dqwd: null,
      cjsj: null,
      xxrksj: null
    }
  }),
  computed: {
    formRules () {
      const rules = {}
      this.dialogsTitle.forEach((item) => {
        rules[item.name] = []
        if (['date', 'select', 'selectLx', 'time', 'datetime'].includes(item.type)) {
          rules[item.name].push({
            required: true,
            trigger: 'blur',
            message: '请选择' + item.label
          })
        } else if (item.type !== '') {
          rules[item.name].push({
            required: true,
            trigger: 'blur',
            message: '请输入' + item.label
          })
        }
      })
      this.dialogs.forEach((item) => {
        rules[item.name] = []
        if (['date', 'select', 'selectLx', 'time', 'datetime'].includes(item.type)) {
          rules[item.name].push({
            required: true,
            trigger: 'blur',
            message: '请选择' + item.label
          })
        } else if (item.type !== '') {
          rules[item.name].push({
            required: true,
            trigger: 'blur',
            message: '请输入' + item.label
          })
        }
      })
      return rules
    }
  },
  created () {
    this.selectAll()
  },
  methods: {
    async search() {
      this.iSloading = true
      // console.log({ ...this.formData })
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      // this.iSloading = false
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    detailed(data) {
      selectOne(data.id).then((res) => {
        if (res.code === 1) {
          this.form = res.data
          this.title = '重点人员详情'
          this.readOnly = true
          this.isShow = true
          this.isDetermine = false
          this.form.dtxxlx = ''
          // this.title = ''
          this.h3 = ''
          this.dialogs = []
        } else {
          this.$message.error('查询数据失败')
        }
      })
    },
    modify(data) {
      selectOne(data.id).then((res) => {
        if (res.code === 1) {
          this.form = res.data
          this.title = '重点人员信息修改'
          this.readOnly = false
          this.isShow = true
          this.isDetermine = true
          this.form.dtxxlx = ''
          // this.title = ''
          this.h3 = ''
          this.dialogs = []
        } else {
          this.$message.error('查询数据失败')
        }
      })
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    add (row) {
      Object.assign(this.form, this.$options.data().form)
      this.title = '重点人员信息新增'
      this.readOnly = false
      this.isDetermine = true
      this.isShow = true
      this.form.dtxxlx = ''
      this.h3 = ''
      this.dialogs = []
    },
    close () {
      this.isShow = false
      this.$refs.form.resetFields()
    },
    Submit() {
      const data = { ...this.form }
      this.$refs.form.validate((valid) => {
        console.log(valid)
        if (valid) {
          switch (this.title) {
            case '重点人员信息新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '重点人员信息修改':
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    // clickLi (path) {
    //   this.$router.push(path)
    // },
    // clickRadio (path) {
    //   this.$router.push(path)
    // },
    clickSelect () {
      console.log(this.form.dtxxlx)
      const dialogs = [
        [
          { label: '常用证件代码', type: 'input' },
          { label: '证件号码', type: 'input' },
          { label: '公民身份证号码', type: 'input' },
          { label: '姓名', type: 'input' },
          { label: '性别代码', type: 'input' },
          { label: '国籍代码', type: 'input' },
          { label: '民族代码', type: 'input' },
          { label: '动态信息类型', type: 'select' }
        ],
        [
          // { label: '民航出行', type: 'input',name:'' },
          { label: '航班号', type: 'input', name: 'mhcxHbh' },
          { label: '座位号', type: 'input', name: 'mhcxZwh' },
          { label: '出发日期', type: 'date', name: 'mhcxCfRq' },
          { label: '出发时间', type: 'time', name: 'mhcxCfSj' },
          { label: '出发机场代码', type: 'input', name: 'mhcxCfJcdm' },
          { label: '到达日期', type: 'date', name: 'mhcxDdRq' },
          { label: '到达时间', type: 'time', name: 'mhcxDdSj' },
          { label: '到达机场代码', type: 'input', name: 'mhcxDdJcdm' },
          { label: '', type: '' }
        ],
        [
          // { label: '铁路出行', type: 'input',name:'' },
          { label: '车次', type: 'input', name: 'tlcxCc' },
          { label: '车厢号', type: 'input', name: 'tlcxCxh' },
          { label: '座位号', type: 'input', name: 'tlcxZwh' },
          { label: '出发日期', type: 'date', name: 'tlcxCfRq' },
          { label: '出发时间', type: 'time', name: 'tlcxCfSj' },
          { label: '出发车站', type: 'input', name: 'tlcxCfCz' },
          { label: '到达日期', type: 'date', name: 'tlcxDdRq' },
          { label: '到达时间', type: 'time', name: 'tlcxDdSj' },
          { label: '到达车站', type: 'input', name: 'tlcxDdCz' }
          // { label: '', type: '' }, { label: '', type: '' }
        ],
        [
          // { label: '公路客运', type: 'input',name:'tlcxCc' },
          { label: '客运站', type: 'input', name: 'glkyKyz' },
          { label: '客运编号', type: 'input', name: 'glkyKybh' },
          { label: '座位号', type: 'input', name: 'glkyZwh' },
          { label: '出发日期', type: 'date', name: 'glkyCfRq' },
          { label: '出发时间', type: 'time', name: 'glkyCfSj' },
          { label: '出发客运站', type: 'input', name: 'glkyCfKyz' },
          { label: '到达日期', type: 'date', name: 'glkyDdRq' },
          { label: '到达时间', type: 'time', name: 'glkyDdSj' },
          { label: '到达客运站', type: 'input', name: 'glkyDdKyz' }
          // { label: '', type: '' }, { label: '', type: '' }
        ],
        [
          // { label: '轮渡出行', type: 'input' ,name:''},
          { label: '轮渡号', type: 'input', name: 'ldcxLdh' },
          { label: '出发日期', type: 'date', name: 'ldcxCfRq' },
          { label: '出发时间', type: 'time', name: 'ldcxCfSj' },
          { label: '出发码头', type: 'input', name: 'ldcxCfMt' },
          { label: '到达日期', type: 'date', name: 'ldcxDdRq' },
          { label: '到达时间', type: 'time', name: 'ldcxDdSj' },
          { label: '到达码头', type: 'input', name: 'ldcxDdMt' },
          { label: '', type: '' }, { label: '', type: '' }
        ],
        [
          // { label: '公安检查站', type: 'input',name:"" },
          { label: '检查站编码', type: 'input', name: 'gajczJczbm' },
          { label: '检查站位置', type: 'input', name: 'gajczJczwz' },
          { label: '查验时间', type: 'datetime', name: 'gajczCysj' },
          { label: '出入类型', type: 'select', name: 'gajczJCrlx', options: [{ label: '测试1', value: '1' }, { label: '测试2', value: '2' }] },
          { label: '', type: '' }, { label: '', type: '' }
        ],
        [
          // { label: '旅馆住宿', type: 'input' },
          { label: '旅馆编号', type: 'input', name: 'lgzsLgbm' },
          { label: '旅馆名称', type: 'input', name: 'lgzsLgmc' },
          { label: '入住房号', type: 'input', name: 'lgzsRzfh' },
          { label: '入住时间', type: 'datetime', name: 'lgzsRzsj' },
          { label: '退房时间', type: 'datetime', name: 'lgzsTfsj' },
          { label: '', type: '' }
        ],
        [
          // { label: '网吧上网', type: 'input',name:'wbswYycsbm' },
          { label: '营业场所编码', type: 'input', name: 'wbswYycsbm' },
          // { label: '营业场所', type: 'input',name:'wbswYycsDzmc' },
          { label: '单位名称', type: 'input', name: 'wbswYycsDwmc' },
          { label: '地址名称', type: 'input', name: 'wbswYycsDzmc' },
          { label: '开始时间', type: 'datetime', name: 'wbswKssj' },
          { label: '结束时间', type: 'datetime', name: 'wbswJssj' },
          { label: '', type: '' }, { label: '', type: '' }
        ],
        [
          // { label: '人像识别', type: 'input' },
          { label: '设备类型', type: 'select', name: 'rxsbSblx', options: [{ label: '测试1', value: '1' }, { label: '测试2', value: '2' }] },
          { label: '视屏设备编码', type: 'input', name: 'rxsbSpsbbm' },
          { label: '设备名称', type: 'input', name: 'rxsbSbmc' },
          { label: '监视方向', type: 'input', name: 'rxsbJsfx' },
          { label: '设备地址', type: 'input', name: 'rxsbSbdz' },
          { label: '抓拍时间', type: 'datetime', name: 'rxsbZpsj' },
          { label: '图片URL', type: 'input', name: 'rxsbTpurl' },
          { label: '地球经度', type: 'input', name: 'dqjd' },
          { label: '地球纬度', type: 'input', name: 'dqwd' },
          { label: '采集时间', type: 'datetime', name: 'cjsj' },
          { label: '信息入库时间', type: 'datetime', name: 'xxrksj' },
          { label: '', type: '' }
        ]
      ]
      if (this.form.dtxxlx === '1' || this.form.dtxxlx === '2' || this.form.dtxxlx === '3') {
        this.h3 = '民航出行'
        this.dialogs = dialogs[1]
        this.Show = true
      } else if (this.form.dtxxlx === '4' || this.form.dtxxlx === '5' || this.form.dtxxlx === '6') {
        this.h3 = '铁路出行'
        this.dialogs = dialogs[2]
        this.Show = true
      } else if (this.form.dtxxlx === '7' || this.form.dtxxlx === '8' || this.form.dtxxlx === '9') {
        this.h3 = '公路客运'
        this.dialogs = dialogs[3]
        this.Show = true
      } else if (this.form.dtxxlx === '10') {
        this.h3 = '公安检查站人员检查'
        this.dialogs = dialogs[5]
        this.Show = true
      } else if (this.form.dtxxlx === '11') {
        this.h3 = '旅客住宿'
        this.dialogs = dialogs[6]
        this.Show = true
      } else if (this.form.dtxxlx === '12' || this.form.dtxxlx === '13') {
        this.h3 = '轮渡订票'
        this.dialogs = dialogs[4]
        this.Show = true
      } else if (this.form.dtxxlx === '14') {
        this.h3 = '网吧上网'
        this.dialogs = dialogs[7]
        this.Show = true
      } else if (this.form.dtxxlx === '15') {
        this.h3 = '人像识别'
        this.dialogs = dialogs[8]
        this.Show = true
      }
    }
  },
  components: { Elsearch, Eltable }
}
</script>
<style lang="scss">
.pointPeople {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .pointPeople_table {
    margin-top: 0.2rem;
    h3 {
      color: #00ffff;
      font-size: 0.18rem;
    }
    .table {
      margin-top: 0.2rem;
    }
  }
  .table {
    margin-top: 0.2rem;
  }
  .table {
    border: 1px solid #797979;
    padding: 0.2rem;
    box-sizing: border-box;
  }
  .message {
    flex-wrap: wrap;
    margin-top: 0.2rem;
    border: 1px solid #797979;
    padding: 0.2rem;
    box-sizing: border-box;
    .el-form-item {
      width: 30%;
      margin-bottom: 0.2rem;
      .el-form-item__content {
        width: auto;
      }
    }
  }
  .el-radio-group {
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    .el-radio {
      .el-radio__label {
        color: #fff;
      }
    }
    .is-checked {
      .el-radio__label {
        color: #409eff !important;
      }
    }
  }
  .children {
    border: 1px solid #797979;
    padding: 0.2rem;
    box-sizing: border-box;
    .el-form {
      flex-wrap: wrap;
      margin-top: 0.2rem;
      .el-form-item {
        width: 30%;
        margin-bottom: 0.2rem;
        .el-form-item__content {
          width: auto;
        }
      }
    }
  }
  .el-dialog__wrapper {
    .el-dialog {
      background-color: rgb(2, 16, 47);
      .el-dialog__header {
        background-color: rgb(2, 25, 60);
        .el-dialog__title {
          color: rgb(106, 239, 244);
        }
      }
      .el-dialog__body {
        h3 {
          color: #fff;
        }
        .el-form {
          margin-top: 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          // height: auto;
          .el-form-item {
            width: 30% !important;
            margin-right: 0;
            margin-bottom: 0.2rem;
            .el-form-item__label {
              color: #fff;
            }
            .el-form-item__content {
              width: auto;
              .el-input {
                width: 100%;
                input {
                  background-color: rgb(5, 33, 73);
                  border: none;
                }
              }
            }
          }
        }
      }
    }
  }
  // .el-dialog__wrapper {
  //   .el-dialog {
  //     .el-dialog__body {
  //       h3 {
  //         color: #fff;
  //       }
  //       .el-form {
  //         margin-top: 0;
  //         justify-content: flex-start;
  //         .el-form-item {
  //           width: 30% !important;
  //           .el-form-item__label-wrap {
  //             .el-form-item__label {
  //               width: 1.3rem !important;
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}
</style>
