<template>
  <div class="ticket">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" :formData="formData" @search="search"></Elsearch>
    <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings"  @del="del" @detailed="detailed" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination" :iSloading="iSloading"></Eltable>
    <Dialog :title="title" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs"  @close="close" :isDetermine='isDetermine' :dialogData="dialogData" ref="dialog"  :rules="rules"></Dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
import { selectAll, delData } from '@/api/fnc/ticket/index'
// import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    title: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    paramsData: {},
    searchSettings: [
      { placeholder: '姓名', type: 'input', name: 'gpxxxm' },
      { placeholder: '购票编号', type: 'input', name: 'gpxxgpbh' },
      { placeholder: '请输入身份证号码', type: 'input', name: 'gpxxgmsfhm' },
      { placeholder: '请输入联系电话', type: 'input', name: 'gpxxlxdh' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' }
    ],
    formData: { // 查询输入框搜索数据
      gpxxxm: '',
      gpxxgpbh: '',
      gpxxgmsfhm: '',
      gpxxlxdh: ''
    },
    tableHead: [
      // { label: '序号', prop: 'input' },
      { label: '信息主键编号', prop: 'xxzjbh' },
      { label: '活动编号', prop: 'hdbh' },
      { label: '购票编号', prop: 'gpxxgpbh' },
      { label: '购票时间', prop: 'gpxxgpsj' },
      { label: '姓名', prop: 'gpxxxm' }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '详情', type: 'detailed' },
      { name: '删除', type: 'delete' }
    ],
    dialogs: [
      { label: '信息主键编号', type: 'input', name: 'xxzjbh' },
      { label: '姓名', type: 'input', name: 'gpxxxm' },
      { label: '活动编号', type: 'input', name: 'hdbh' },
      { label: '公民身份号码', type: 'input', name: 'gpxxgmsfhm' },
      // { label: '购票信息', type: 'input' },
      { label: '联系电话', type: 'input', name: 'gpxxlxdh' },
      { label: '购票编号', type: 'input', name: 'gpxxgpbh' },
      { label: '是否入场', type: 'select', name: 'gpxxsfrc', options: [{ label: '是', value: 1 }, { label: '否', value: 2 }] },
      { label: '购票时间', type: 'input', name: 'gpxxgpsj' },
      { label: '入场时间', type: 'input', name: 'gpxxrcsj' }
    ],
    dialogData: { // 弹出框数据
      xxzjbh: '',
      gpxxxm: '',
      hdbh: '',
      gpxxgmsfhm: '',
      gpxxlxdh: '',
      gpxxgpbh: '',
      gpxxsfrc: '',
      gpxxgpsj: '',
      gpxxrcsj: ''
    },
    rules: {
      // role: [
      //   { required: true, message: '请输入所属角色', trigger: 'blur' }
      //   // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      // ],
      // idNumber: [
      //   { required: true, message: '请输入身份证号', trigger: 'blur' }
      // ],
      // mechanismId: [
      //   { required: true, message: '请输入所属单位', trigger: 'blur' }
      // ],
      // account: [
      //   { required: true, message: '请输入警号', trigger: 'blur' }
      // ],
      // peopleName: [
      //   { required: true, message: '请输入用户姓名', trigger: 'blur' }
      // ],
      // tel: [
      //   { required: true, message: '请输入联系电话', trigger: 'blur' }
      // ]
    }
  }),
  created () {
    this.selectAll()
  },
  methods: {
    async search() {
      this.iSloading = true
      console.log({ ...this.formData })
      const paramsData = { ...this.formData, ...this.pagination }
      const { data: res } = await selectAll(paramsData)
      this.tableDatas = res.records
      this.pagination.total = res.total
      Object.assign(this.$data.formData, this.$options.data().formData)
      this.iSloading = false
    },
    async del (row) {
      await delData(row.xxzjbh)
      this.selectAll()
    },
    detailed (data) {
      this.dialogData = { ...data }
      this.title = '票务数据接入详情'
      this.readOnly = true
      this.isDetermine = false
      this.isShow = true
    },
    close () {
      this.isShow = false
      this.$refs.dialog.$refs.dialogForm.resetFields()
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      this.pagination.size = val
      delete this.pagination.total
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      this.pagination.current = val
      this.selectAll()
    },
    async selectAll() {
      const { data: res } = await selectAll(this.paramsData)
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: { Elsearch, Eltable, Dialog }
}
</script>
<style lang="scss">
.ticket {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .table {
    margin-top: 0.2rem;
  }
}
</style>
