<template>
  <div class="note">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @add="add" @search="search" :formData="formData"></Elsearch>
    <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @modify="modify" @del="del" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    <Dialog :title="title" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close" @Submit="Submit" :isDetermine='isDetermine' :rules="rules" :dialogData="dialogData" ref="dialog1"></Dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
import { validatePhone } from '@/utils/verification'
import { selectAll, update, delData, insert } from '@/api/control/note/index'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    title: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      rybkName: '',
      rybkMz: '',
      rybkZjhm: ''
    },
    dialogData: { // 弹出框数据
      rybkName: '',
      rybkZjhm: '',
      rybkZjlx: '',
      rybkMz: '',
      rybkJg: '',
      rybkXb: '',
      rybkCsrq: '',
      rybkZz: '',
      rybkDh: '',
      rybkKssj: '',
      rybkJssj: '',
      rybkBkrxm: '',
      rybkBkrdh: '',
      rybkSg: '',
      rybkTxtz: '',
      rybkKy: '',
      rybkCh: '',
      rybkHm: '',
      rybkQxyy: ''
    },
    rules: {
      rybkName: [
        { required: true, message: '请输入被布控人姓名', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      rybkZjhm: [
        { required: true, message: '请输入证件号码', trigger: 'blur' }
      ],
      rybkZjlx: [
        { required: true, message: '请输入证件类型', trigger: 'blur' }
      ],
      rybkMz: [
        { required: true, message: '请输入民族', trigger: 'blur' }
      ],
      rybkJg: [
        { required: true, message: '请输入籍贯', trigger: 'blur' }
      ],
      rybkXb: [
        { required: true, message: '请选择性别', trigger: 'blur' }
      ],
      rybkCsrq: [
        { required: true, message: '请输入日期', trigger: 'blur' }
      ],
      rybkZz: [
        { required: true, message: '请输入住址', trigger: 'blur' }
      ],
      rybkDh: [
        { required: true, message: '请输入电话', trigger: 'blur' },
        { validator: validatePhone, trigger: 'blur' }
      ],
      rybkSg: [
        { required: true, message: '请选择身高', trigger: 'blur' }
      ],
      rybkTxtz: [
        { required: true, message: '请输入体型特征', trigger: 'blur' }
      ],
      rybkKy: [
        { required: true, message: '请输入口音', trigger: 'blur' }
      ],
      rybkCh: [
        { required: true, message: '请输入绰号', trigger: 'blur' }
      ],
      rybkSgHm: [
        { required: true, message: '请输入化名', trigger: 'blur' }
      ]
    },
    searchSettings: [
      { placeholder: '请选择被布控人姓名', type: 'input', name: 'rybkName' },
      { placeholder: '请输入民族', type: 'input', name: 'rybkMz' },
      { placeholder: '请输入证件号码', type: 'input', name: 'rybkZjhm' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableHead: [
      { label: '被布控人姓名', prop: 'rybkName' },
      { label: '民族', prop: 'rybkMz' },
      { label: '出生日期', prop: 'rybkCsrq' },
      { label: '证件号码', prop: 'rybkZjhm' },
      { label: '籍贯', prop: 'rybkJg' },
      { label: '住址', prop: 'rybkZz' }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ],
    dialogs: [
      { label: '被布控人姓名', type: 'input', name: 'rybkName' },
      { label: '证件号码', type: 'input', name: 'rybkZjhm' },
      { label: '证件类型', type: 'input', name: 'rybkZjlx' },
      { label: '民族', type: 'input', name: 'rybkMz' },
      { label: '籍贯', type: 'input', name: 'rybkJg' },
      { label: '性别', type: 'select', name: 'rybkXb', options: [{ label: '男', value: '1' }, { label: '女', value: '0' }] },
      { label: '出生日期', type: 'date', name: 'rybkCsrq' },
      { label: '住址', type: 'input', name: 'rybkZz' },
      { label: '电话', type: 'input', name: 'rybkDh' },
      { label: '身高', type: 'input', name: 'rybkSg' },
      { label: '体型特征', type: 'input', name: 'rybkTxtz' },
      { label: '口音', type: 'input', name: 'rybkKy' },
      { label: '绰号', type: 'input', name: 'rybkCh' },
      { label: '化名', type: 'input', name: 'rybkHm' }
    ]
  }),
  created () {
    this.selectAll()
  },
  methods: {
    async search() {
      this.iSloading = true
      // console.log({ ...this.formData })
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      // this.iSloading = false
    },
    add (row) {
      Object.assign(this.dialogData, this.$options.data().dialogData)
      this.isDetermine = true
      this.title = '被布控人基础信息新增'
      this.readOnly = false
      this.isShow = true
    },
    modify (data) {
      this.dialogData = { ...data }
      this.isDetermine = true
      this.title = '被布控人基础信息修改'
      this.readOnly = false
      this.isShow = true
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    detailed (data) {
      this.dialogData = { ...data }
      this.isDetermine = false
      this.title = '被布控人基础信息详情'
      this.readOnly = true
      this.isShow = true
    },
    close () {
      this.isShow = false
      this.$refs.dialog1.$refs.dialogForm.resetFields()
    },
    Submit(data) {
      data.rybkBkrxm = '管理员'
      this.$refs.dialog1.$refs.dialogForm.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '被布控人基础信息新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '被布控人基础信息修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: { Elsearch, Eltable, Dialog }
}
</script>
<style lang="scss">
.note {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .table {
    margin-top: 0.2rem;
  }
}
</style>
