<template>
  <div id="fileLine" :style="{ width: '100%', height: '100%' }"></div>
</template>
<script>
export default {
  data: () => ({}),
  created () { },
  mounted () {
    this.fileLine()
  },
  methods: {
    fileLine () {
      const fileLine = this.$echarts.init(document.getElementById('fileLine'))
      fileLine.setOption({
        title: {
          text: '近期活动统计',
          left: 0,
          top: 0,
          itemGap: 50,
          textStyle: {
            color: '#fff',
            fontSize: 18
          }
        },
        xAxis: {
          type: 'category',
          data: ['2019-01', '2019-02', '2019-03', '2019-04', '2019-05'],
          axisLine: {
            lineStyle: {
              color: '#fff'
            }
          }
        },
        yAxis: {
          type: 'value',
          max: 800,
          axisLine: {
            lineStyle: {
              color: '#fff'
            }
          }
        },
        series: [{
          data: [100, 150, 746, 200, 790, 755],
          type: 'line'
        }]
      })
      window.onresize = () => fileLine.resize()
      window.addEventListener('resize', () => fileLine.resize())
    }
  }
}
</script>
<style lang="scss">
</style>
