<template>
  <div id="Pie_acy"  :style="{ width: '100%', height: '100%' }"></div>
</template>
<script>
export default {
  props: ['echartsData'],
  data: () => ({
    seriesData: []
  }),
  created () { },
  mounted () {
    this.Pie()
  },
  watch: {
  },
  methods: {
    Pie () {
      const Pie = this.$echarts.init(document.getElementById('Pie_acy'))
      for (let i = 0; i < this.echartsData.length; i++) {
        this.seriesData.push(this.echartsData[i].name)
      }
      console.log(this.seriesData)
      Pie.setOption({
        color: ['#719ef8', '#71dcb1', '#7383a0', '#f5c537', '#e97d63', '#CC9900', '#3300CC', '#006600'],
        title: {
          text: '活动类型统计',
          left: 0,
          top: 0,
          itemGap: 50,
          textStyle: {
            color: '#fff',
            fontSize: 18
          }
        },
        legend: {
          orient: 'vertical',
          right: 20,
          bottom: 0,
          textStyle: {
            color: '#fff'
          },
          // data: ['活动类型一', '活动类型二', '活动类型三', '活动类型四', '活动类型五']
          data: this.seriesData
        },
        animation: true,
        series: [
          {
            type: 'pie',
            radius: '80%',
            label: { // 饼图图形上的文本标签
              normal: {
                position: 'inside', // 标签的位置
                textStyle: {
                  fontSize: 14 // 文字的字体大小
                },
                formatter: '{d}%'
              }
            },
            // data: [
            //   { value: 5, name: '活动类型一' },
            //   { value: 6, name: '活动类型二' },
            //   { value: 8, name: '活动类型三' },
            //   { value: 8, name: '活动类型四' },
            //   { value: 6, name: '活动类型五' }
            // ]
            data: this.echartsData
          }]
      })
      window.onresize = () => Pie.resize()
      window.addEventListener('resize', () => Pie.resize())
    }
  }
}
</script>
<style lang="scss">
</style>
