<template>
  <div class="detailed" v-if="ready">
    <div class="detailed_titleDiv">
      <h3 class="detailed_title divTitle">
        <img src="@/assets/business/u2785.svg" alt="" />
        <span>安保方案</span>
      </h3>
      <img class="titleDivImg" @click="$router.go(-1)" src="@/assets/activity/fh.png" alt="" />
    </div>
    <Elsearch :searchSettings="searchSettings[0]" :searchLabelWidth="searchLabelWidth" :readOnly='readOnly' :disabled ='disabled' :formData="formData"></Elsearch>
    <h3 class="detailed_title body_title">
      <span>安保任务基本信息</span>
    </h3>
    <Elsearch :searchSettings="searchSettings[1]" :readOnly='readOnly' :disabled ='disabled' :searchLabelWidth="searchLabelWidth" :formData="formData"></Elsearch>
    <div class="detailed_table">
      <el-row type="flex" justify="space-between">
        <el-col :span="6">
          <h3>任务执行区列表</h3>
        </el-col>
        <el-col :span="2" v-if="isAdd">
          <el-link class="detailed_link" @click="add">添加
            <i class="el-icon-circle-plus-outline el-icon--right"></i>
          </el-link>
        </el-col>
      </el-row>
      <Eltable :tableHead="tableHead[0]" :tableSettings="tableSettings1" :operateShow="operateShow" @modify="modify" :tableDatas="tableDatas1" :paginationShow="false"></Eltable>
      <Dialog :title="title" :isDetermine="isSubmit" :isShow="isShow" ref="dialog" :readOnly="false" :dialogs="dialogs[0]" @Submit="ExecutionArea" :dialogData="dialogData" @close="close"></Dialog>
    </div>
    <div class="detailed_table" style="margin-top:15px !important">
      <el-row type="flex" justify="space-between">
        <el-col :span="6">
          <h3>执行警力列表</h3>
        </el-col>
        <el-col :span="2" v-if="isAdd">
          <el-link class="detailed_link" @click="add1">添加
            <i class="el-icon-circle-plus-outline el-icon--right"></i>
          </el-link>
        </el-col>
      </el-row>
      <Eltable :tableHead="tableHead[1]" :tableSettings="tableSettings2" :operateShow="operateShow" @modify="modify1" :tableDatas="tableDatas2" :paginationShow="false"></Eltable>
      <Dialog :title="title"  :isDetermine="isSubmit" :isShow="isShow1" :readOnly="false" ref="dialog1" :dialogs="dialogs[1]" @close="close" @Submit="ExecutivePolice" :dialogData="dialogData1"></Dialog>
    </div>
    <Elsearch :disabled ='disabled' class="policeSearch" :readOnly='readOnly' :searchSettings="searchSettings[2]" :formData="formData" :searchLabelWidth="searchLabelWidth"></Elsearch>
    <h3 class="detailed_title body_title">
      <span>应急处置预案</span>
    </h3>
    <Elsearch :disabled ='disabled' :readOnly='readOnly' :searchSettings="searchSettings[3]"  :formData="formData.yjczyas" :searchLabelWidth="searchLabelWidth"></Elsearch>
    <div class="addDiv" v-if="isAdd">
      <h3 class="detailed_title body_title">
        <span>上传文件</span>
      </h3>
      <p>(上传安保活动方案及突发事件应急救援预案文档)</p>
      <el-upload
        class="upload-demo"
        action="https://jsonplaceholder.typicode.com/posts/"
        :on-preview="handlePreview"
        :on-remove="handleRemove"
        :before-remove="beforeRemove"
        multiple
        :limit="3"
        :on-exceed="handleExceed"
        :file-list="fileList"
      >
        <el-button size="small" type="primary">点击上传</el-button>
      </el-upload>
      <p class="footP" style="text-align: center">
        <el-button type="text">提交</el-button>
      </p>
    </div>
    <div v-else>
      <div class="addDiv" v-if="isModify">
        <h3 class="detailed_title body_title">
          <span>上传文件</span>
        </h3>
        <p>(上传安保活动方案及突发事件应急救援预案文档)</p>
        <el-upload
          class="upload-demo"
          action="https://jsonplaceholder.typicode.com/posts/"
          :on-preview="handlePreview"
          :on-remove="handleRemove"
          :before-remove="beforeRemove"
          multiple
          :limit="3"
          :on-exceed="handleExceed"
          :file-list="fileList"
        >
          <el-button size="small" type="primary">点击上传</el-button>
        </el-upload>
      </div>
      <h3 class="detailed_title body_title">
        <span>查看文件</span>
      </h3>
      <Eltable class="downloadTable" :tableHead="tableHead[2]" :tableSettings="tableSettings" :tableDatas="tableDatas" @del="del" @handleDownload="handleDownload" :paginationShow="false"></Eltable>
    </div>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
import { selectOne } from '@/api/activity/programme/index'
export default {
  data: () => ({
    ready: false,
    isAdd: false,
    disabled: false,
    readOnly: false,
    isModify: false,
    operateShow: false,
    isShow: false,
    isShow1: false,
    isSubmit: true,
    title: '',
    searchLabelWidth: '1.2rem',
    fileList: [],
    formData: {
      rwbh: '',
      hdbh: '',
      rwmc: '',
      rwkssj: '',
      rwjssj: '',
      rwlx: 0,
      rwnr: '',
      rwczfawj: '',
      gxsj: '',
      abrwRwzxqys: [],
      abrwZxjls: [],
      yjczyas: {
        yabhsj: '',
        yamc: '',
        yalx: 0,
        yanr: '',
        yaczrw: '',
        gxsj: '',
        yaRwbh: ''
      },
      hdmc: null,
      yalx: null,
      gadm: null,
      jybh: null,
      str: null
    },
    searchSettings: [
      [
        { placeholder: '活动编码', type: 'input', label: '活动编码', name: 'hdbh' },
        { placeholder: '活动名称', type: 'input', label: '活动名称', name: 'hdmc' },
        { placeholder: '活动日程', type: 'input', label: '活动日程', name: 'hdrc' },
        { placeholder: '场馆名称', type: 'input', label: '场馆名称', name: '' }
      ],
      [
        { placeholder: '任务编号', type: 'input', label: '任务编号', name: 'rwbh' },
        { placeholder: '任务名称', type: 'input', label: '任务名称', name: 'rwmc' },
        { placeholder: '任务类型', type: 'select', label: '任务类型', name: 'rwlx' },
        { placeholder: '任务开始时间', type: 'datas', label: '任务开始时间', name: 'rwsj' }
      ],
      [
        { placeholder: '任务内容', type: 'textarea', label: '任务内容', name: 'rwnr' },
        { placeholder: '任务类型', type: 'input', label: '任务类型', name: 'rwlx' },
        { placeholder: '数据更新时间', type: 'datetime', label: '数据更新时间', name: 'gxsj' }
      ],
      [
        { placeholder: '预案编号标识', type: 'input', label: '预案编号标识', name: 'yabhsj' },
        { placeholder: '预案名称', type: 'input', label: '预案名称', name: 'yamc' },
        { placeholder: '预案类型', type: 'input', label: '预案类型', name: 'yalx', options: [{ label: '紧急', value: 0 }, { label: '重要', value: 1 }, { label: '一般', value: 2 }] },
        { placeholder: '预案内容', type: 'textarea', label: '预案内容', name: 'yanr' },
        { placeholder: '预案处置任务', type: 'input', label: '预案处置任务', name: 'yaczrw' },
        { placeholder: '数据更新时间', type: 'datetime', label: '数据更新时间', name: 'gxsj' }
      ]
    ],
    tableHead: [
      [
        { label: '任务执行区标识', prop: 'rwzxqbs' },
        { label: '巡逻区域名称', prop: 'xlqymc' },
        { label: '公安机关机构代码', prop: 'gajgjgdm' },
        { label: '公安机关名称', prop: 'gajgmc' },
        { label: '巡逻区域边界坐标', prop: 'xlqybjzb' },
        { label: '巡区行政区代码', prop: 'xqxzqhdm' },
        { label: '必巡点存在标识', prop: 'bxdczbs' },
        { label: '巡区类型', prop: 'xqlxdm' }
      ],
      [
        { label: '人员标识', prop: 'rybs' },
        { label: '警力类型', prop: 'jllx' },
        { label: '姓名', prop: 'xm' },
        { label: '行政区域代码', prop: 'xzqhdm' },
        { label: '巡逻人员类别代码', prop: 'xlrylbdm' },
        { label: '警员编号', prop: 'jybh' },
        { label: '警龄', prop: 'jl' },
        { label: '文职级别', prop: 'jxywzjbdm' },
        {
          label: '是否工作组负责人',
          prop: 'sfgzzfzrbs',
          formatter: (row, column) => {
            switch (row.sfgzzfzrbs) {
              case '1':
                return '是'
              case '0':
                return '否'
            }
          }
        }
      ],
      [
        { label: '序号', prop: 'input' },
        { label: '文件名称', prop: 'input' },
        { label: '文件格式', prop: 'input' },
        { label: '文件大小', prop: 'input' }
      ]
    ],
    tableDatas: [],
    tableDatas1: [],
    tableDatas2: [],
    tableSettings: [
      { name: '下载', type: 'download' },
      { name: '删除', type: 'delete' }
    ],
    tableSettings1: [],
    tableSettings2: [],
    dialogs: [
      [
        { label: '任务执行区标识', type: 'input', name: 'rwzxqbs' },
        { label: '巡逻区域名称', type: 'input', name: 'xlqymc' },
        { label: '公安机关机构代码', type: 'input', name: 'gajgjgdm' },
        { label: '公安机关名称', type: 'input', name: 'gajgmc' },
        { label: '巡逻区域边界坐标', type: 'input', name: 'xlqybjzb' },
        { label: '巡区行政区代码', type: 'input', name: 'xqxzqhdm' },
        { label: '必巡点存在标识', type: 'input', name: 'bxdczbs' },
        { label: '巡区类型', type: 'select', name: 'xqlxdm' }
      ],
      [
        { label: '人员标识', type: 'input', name: 'rybs' },
        { label: '警力类型', type: 'select', name: 'jllx' },
        { label: '姓名', type: 'input', name: 'xm' },
        { label: '行政区域代码', type: 'input', name: 'xzqhdm' },
        { label: '巡逻人员类别代码', type: 'select', name: 'xlrylbdm' },
        { label: '警员编号', type: 'input', name: 'jybh' },
        { label: '警龄', type: 'input', name: 'jl' },
        { label: '文职级别', type: 'input', name: 'jxywzjbdm' },
        { label: '是否工作组负责人', type: 'select', name: 'sfgzzfzrbs', options: [{ label: '是', value: 1 }, { label: '否', value: 0 }] }
      ]
    ],
    dialogData: {
      rwzxqbs: '',
      rwbh: '',
      xlqymc: '',
      gajgjgdm: '',
      gajgmc: '',
      xlqybjzb: '',
      xqxzqhdm: '',
      bxdczbs: '',
      xqlxdm: ''
    },
    dialogData1: {
      rybs: '',
      jllx: '',
      rwbh: '',
      rwzxqbs: '',
      xm: '',
      xzqhdm: null,
      xlrylbdm: '',
      jybh: '',
      jl: '',
      jxywzjbdm: '',
      sfgzzfzrbs: ''
    }
  }),
  created () {
    this.init(this.$route.params)
  },
  watch: {
    'formData.rwsj': {
      handler(newV, oldV) {
        this.formData.rwkssj = newV[0]
        this.formData.rwjssj = newV[1]
      }
    }
  },
  methods: {
    selectOne(id) {
      selectOne(id).then(res => {
        if (res.code === 1) {
          res.data.rwsj = [res.data.rwkssj, res.data.rwjssj]
          this.formData = { ...res.data }
          console.log(this.formData)
          this.tableDatas1 = res.data.abrwRwzxqys
          this.tableDatas2 = res.data.abrwZxjls
          this.ready = true
        }
      })
    },
    init (params) {
      if (params.status === 'add') {
        this.readOnly = false
        this.isAdd = true
        this.ready = true
      } else if (params.status === 'modify') {
        this.readOnly = false
        this.isModify = true
        this.operateShow = true
        this.tableSettings1.push({ name: '编辑', type: 'modify' })
        this.tableSettings2.push({ name: '编辑', type: 'modify' })
        // this.tableSettings2.push({ name: '编辑', type: 'modify1' })
        this.selectOne(params.id)
      } else if (params.status === 'detailed') {
        this.readOnly = true
        this.selectOne(params.id)
        console.log(params.id)
      } else {
        this.$message.error('数据获取失败')
        setTimeout(() => {
          this.$router.push('/activity/programme')
        }, 888)
      }
    },
    ExecutionArea(FormData) {
      console.log('1')
      console.log(FormData)
      this.dialogsData = FormData
      this.isShow = false
    },
    ExecutivePolice(FormData) {
      console.log('2')
      console.log(FormData)
      this.dialogsData1 = FormData
      this.isShow1 = false
    },
    add() {
      this.title = '添加任务执行区'
      this.isShow = true
    },
    add1() {
      this.title = '添加执行警力'
      this.isShow1 = true
    },
    del (row) {
      console.log(row)
    },
    close() {
      if (this.title === '编辑任务执行区' || this.title === '添加任务执行区') {
        this.isShow = false
      } else {
        this.isShow1 = false
      }
    },
    modify(row) {
      this.title = '编辑任务执行区'
      this.isShow = true
      this.dialogsData = row
      console.log(row)
    },
    modify1(row) {
      this.title = '编辑执行警力'
      this.isShow1 = true
      this.dialogsData1 = row
      console.log(row)
    },
    handleDownload (row) {
      console.log(row)
    },
    handleRemove (file, fileList) {
      console.log(file, fileList)
    },
    handlePreview (file) {
      console.log(file)
    },
    handleExceed (files, fileList) {
      this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`)
    },
    beforeRemove (file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`)
    }
  },
  components: { Elsearch, Eltable, Dialog }
}
</script>
<style lang="scss">
.detailed {
  width: 100%;
  height: 100%;
  border: 0.01rem solid #3e5568;
  padding: 0.1rem;
  box-sizing: border-box;
  overflow: auto;
  .detailed_titleDiv {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.01rem solid #3e5568;
    .divTitle {
      border-bottom: none;
    }
    .titleDivImg {
      width: 0.8rem;
      height: 0.6rem;
      cursor: pointer;
      padding: 0.1rem;
      box-sizing: border-box;
    }
  }
  .detailed_title {
    width: 98%;
    margin: 0 auto;
    line-height: 0.4rem;
    border-bottom: 0.01rem solid #3e5568;
    color: #fff;
    display: flex;
    padding: 0.1rem;
    box-sizing: border-box;
    img {
      width: 0.4rem;
      height: 0.4rem;
    }
    span {
      height: 100%;
      display: block;
      margin-left: 0.2rem;
      color: #6aeff4;
      font-size: 0.18rem;
    }
  }
  .body_title {
    border-top: 0.01rem solid #3e5568;
  }
  .policeSearch {
    .el-form-item:first-child {
      width: 100% !important;
    }
  }
  .el-form {
    margin-top: 0.2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0.2rem;
    box-sizing: border-box;
    .el-form-item {
      width: 40%;
      margin-bottom: 0.2rem;
      .el-form-item__label {
        color: #fff;
      }
      .el-form-item__content {
        width: auto;
      }
    }
  }
  .detailed_table {
    width: 90%;
    margin: 0.1rem auto;
    justify-content: space-between;
    h3 {
      color: #fff;
      font-size: 0.18rem;
      white-space: nowrap;
    }
    .detailed_link{
      font-size: 16px;
      color: #51e2f2;
    }
    .table {
      margin-top: 0.1rem;
      width: 100%;
    }
  }
  .addDiv {
    p {
      color: #fff;
      margin: 0.2rem;
    }
    .upload-demo {
      width: 30%;
      margin: 0.2rem;
    }
    .footP {
      border-top: 1px solid #3e5568;
      .el-button {
        span {
          color: #fff;
        }
      }
    }
  }
  .downloadTable {
    margin-top: 0.2rem;
    width: 90%;
    margin: 0.1rem auto;
  }
}
</style>
