<template>
  <div class="policDisplay">
    <div class="policDisplay_titleBtn">
      <!-- <el-button type="primary" :class="(active===0)?'show':''" @click="goCar($event)">警车基本数据信息</el-button>
      <el-button type="primary" @click="goPolic($event)">民警基本数据信息</el-button> -->
      <el-button type="primary" v-for="item in buttonName" :key='item.id' :class="($route.path===item.path)?'show':''" @click="goList(item.path)">{{item.title}}</el-button>
    </div>
    <div class="policDisplay_body">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    buttonName: [
      { title: '警车基本数据信息', id: 0, path: '/management/policeDisplay/policeDisplayCar', name: 'policeDisplayCar' },
      { title: '民警基本数据信息', id: 1, path: '/management/policeDisplay/policeDisplayPolic', name: 'policeDisplayPolic' }
    ]
  }),
  created () { },
  computed: {
    // active() {}
  },
  methods: {
    goList (path) {
      this.$router.push(path)
    }
  }
}
</script>
<style lang="scss">
.policDisplay {
  padding-right: 0.3rem;
  box-sizing: border-box;
  width: 100%;
  .policDisplay_titleBtn {
    width: 100%;
    .el-button {
      background-color: #030923;
      border-color: #797979;
    }
    .show{
      background-color:skyblue;
    }
  }
  .policDisplay_body {
    width: 100%;
  }
}
</style>
