<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script type="text/javascript" src="//api.map.baidu.com/getscript?type=webgl&v=1.0&ak=bGitCiolqteL4cZhVWhBNIdpSNRgNiyA"></script>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2416917_m5k6ib1nmj.css">
    <link rel="icon" href="<%= BASE_URL %>u32.ico" />
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico" /> -->
    <title>Vue</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
