<template>
  <div class="apply">
    <div class="apply_title">
      <img src="@/assets/business/u2785.svg" alt="" />
      <h3>活动基本信息</h3>
    </div>
    <div class="apply_body">
      <Elsearch class="headElsearch" :searchSettings="searchSettings[0]" :formData="formData" @selectChanged="selectChanged"></Elsearch>
      <div class="apply_security">
        <div class="apply_title">
          <img src="@/assets/business/u2968.png" alt="" />
          <h3>活动安保单位信息</h3>
        </div>
        <Elsearch :searchSettings="searchSettings[1]" :formData="formData"></Elsearch>
      </div>
      <div class="apply_people">
        <div class="apply_title">
          <img src="@/assets/business/u3090.png" alt="" />
          <h3>活动参与人员</h3>
        </div>
        <div class="apply_right">
            <el-link class="apply_link" @click="add">添加
              <i class="el-icon-circle-plus-outline el-icon--right"></i>
            </el-link>
        </div>
        <!-- <el-button></el-button> -->
        <!-- <Elsearch :searchSettings="searchSettings[2]"></Elsearch> -->
        <Eltable  :tableHead="tableHead1" :tableSettings="tableSettings1" :tableDatas="cylslist"  @del="del1" :paginationShow="false" ></Eltable>
        <Dialog :title="title" :isDetermine='true' :isShow="isShow" :readOnly="false" ref="dialog" :dialogs="dialogs" :dialogData="dialogData" @Submit="cyslSubmit"  @close="cyslClose"></Dialog>
      </div>
      <div class="apply_task">
        <div class="apply_title">
          <img src="@/assets/business/u3100.png" alt="" />
          <h3>活动任务</h3>
        </div>
        <Elsearch :formData="formData" :searchSettings="searchSettings[2]"></Elsearch>
      </div>
      <div class="apply_ticket">
        <div class="apply_title">
          <img src="@/assets/business/u3026.png" alt="" />
          <h3>售票信息</h3>
        </div>
        <Elsearch :formData="formData" :searchSettings="searchSettings[3]"></Elsearch>
      </div>
      <div class="apply_card">
        <div class="apply_title">
          <img src="@/assets/business/u3037.png" alt="" />
          <h3>制证信息</h3>
        </div>
        <Elsearch :formData="formData" :searchSettings="searchSettings[4]"></Elsearch>
      </div>
      <div class="apply_upload apply_title">
        <img src="@/assets/business/u2840.svg" alt="" />
        <h3>上传文件</h3>
        <span>（上传活动申请书、安全许可申请表，以及相关证件扫描件等相关材料）</span>
      </div>
      <div class="upload_table">
        <el-upload
          class="upload-demo"
          ref="upload"
          :before-upload="beforeUpload"
          accept=".doc,.docx,.xls,.xlsx,.ppt,.pptx"
          :auto-upload='false'
          action='#' :limit="5" :http-request="httpRequest"
          :on-change='handleChange' :on-exceed="handleExceed" :on-remove="handleRemove"
          :file-list="fileList" multiple
          :show-file-list='false'>
          <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
          <!-- <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button> -->
          <!-- <el-button size="small" type="primary">点击上传</el-button> -->
        </el-upload>
        <Eltable :tableHead="tableHead" :tableSettings="tableSettings" :tableDatas="fileDataList" @del="del" :paginationShow="false"></Eltable>
        <div class="submit">
          <el-button type="text" @click="Submit">提交</el-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
// eslint-disable-next-line no-unused-vars
import { upload, insert, selectAllGajg } from '@/api/activity/apply/index'
export default {
  data: () => ({
    action: '',
    optionsdata: [],
    children: [],
    selectData: [],
    searchSettings: [
      [
        { placeholder: '所属分局', type: 'select', label: '所属分局', name: 'ssfj', options: [], selectChanged: true },
        { placeholder: '所属派出所', type: 'select', label: '所属派出所', name: 'sspcs', options: [] },
        { placeholder: '活动编号', type: 'input', label: '活动编号', name: 'hdbh' },
        { placeholder: '活动名称', type: 'input', label: '活动名称', name: 'hdmc' },
        { placeholder: '活动类型', type: 'select', label: '活动类型', name: 'hdlx', options: [{ label: '体育比赛活动', value: 1 }, { label: '文艺演出', value: 2 }, { label: '展览会', value: 3 }, { label: '晚会', value: 4 }, { label: '招聘会', value: 5 }] },
        { placeholder: '参加活动的人数', type: 'input', label: '人数', name: 'rs' },
        { placeholder: '场馆编码', type: 'input', label: '场馆编码', name: 'cgBh' },
        { placeholder: '场馆地址名称', type: 'input', label: '场馆地址名称', name: 'cgDzmc' },
        { placeholder: '主办单位', type: 'input', label: '主办单位', name: 'jbxxZbdw' },
        { placeholder: '承办单位', type: 'input', label: '承办单位', name: 'jbxxCbdw' },
        { placeholder: '举办日期', type: 'datas', label: '举办日期', name: 'jbxxRqsj', valueFormat: true },
        { placeholder: '申请日期', type: 'datas', label: '申请日期', name: 'sqxxRqsj', valueFormat: true },
        { placeholder: '举办地点名称', type: 'input', label: '举办地点名称', name: 'jbxxDdmc' },
        { placeholder: '活动日程编码', type: 'input', label: '活动日程编码', name: 'hdrcbh' },
        { placeholder: '申请人姓名', type: 'input', label: '申请人姓名', name: 'sqxxXm' },
        { placeholder: '更新时间', type: 'datetime', label: '更新时间', name: 'gxsj' },
        { placeholder: '联系人姓名', type: 'input', label: '联系人姓名', name: 'lxrxxXm' },
        { placeholder: '联系电话', type: 'input', label: '联系电话', name: 'lxrxxLxdh' },
        { placeholder: '活动日程', type: 'input', label: '活动日程', name: 'hdrc' },
        { placeholder: '活动内容', type: 'textarea', label: '活动内容', name: 'hdnr' }
      ],
      [
        { placeholder: '单位名称', type: 'input', label: '单位名称', name: 'hdabdwxxDwmc' },
        { placeholder: '公安机关机构代码', type: 'input', label: '公安机关机构代码', name: 'hdabdwxxGajgjgdm' }
      ],
      // [
      //   { placeholder: '编号', type: 'input', label: '编号', name: 'bh' },
      //   { placeholder: '活动参与人员类型', type: 'select', label: '活动参与人员类型', name: 'cyryLx', options: [{ label: '安保人员', value: 1 }, { label: '会务人员', value: 2 }, { label: '志愿者', value: 3 }, { label: '观众', value: 4 }, { label: '演职人员', value: 5 }, { label: '外宾', value: 6 }] },
      //   { placeholder: '活动参与人员编号', type: 'input', label: '活动参与人员编号', name: 'cyryBh' }
      // ],
      [
        { placeholder: '活动任务类型', type: 'select', label: '活动任务类型', name: 'hdrwLx', options: [{ label: '警力部署任务', value: 1 }, { label: '安检部署任务', value: 2 }, { label: '搜排爆任务', value: 3 }, { label: '应急处置任务', value: 4 }] },
        { placeholder: '活动任务编号', type: 'input', label: '活动任务编号', name: 'hdrwBh' }
      ],
      [
        { placeholder: '可发售票总数', type: 'input', label: '可发售票总数', name: 'spxxKfszs' },
        { placeholder: '实际发售票总数', type: 'input', label: '实际发售票总数', name: 'spxxSjfspzs' },
        { placeholder: '实际入场购票人总数', type: 'input', label: '实际入场购票人总数', name: 'spxxSjrcgprs' }
      ],
      [
        { placeholder: '可发制证总数', type: 'input', label: '可发制证总数', name: 'zzxxKzzzs' },
        { placeholder: '实际制证总数', type: 'input', label: '实际制证总数', name: 'zzxxSjzzzs' },
        { placeholder: '实际入场持证人总数', type: 'input', label: '实际入场持证人总数', name: 'zzxxSjrcczrzs' }
      ]
    ],
    formData: {
      ssfj: '',
      sspcs: '',
      hdbh: '',
      hdmc: '',
      hdlx: '',
      rs: '',
      cgBh: '',
      cgDzmc: '',
      jbxxZbdw: '',
      jbxxCbdw: '',
      jbxxRqsj: '',
      sqxxRqsj: '',
      jbxxDdmc: '',
      hdrcbh: '',
      sqxxXm: '',
      gxsj: '',
      lxrxxXm: '',
      lxrxxLxdh: '',
      hdrc: '',
      hdnr: '',
      hdabdwxxDwmc: '',
      hdabdwxxGajgjgdm: '',
      hdrwLx: '',
      hdrwBh: '',
      spxxKfszs: '',
      spxxSjfspzs: '',
      spxxSjrcgprs: '',
      zzxxKzzzs: '',
      zzxxSjzzzs: '',
      zzxxSjrcczrzs: ''
    },
    tableHead: [
      // { label: '文件编号', prop: 'wjbh' },
      { label: '文件名称', prop: 'wjmc' },
      { label: '文件格式', prop: 'wjgs' },
      { label: '文件大小', prop: 'wjdx' }
    ],
    tableHead1: [
      // { label: '编号', prop: 'bh' },
      { label: '活动参与人员类型', prop: 'cyryLx' },
      { label: '活动参与人员编号', prop: 'cyryBh' }
    ],
    // tableDatas: Array(5).fill({
    //   input: '123'
    // }),
    cylslist: [],
    fileDataList: [],
    dialogData: {
      cyryLx: '',
      cyryBh: ''
    },
    tableSettings: [
      // { name: '下载', type: 'download' },
      { name: '删除', type: 'delete' }
    ],
    tableSettings1: [
      // { name: '添加', type: 'add' },
      { name: '删除', type: 'delete' }
    ],
    fileList: [],
    title: '',
    isShow: false,
    dialogs: [
      // { type: 'input', label: '编号', name: 'bh' },
      { type: 'select', label: '活动参与人员类型', name: 'cyryLx', options: [{ label: '安保人员', value: 1 }, { label: '会务人员', value: 2 }, { label: '志愿者', value: 3 }, { label: '观众', value: 4 }, { label: '演职人员', value: 5 }, { label: '外宾', value: 6 }] },
      { type: 'input', label: '活动参与人员编号', name: 'cyryBh' }
    ],
    uploadData: [],
    file: '',
    uploadUrl: process.env.VUE_APP_API_HOST + '/file/hdUploadMultipleFiles'
  }),
  created () { this.selectAllGajg() },
  watch: {
    'formData.jbxxRqsj': {
      handler(newV, oldV) {
        this.formData.jbxxKsrqsj = newV[0]
        this.formData.jbxxJsrqsj = newV[1]
      },
      deep: true,
      immediate: true
    },
    'formData.sqxxRqsj': {
      handler(newV, oldV) {
        this.formData.sqxxKsrqsj = newV[0]
        this.formData.sqxxJsrqsj = newV[1]
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    selectAllGajg() {
      const that = this
      this.optionsdata = []
      selectAllGajg().then(res => {
        if (res.code === 1) {
          for (let i = 0; i < res.data.length; i++) {
            var gajg = res.data[i]
            gajg.label = gajg.orgname
            gajg.value = gajg.orgid
            that.optionsdata.push(gajg)
          }
          this.searchSettings[0][0].options = this.optionsdata
        }
      })
    },
    selectChanged(code, arr) {
      const that = this
      this.children = []
      for (let i = 0; i < arr.length; i++) {
        if (code === arr[i].orgid) {
          const arr1 = arr[i].children
          if (arr1.length < 1) {
            that.formData.sspcs = ''
          } else {
            for (let j = 0; j < arr1.length; j++) {
              const pcs = arr1[j]
              pcs.label = pcs.orgname
              pcs.value = pcs.orgid
              that.children.push(pcs)
            }
          }
        }
      }
      this.searchSettings[0][1].options = this.children
    },
    // 文件状态改变
    handleChange (file, fileList) {
      // if (file) {
      //   this.fileList = fileList.slice(-3)
      // }
      this.fileList = fileList
      const fileData = {}
      const name = file.name.split('.')[0]
      const format = file.name.split('.')[1]
      // fileData.wjbh = file.uid
      fileData.wjmc = name
      fileData.wjgs = format
      fileData.wjdx = this.bytesToSize(file.size)
      fileData.wjUrl = ''
      this.fileDataList.push(fileData)
    },
    // 上传文件大小和格式校验
    beforeUpload(file) {
      var fileType = file.name.substring(file.name.lastIndexOf('.') + 1)
      const isFile =
            fileType === 'doc' ||
            fileType === 'docx' ||
            fileType === 'xls' ||
            fileType === 'xlsx' ||
            fileType === 'ppt' ||
            fileType === 'pptx'
      if (!isFile) {
        this.$message.error('请选择正确的文件格式')
        return false
      }
      const isLt10M = file.size / 1024 / 1024 < 10
      if (!isLt10M) {
        for (var i = 0; i < this.fileList.length; i++) {
          if (this.fileList[i].name === file.name) {
            this.$message.error(file.name + '文件名重复')
            // 记得一定要返回false,否则控件继续会执行上传操作
            return false
          }
        }
        this.$message.error('上传文件大小不能超过 10MB!')
        return false
      }
      return isLt10M && isFile
    },
    handleExceed(files, fileList) {
      this.$message.warning(`当前限制选择 5 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`)
    },
    httpRequest(param) {
      const formData = new FormData()
      this.fileList.forEach((item) => {
        formData.append('files', item.raw)
        formData.append('hdbh', this.formData.hdbh)
      })
      upload(formData).then(res => {
        if (res.code === 1) {
          this.uploadData = res.data
          for (let i = 0; i < this.uploadData.length; i++) {
            if (this.uploadData[i].data.fileName === this.fileList[i].name && this.uploadData[i].data.size === this.fileList[i].size) {
              this.fileDataList[i].wjUrl = this.uploadData[i].data.fileDownloadUri
            }
          }
          this.$refs.upload.clearFiles()
          this.fileList = []
          this.formData.cyls = this.cylslist
          this.formData.hdwjxxes = this.fileDataList
          if (this.formData.sspcs !== '') {
            this.formData.gajg = this.formData.sspcs
          } else {
            this.formData.gajg = this.formData.ssfj
          }
          const params = { ...this.formData }
          delete params.jbxxRqsj
          delete params.sqxxRqsj
          delete params.sspcs
          delete params.ssfj
          // delete params.wjbh
          insert({ ...params }).then((res) => {
            if (res.code === 1) {
              Object.assign(this.$data.formData, this.$options.data().formData)
              this.fileDataList = []
              this.$message.success('添加成功')
            }
          })
        } else {
          this.$message.error('上传失败')
        }
      })
    },
    // 文件移除操作
    handleRemove(file, fileList) {
      this.fileList = fileList
      this.file = ''
    },
    // 覆盖默认的上传行为，可以自定义上传的实现
    // 上传文件
    submitUpload () {
      if (this.fileList.length === 0) { // 上传文件列表为空
        this.$message.warning('请选择一个上传文件')
      } else { // 执行上传操作
        this.$refs.upload.submit()
      }
    },
    del (row, index) {
      this.fileList.splice(index, 1)
      this.fileDataList.splice(index, 1)
    },
    add (row) {
      this.title = '活动参与人员添加'
      this.isShow = true
    },
    close () {
      this.isShow = false
    },
    del1(row, index) {
      console.log(row, index)
      this.cylslist.splice(index, 1)
    },
    cyslSubmit(data) {
      data.hdbh = this.formData.hdbh
      this.cylslist.push(data)
      this.isShow = false
      console.log(this.cylslist)
    },
    cyslClose() {
      this.isShow = false
      Object.assign(this.dialogData, this.$options.data().dialogData)
      // this.$refs.dialog.$refs.dialogForm.resetFields()
    },
    Submit() {
      this.submitUpload()
      // this.submitUpload()
      // console.log(this.formData)
    },

    bytesToSize(bytes) {
      if (bytes === 0) return '0 B'
      var k = 1000 // or 1024
      var sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
      var i = Math.floor(Math.log(bytes) / Math.log(k))

      return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i]
    }
  },
  components: { Elsearch, Eltable, Dialog }
}
</script>
<style lang="scss">
.apply {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: 0.01px solid #a7b6c2;
  padding: 0.1rem;
  box-sizing: border-box;
  overflow: auto;
  .apply_title {
    width: 100%;
    margin: 0 auto 0.2rem;
    line-height: 0.3rem;
    color: #fff;
    display: flex;
    padding: 0.1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #20324c;
    img {
      width: 0.3rem;
      height: 0.3rem;
    }
    h3 {
      color: #34e1f4;
      margin-left: 0.1rem;
    }
  }
  .apply_right{
    text-align: right;
    margin: 0 20px 10px 0;
    .apply_link{
      color: #51e2f2;
    }
  }
  .apply_body {
    width: 100%;
    .apply_upload {
      h3 {
        margin-right: 0.1rem;
      }
    }
    .el-form {
      width: 80%;
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: space-between;
      .el-form-item {
        width: 40%;
        margin-right: 0;
        margin-bottom: 0.2rem;
        .el-form-item__label-wrap {
          .el-form-item__label {
            width: 1.4rem !important;
          }
        }
        .el-form-item__content {
          width: auto;
        }
      }
    }
    .headElsearch {
      .el-form-item:last-child {
        width: 100%;
      }
    }
    // .apply_security {
    //   .el-form {
    //     .el-form-item {
    //       .el-form-item__label-wrap {
    //         margin-left: 28px !important;
    //       }
    //       .el-form-item__content {
    //         margin-left: 96px !important;
    //       }
    //     }
    //     .el-form-item:last-child {
    //       .el-form-item__label-wrap {
    //         margin-left: 0 !important;
    //       }
    //       .el-form-item__content {
    //         margin-left: 124px !important;
    //       }
    //     }
    //   }
    // }
    .apply_people,
    .apply_task,
    .apply_security,
    .apply_ticket,
    .apply_card {
      width: 100%;
      .el-dialog__wrapper {
        .el-dialog {
          .el-dialog__body {
            .el-form {
              .el-form-item {
                width: 48% !important;
              }
            }
          }
        }
      }
    }
    .upload_table {
      width: 100%;
      .table {
        width: 100%;
        margin-top: 0.2rem;
      }
      .submit {
        width: 100%;
        margin-top: 0.2rem;
        border-top: 1px solid #20324c;
        text-align: center;
        .el-button {
          width: 100%;
          height: 100%;
          span {
            color: #fff;
          }
        }
      }
    }
  }
}
</style>
