<template>
  <div class="programme">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @add="add" @search="search" :formData="formData"></Elsearch>
    <Eltable :tableHead="tableHead" :tableSettings="tableSettings" :tableDatas="tableDatas" @detailed="detailed" @modify="modify" @del="del"  :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import { selectAll, delData } from '@/api/activity/programme/index'
export default {
  data: () => ({
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      gadm: '',
      rwlx: '',
      rwmc: '',
      jybh: '',
      str: ''
    },
    searchSettings: [
      { placeholder: '任务类型', type: 'select', name: 'rwlx' },
      { placeholder: '公安机关代码', type: 'input', name: 'gadm' },
      { placeholder: '任务名称', type: 'input', name: 'rwmc' },
      { placeholder: '警员编号', type: 'input', name: 'jybh' },
      { placeholder: '请输入活动编码、活动名称、场馆名称', type: 'input', name: 'str' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableHead: [
      { label: '任务编码', prop: 'rwbh' },
      { label: '活动编码', prop: 'hdbh' },
      { label: '活动名称', prop: 'hdmc' },
      // { label: '活动类型', prop: 'hdlx' },
      { label: '公安机关代码', prop: 'gadm' },
      { label: '场馆名称', prop: 'cgmc' },
      { label: '警员编号', prop: 'jybh' },
      // { label: '警力类型', prop: 'jllx' },
      {
        label: '预案类型',
        prop: 'yalx',
        formatter: (row, column) => {
          switch (row.yalx) {
            case '0':
              return '紧急'
            case '1':
              return '重要'
            case '2':
              return '一般'
          }
        }
      }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ]
  }),
  created () {
    this.selectAll()
  },
  methods: {
    async search() {
      this.iSloading = true
      // console.log({ ...this.formData })
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      // this.iSloading = false
    },
    detailed (row) {
      this.$router.push({
        name: 'programmes',
        params: {
          status: 'detailed',
          id: row.rwbh
        }
      })
    },
    add () {
      this.$router.push({
        name: 'programmes',
        params: {
          status: 'add'
        }
      })
    },
    modify (row) {
      this.$router.push({
        name: 'programmes',
        params: {
          status: 'modify',
          id: row.rwbh
        }
      })
    },
    async del (row) {
      await delData(row.rwbm)
      this.selectAll()
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: { Elsearch, Eltable }
}
</script>
<style lang="scss">
.programme {
  width: 100%;
  // padding-right: 0.2rem;
  padding: 0.2rem;
  border: 0.01px solid #a7b6c2;
  box-sizing: border-box;
  .el-form {
    .btn:last-child {
      margin-right: 0;
    }
  }
  .table {
    margin-top: 0.2rem;
    width: 100%;
  }
}
</style>
