<template>
  <div class="business">
    <dl class="business_left">
      <dd class="list_content" v-for="item in adminLeft" :key="item.id" :class="(selected===item.path)?'active':''" @click="goList(item)">
        {{ item.title }}
      </dd>
    </dl>
    <div class="business_right">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    adminLeft: [
      { title: '现场管理', id: 0, path: 'scene' },
      { title: '情报研判', id: 1, path: 'study' },
      { title: '低慢小管理', id: 2, path: 'regulated' },
      { title: '圈层管理', id: 3, path: 'circleManagement' }
    ]
  }),
  created () {
  },
  computed: {
    selected() {
      console.log(this.$route.path.split('/')[2])
      return this.$route.path.split('/')[2]
    }
  },
  methods: {
    goList (item) {
      // const title = item.title
      const path = item.path
      this.$router.push(path)
    }
  }
}
</script>
<style lang="scss">
.business {
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 0.2rem;
  box-sizing: border-box;
  .business_left {
    width: 10%;
    height: 100%;
    text-align: center;
    overflow: auto;
    .list_content {
      width: 90%;
      height: 0.6rem;
      background: url('~@/assets/admin/button.png') no-repeat center center;
      background-size: 100% 100%;
      margin: 0.1rem auto;
      line-height: 0.6rem;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      white-space: nowrap;
      font-size: 0.14rem;
    }
    .list_content.active{
      color:#00c853 !important;
      border-left:1px solid burlywood;
      background-color: burlywood !important;
    }
  }
  .business_right {
    overflow: auto;
    width: calc(100% - 10%);
    // margin: 0.3rem 0 0 0.2rem;
    border: 0.01px solid #a7b6c2;
    height: 100%;
    // padding-bottom: 0.2rem;
    // padding-left: 0.1rem;
    padding: 0 0.1rem 0.2rem 0.1rem;
  }
}
</style>
