<template>
  <div class="positionCar">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @add="add" @search="search" :formData="formData"></Elsearch>
    <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @modify="modify" @del="del" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    <Dialog :title="title" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close" @Submit="Submit" :isDetermine='isDetermine' :rules="rules" :dialogData="dialogData" ref="dialog1"></Dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
import { selectAll, update, insert, delData } from '@/api/management/stressCar/positionCar'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    title: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      clzl: '',
      jdcjdchphm: ''
    },
    dialogData: { // 弹出框数据
      bh: '',
      dqjd: '',
      dqwd: '',
      rksj: '',
      jdcjdchphm: '',
      zdclbh: ''
    },
    rules: {
      bh: [
        { required: true, message: '请输入编号', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      dqjd: [
        { required: true, message: '请输入地球经度', trigger: 'blur' }
      ],
      dqwd: [
        { required: true, message: '请输入地球纬度', trigger: 'blur' }
      ],
      jdcjdchphm: [
        { required: true, message: '请输入重点车辆牌号', trigger: 'blur' }
      ],
      rksj: [
        { required: true, message: '请输入入库时间', trigger: 'blur' }
      ],
      zdclbh: [
        { required: true, message: '请输入重点车辆编号', trigger: 'blur' }
      ]
    },
    form: {},
    paramsData: {},
    searchSettings: [
      { placeholder: '重点车辆编号', type: 'input', name: 'zdclbh' },
      { placeholder: '重点车辆牌号', type: 'input', name: 'jdcjdchphm' },
      { placeholder: '请输人地球经度', type: 'input', name: 'dqjd' },
      { placeholder: '请输人地球纬度', type: 'input', name: 'dqwd' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableHead: [
      { label: '编号', prop: 'bh' },
      { label: '入库时间', prop: 'rksj' },
      { label: '重点车辆编号', prop: 'zdclbh' },
      { label: '重点车辆牌号', prop: 'jdcjdchphm' },
      { label: '地球经度', prop: 'dqjd' },
      { label: '地球纬度', prop: 'dqwd' }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ],
    dialogs: [
      { label: '编号', type: 'input', name: 'bh' },
      { label: '入库时间', type: 'datetime', name: 'rksj' },
      { label: '重点车辆编号', type: 'input', name: 'zdclbh' },
      { label: '重点车辆牌号', type: 'input', name: 'jdcjdchphm' },
      { label: '地球经度', type: 'input', name: 'dqjd' },
      { label: '地球纬度', type: 'input', name: 'dqwd' }
    ]
  }),
  created () {
    this.selectAll()
  },
  methods: {
    add (row) {
      Object.assign(this.dialogData, this.$options.data().dialogData)
      this.isDetermine = true
      this.title = '重点车辆位置信息新增'
      this.readOnly = false
      this.isShow = true
    },
    modify (data) {
      this.dialogData = { ...data }
      this.isDetermine = true
      this.title = '重点车辆位置信息修改'
      this.readOnly = false
      this.isShow = true
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    detailed (data) {
      this.dialogData = { ...data }
      this.isDetermine = false
      this.title = '重点车辆位置信息详情'
      this.readOnly = true
      this.isShow = true
    },
    async search() {
      this.iSloading = true
      // console.log({ ...this.formData })
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      // this.iSloading = false
    },
    close () {
      this.isShow = false
      this.$refs.dialog1.$refs.dialogForm.resetFields()
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    Submit(data) {
      this.$refs.dialog1.$refs.dialogForm.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '重点车辆位置信息新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '重点车辆位置信息修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: { Elsearch, Eltable, Dialog }
}
</script>
<style lang="scss">
.positionCar {
  width: 100%;
  margin-top: 0.2rem;
  .table {
    margin-top: 0.2rem;
  }
}
</style>
