<template>
  <div class="fnc">
    <dl class="fnc_left">
      <dd class="list_content" v-for="item in adminLeft" :key="item.id" :class="($route.path===item.path)?'active':''" @click="goList(item)">
        {{ item.title }}
      </dd>
    </dl>
    <div class="fnc_right">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    adminLeft: [
      { title: '票务数据接入', id: 0, path: '/fnc/ticket' },
      { title: '证件数据接入', id: 1, path: '/fnc/papers' },
      { title: '视频数据接入', id: 2, path: '/fnc/videoAccess' },
      { title: '语音数据接入', id: 3, path: '/fnc/voice' }
    ],
    selected: {}
  }),
  created () {
  },
  methods: {
    goList (item) {
      const path = item.path
      this.$router.push(path)
    }
  }
}
</script>
<style lang="scss">
.fnc {
  display: flex;
  width: 100%;
  height: 100%;
  // padding-bottom: 1rem;
  box-sizing: border-box;
  .fnc_left {
    width: 10%;
    height: 100%;
    text-align: center;
    overflow: auto;
    .list_content {
      width: 90%;
      height: 0.6rem;
      background: url('~@/assets/admin/button.png') no-repeat center center;
      background-size: 100% 100%;
      margin: 0.1rem auto;
      line-height: 0.6rem;
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      white-space: nowrap;
      font-size: 0.14rem;
    }
    .list_content.active{
      color:#00c853 !important;
      border-left:1px solid burlywood;
      background-color: burlywood !important;
    }
  }
  .fnc_right {
    overflow: auto;
    width: calc(100% - 10%);
    border: 0.01px solid #a7b6c2;
    // margin: 0.3rem 0 0 0.2rem;
    padding: 0.3rem 0 0 0.2rem;
  }
}
</style>
