<template>
  <div class="car">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @add="addCar" @search="search" :formData="formData"></Elsearch>
    <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @modify="modifyCar" @del="del" @detailed="detailedCar" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    <Dialog :title="title" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close"  @Submit="Submit" :isDetermine='isDetermine' :rules="rules" :dialogData="dialogData" ref="dialog1"></Dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
import { selectAll, update, insert, delData } from '@/api/management/policeDisolay/policeDisolayCar'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    title: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      xlcbs: '',
      jdchphm: '',
      gajgjgdm: ''
    },
    dialogData: { // 弹出框数据
      xlcbs: '',
      gajgjgdm: '',
      jdchphm: '',
      gajgmc: '',
      xzqhdm: '',
      jdccllxdm: ''
    },
    rules: {
      xlcbs: [
        { required: true, message: '请输入巡逻车标识', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      jdchphm: [
        { required: true, message: '请输入机动车车牌号码', trigger: 'blur' }
      ],
      gajgjgdm: [
        { required: true, message: '请输入公安机关机构代码', trigger: 'blur' }
      ],
      gajgmc: [
        { required: true, message: '请输入公安机关名称', trigger: 'blur' }
      ],
      xzqhdm: [
        { required: true, message: '请输入行政区划代码', trigger: 'blur' }
      ],
      jdccllxdm: [
        { required: true, message: '请选择机动车车辆类型', trigger: 'blur' }
      ]
    },
    searchSettings: [
      { placeholder: '巡逻车标识', type: 'input', name: 'xlcbs' },
      { placeholder: '机动车车牌号码', type: 'input', name: 'jdchphm' },
      { placeholder: '请输入公安机关机构代码/公安机关名称', type: 'input', name: 'gajgjgdm' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableHead: [
      { label: '巡逻车标识', prop: 'xlcbs' },
      { label: '机动车车牌号码', prop: 'jdchphm' },
      { label: '行政区划代码', prop: 'xzqhdm' },
      { label: '公安机关机构代码', prop: 'gajgjgdm' },
      { label: '公安机关名称', prop: 'gajgmc' },
      { label: '机动车车辆类型代码', prop: 'jdccllxdm' }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ],
    dialogs: [
      { label: '巡逻车标识', type: 'input', name: 'xlcbs' },
      { label: '公安机关机构代码', type: 'input', name: 'gajgjgdm' },
      { label: '机动车车牌号码', type: 'input', name: 'jdchphm' },
      { label: '公安机关名称', type: 'input', name: 'gajgmc' },
      { label: '行政区划代码', type: 'input', name: 'xzqhdm' },
      { label: '机动车车辆类型代码', type: 'input', name: 'jdccllxdm', options: [{ label: '轿车', value: '1' }, { label: '测试2', value: '2' }] }
    ],
    form: {},
    paramsData: {}
  }),
  created () {
    this.selectAll()
  },
  methods: {
    async search() {
      this.iSloading = true
      // console.log({ ...this.formData })
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      // this.iSloading = false
    },
    addCar (row) {
      Object.assign(this.dialogData, this.$options.data().dialogData)
      this.isDetermine = true
      this.title = '警车基本数据信息新增'
      this.readOnly = false
      this.isShow = true
    },
    modifyCar (data) {
      this.dialogData = { ...data }
      this.isDetermine = true
      this.title = '警车基本数据信息修改'
      this.readOnly = false
      this.isShow = true
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    detailedCar (data) {
      this.dialogData = { ...data }
      this.isDetermine = false
      this.title = '警车基本数据信息详情'
      this.readOnly = true
      this.isShow = true
    },
    close () {
      this.isShow = false
      this.$refs.dialog1.$refs.dialogForm.resetFields()
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    Submit(data) {
      this.$refs.dialog1.$refs.dialogForm.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '警车基本数据信息新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '警车基本数据信息修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: { Elsearch, Eltable, Dialog }
}
</script>
<style lang="scss">
.car {
  width: 100%;
  margin-top: 0.2rem;
  .table {
    margin-top: 0.2rem;
  }
}
</style>
