<template>
  <div class="polic">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @add="add" @search="search" :formData="formData"></Elsearch>
    <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @modify="modify" @del="del" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    <Dialog :title="title" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close" @Submit="Submit" :isDetermine='isDetermine' :rules="rules" :dialogData="dialogData" ref="dialog1"></Dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
import { selectAll, update, insert, delData } from '@/api/management/policeDisolay/policeDisplayPolic'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    title: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      zqmjbz: '',
      xm: '',
      gajgjgdm: ''
    },
    dialogData: { // 弹出框数据
      zqmjbz: '',
      xlcbs: '',
      xm: '',
      zqqy: '',
      zqmjlbdm: '',
      jybh: '',
      jl: '',
      jxywzjbdm: '',
      qwzbLx: '',
      qwzbDqwd: '',
      qwzbDqjd: '',
      gajgmc: '',
      gajgjgdm: '',
      gmsfhm: '',
      gajgbmlbdm: '',
      mzdm: '',
      nl: '',
      xbdm: '',
      dzmc: '',
      zzmmdm: '',
      hyzkdm: '',
      xldm: '',
      jgssxdm: ''
    },
    rules: {
      zqmjbz: [
        { required: true, message: '请输入民警标识', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      xm: [
        { required: true, message: '请输入姓名', trigger: 'blur' }
      ],
      zqqy: [
        { required: true, message: '请输入执勤区域', trigger: 'blur' }
      ],
      zqmjlbdm: [
        { required: true, message: '请选择执勤民警类别', trigger: 'blur' }
      ],
      jybh: [
        { required: true, message: '请输入警员编号', trigger: 'blur' }
      ],
      jl: [
        { required: true, message: '请输入警龄', trigger: 'blur' }
      ],
      jxywzjbdm: [
        { required: true, message: '请输入警衔与文职级别代码', trigger: 'blur' }
      ],
      qwzbLx: [
        { required: true, message: '请选择勤务装备类型', trigger: 'blur' }
      ],
      qwzbDqwd: [
        { required: true, message: '请输入勤务装备纬度', trigger: 'blur' }
      ],
      qwzbDqjd: [
        { required: true, message: '请输入勤务装备经度', trigger: 'blur' }
      ],
      gajgjgdm: [
        { required: true, message: '请输入公安机构代码', trigger: 'blur' }
      ],
      gajgmc: [
        { required: true, message: '请输入公安机关名称', trigger: 'blur' }
      ],
      gmsfhm: [
        { required: true, message: '请输入身份证号码', trigger: 'blur' }
      ],
      nl: [
        { required: true, message: '请输入年龄', trigger: 'blur' }
      ],
      gajgbmlbdm: [
        { required: true, message: '请选择公安部门类别', trigger: 'blur' }
      ]
    },
    form: {},
    paramsData: {},
    searchSettings: [
      { placeholder: '执勤民警标识', type: 'input', name: 'zqmjbz' },
      { placeholder: '姓名', type: 'input', name: 'xm' },
      { placeholder: '请输入公安机关机构代码，公安机关名称，公民身份证号码', type: 'input', name: 'gajgjgdm' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableHead: [
      { label: '执勤民警标识', prop: 'zqmjbz' },
      { label: '姓名', prop: 'xm' },
      { label: '警员编号', prop: 'jybh' },
      { label: '公安机关机构代码', prop: 'gajgjgdm' },
      { label: '公安机关名称', prop: 'gajgmc' },
      { label: '公民身份证号码', prop: 'gmsfhm' }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ],
    dialogs: [
      { label: '执勤民警标识', type: 'input', name: 'zqmjbz' },
      { label: '民警姓名', type: 'input', name: 'xm' },
      { label: '执勤区域', type: 'input', name: 'zqqy' },
      { label: '民警类别代码', type: 'input', name: 'zqmjlbdm', options: [] },
      { label: '警员编号', type: 'input', name: 'jybh' },
      { label: '警龄', type: 'input', name: 'jl' },
      { label: '警衔与文职级别代码', type: 'input', name: 'jxywzjbdm' },
      { label: '勤务装备类型', type: 'input', name: 'qwzbLx' },
      // { label: '勤务装备', type: 'input' },
      { label: '勤务装备纬度', type: 'input', name: 'qwzbDqwd' },
      { label: '勤务装备经度', type: 'input', name: 'qwzbDqjd' },
      { label: '公安机关名称', type: 'input', name: 'gajgmc' },
      { label: '公安机构代码', type: 'input', name: 'gajgjgdm' },
      { label: '身份证号码', type: 'input', name: 'gmsfhm' },
      { label: '公安部门类别代码', type: 'input', name: 'gajgbmlbdm', options: [] },
      { label: '民族代码', type: 'input', name: 'mzdm', options: [] },
      { label: '年龄', type: 'number', name: 'nl' },
      { label: '性别代码', type: 'select', name: 'xbdm', options: [{ label: '男', value: '1' }, { label: '女', value: '0' }] },
      { label: '籍贯代码', type: 'input', name: 'jgssxdm' },
      { label: '学历代码', type: 'input', name: 'xldm', options: [] },
      { label: '地址名称', type: 'input', name: 'dzmc' },
      { label: '政治面貌', type: 'input', name: 'zzmmdm', options: [] },
      { label: '婚姻状况', type: 'select', name: 'hyzkdm', options: [{ label: '已婚', value: '1' }, { label: '未婚', value: '0' }] }
    ]
  }),
  created () {
    this.selectAll()
  },
  methods: {
    async search() {
      this.iSloading = true
      // console.log({ ...this.formData })
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      // this.iSloading = false
    },
    add (row) {
      Object.assign(this.dialogData, this.$options.data().dialogData)
      this.isDetermine = true
      this.title = '民警信息新增'
      this.readOnly = false
      this.isShow = true
    },
    modify (data) {
      this.dialogData = { ...data }
      this.isDetermine = true
      this.title = '民警信息修改'
      this.readOnly = false
      this.isShow = true
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    detailed (data) {
      this.dialogData = { ...data }
      this.isDetermine = false
      this.title = '民警信息详情'
      this.readOnly = true
      this.isShow = true
    },
    close () {
      this.isShow = false
      this.$refs.dialog1.$refs.dialogForm.resetFields()
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    Submit(data) {
      this.$refs.dialog1.$refs.dialogForm.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '民警信息新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '民警信息修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: { Elsearch, Eltable, Dialog }
}
</script>
<style lang="scss">
.polic {
  width: 100%;
  margin-top: 0.2rem;
  .table {
    margin-top: 0.2rem;
  }
}
</style>
