<template>
  <div class="policeDatas">
    <div class="t">
      <div class="ring">
        <Ring></Ring>
      </div>
      <div class="line">
        <BrokenLine></BrokenLine>
      </div>
    </div>
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @add="add" @search="search" :formData="formData"></Elsearch>
    <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @modify="modify" @del="del" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    <el-dialog :title="title" :visible.sync="isShow" :readOnly="readOnly"  @close="close" center width="70%">
      <h3>案件基础信息</h3>
      <el-form ref="form" :model="form" :rules="rules" label-width="auto">
        <el-form-item :label="item.label" :prop="item.name" v-for="(item, index) in dialogs[0]" :key="index">
          <el-input v-if="item.type === 'input'" v-model="form[item.name]" :readonly="readOnly" :type="item.type"></el-input>
          <el-select clearable v-else-if="item.type === 'select'" v-model="form[item.name]" :disabled="readOnly" :placeholder="item.placeholder">
            <el-option v-for="op in item.options" :label="op.label" :value="op.value" :key="op.value"></el-option>
          </el-select>
          <el-date-picker v-else-if="item.type === 'datetime'" value-format="yyyy-MM-dd HH:mm:ss"  v-model="form[item.name]" type="datetime" placeholder="选择日期时间" :readonly="readOnly">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <h3>报警信息</h3>
      <el-form ref="form" :model="form" :rules="rules" label-width="auto">
        <el-form-item :label="item.label" :prop="item.name" v-for="(item, index) in dialogs[1]" :key="index">
          <el-input v-if="item.type === 'input'" v-model="form[item.name]" :readonly="readOnly" :type="item.type"></el-input>
          <el-select clearable v-else-if="item.type === 'select'" v-model="form[item.name]" :disabled="readOnly" :placeholder="item.placeholder">
            <el-option v-for="op in item.options" :label="op.label" :value="op.value" :key="op.value"></el-option>
          </el-select>
          <el-date-picker v-else-if="item.type === 'datetime'" value-format="yyyy-MM-dd HH:mm:ss"  v-model="form[item.name]" type="datetime" placeholder="选择日期时间" :readonly="readOnly">
          </el-date-picker>
          <el-image
            class="dealWith-image"
            v-if="item.image == 'image'"
            :src="src" fit="fill">
          </el-image>
          <el-upload
            v-else-if="item.image == 'Addimage'"
            class="avatar-uploader"
            action="https://jsonplaceholder.typicode.com/posts/"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>
      </el-form>
      <h3>警情信息</h3>
      <el-form ref="form" :model="form" :rules="rules" label-width="auto">
        <el-form-item :label="item.label" :prop="item.name" v-for="(item, index) in dialogs[2]" :key="index">
          <el-input v-if="item.type === 'input'" v-model="form[item.name]" :readonly="readOnly" :type="item.type"></el-input>
          <el-select clearable v-else-if="item.type === 'select'" v-model="form[item.name]" :disabled="readOnly" :placeholder="item.placeholder">
            <el-option v-for="op in item.options" :label="op.label" :value="op.value" :key="op.value"></el-option>
          </el-select>
          <el-date-picker v-else-if="item.type === 'datetime'" value-format="yyyy-MM-dd HH:mm:ss"  v-model="form[item.name]" type="datetime" placeholder="选择日期时间" :readonly="readOnly">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer" v-if="isDetermine">
        <el-button type="primary" @click="Submit">确 定</el-button>
        <el-button @click="close" class="closeStyle">取 消</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import Ring from '@/components/management_com/policeDatas/ring'
import BrokenLine from '@/components/management_com/policeDatas/line'
import { checkLat, checkLon, validatePhone } from '@/utils/verification'
import { selectAll, update, delData, insert } from '@/api/management/policeDatas/index'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    title: '',
    isShow: false,
    imageUrl: '',
    readOnly: true,
    src: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    rules: {
      jqbs: [
        { required: true, message: '请输入警情标识', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      jqmc: [
        { required: true, message: '请输入警情名称', trigger: 'blur' }
      ],
      jqsjly: [
        { required: true, message: '请输入数据来源', trigger: 'blur' }
      ],
      jqjb: [
        { required: true, message: '请选择级别', trigger: 'blur' }
      ],
      asjfskssj: [
        { required: true, message: '请输入时间', trigger: 'blur' }
      ],
      zajqdm: [
        { required: true, message: '请输入治安警情代码', trigger: 'blur' }
      ],
      sacslbdm: [
        { required: true, message: '请选择涉案场所类别', trigger: 'blur' }
      ],
      sacsDzmc: [
        { required: true, message: '请输入地址名称', trigger: 'blur' }
      ],
      sacsDqwd: [
        { required: true, message: '请输入地球经度', trigger: 'blur' },
        { validator: checkLat, trigger: 'blur' }
      ],
      sacsDqjd: [
        { required: true, message: '请输入地区经度', trigger: 'blur' },
        { validator: checkLon, trigger: 'blur' }
      ],
      ay: [
        { required: true, message: '请输入案由', trigger: 'blur' }
      ],
      gajgjgdm: [
        { required: true, message: '请输入公安机关代码', trigger: 'blur' }
      ],
      bjrXm: [
        { required: true, message: '请输入姓名', trigger: 'blur' }
      ],
      bjrLxdh: [
        { required: true, message: '请输入联系电话', trigger: 'blur' },
        { validator: validatePhone, trigger: 'blur' }
      ],
      bjrBjsj: [
        { required: true, message: '请输入时间', trigger: 'blur' }
      ],
      clrXm: [
        { required: true, message: '请输入姓名', trigger: 'blur' }
      ],
      clrJjsj01: [
        { required: true, message: '请输入时间', trigger: 'blur' }
      ],
      clrDdsj: [
        { required: true, message: '请输入时间', trigger: 'blur' }
      ],
      chlClsj: [
        { required: true, message: '请输入时间', trigger: 'blur' }
      ],
      chlJgcljgdm: [
        { required: true, message: '请输入处理结果', trigger: 'blur' }
      ]
    },
    formData: { // 查询输入框搜索数据
      bjrXm: '',
      jqbs: '',
      jqmc: ''
    },
    searchSettings: [
      { placeholder: '警情标识', type: 'input', name: 'jqbs' },
      { placeholder: '警情名称', type: 'input', name: 'jqmc' },
      { placeholder: '请输入报警人姓名，联系电话，处理人姓名', type: 'input', name: 'bjrXm' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableHead: [
      { label: '警情标识', prop: 'jqbs' },
      { label: '警情名称', prop: 'jqmc' },
      { label: '警情数据来源', prop: 'jqsjly' },
      {
        label: '警情级别',
        prop: 'jqjb',
        formatter: (row, column) => {
          switch (row.jqjb) {
            case '0':
              return '一级'
            case '1':
              return '二级'
          }
        }
      },
      { label: '案事件发生开始时间', prop: 'asjfskssj' },
      { label: '治安警情代码', prop: 'zajqdm' }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ],
    dialogs: [
      [
        { label: '警情标识', type: 'input', name: 'jqbs' },
        { label: '警情名称', type: 'input', name: 'jqmc' },
        { label: '警情数据来源', type: 'input', name: 'jqsjly' },
        { label: '警情级别', type: 'select', name: 'jqjb', options: [{ label: '一级', value: '0' }, { label: '二级', value: '1' }] },
        { label: '案事件发生开始时间', type: 'datetime', name: 'asjfskssj' },
        { label: '治安警情代码', type: 'input', name: 'zajqdm' },
        { label: '涉案场所类别代码', type: 'select', name: 'sacslbdm', options: [{ label: '测试1', value: '1' }, { label: '测试2', value: '2' }] },
        { label: '地址名称', type: 'input', name: 'sacsDzmc' },
        { label: '地球经度', type: 'input', name: 'sacsDqjd' },
        { label: '地球纬度', type: 'input', name: 'sacsDqwd' },
        { label: '案由', type: 'input', name: 'ay' },
        { label: '备注', type: 'input', name: 'bz' },
        { label: '公安机关机构代码', type: 'input', name: 'gajgjgdm' },
        { label: '', type: '' }
      ],
      [
        { label: '报警人姓名', type: 'input', name: 'bjrXm' },
        { label: '联系电话', type: 'input', name: 'bjrLxdh' },
        { label: '报警时间', type: 'datetime', name: 'bjrBjsj' },
        { label: '处理人姓名', type: 'input', name: 'clrXm' },
        // { label: '姓名', type: 'input' },
        { label: '接警时间', type: 'datetime', name: 'clrJjsj01' },
        { label: '处理图片', image: 'Addimage', name: 'chlChltp' },
        { label: '到达时间', type: 'datetime', name: 'clrDdsj' },
        // { label: '处理', type: 'input' },
        { label: '处理时间', type: 'datetime', name: 'chlClsj' },
        { label: '', type: '' },
        { label: '警情处理结果代码', type: 'input', name: 'chlJgcljgdm' },
        { label: '备注', type: 'input', name: 'chlBz' },
        { label: '', type: '' }
      ],
      [
        { label: '数据来源_行政区划代码', type: 'input', name: 'sjlyXzqhdm' },
        { label: '嫌疑人标记列表', type: 'input', name: 'xyrbslb' },
        { label: '警情视频标记列表', type: 'input', name: 'jqspbslb' },
        { label: '视屏设备编码', type: 'input', name: 'jqspxxSpsbbm' },
        { label: '视频文件格式代码', type: 'input', name: 'jqspxxSpwjgsdm' },
        { label: '视屏设备开始时间', type: 'datetime', name: 'jqspxxKssj' },
        { label: '视屏设备结束时间', type: 'datetime', name: 'jqspxxJssj' },
        { label: '音频设备编码', type: 'input', name: 'jqypxxYpsbbm' },
        { label: '音频编码格式代码', type: 'input', name: 'jqypxxYpbmgsdm' },
        { label: '音频设备开始时间', type: 'datetime', name: 'jqypxxKssj' },
        { label: '音频设备结束时间', type: 'datetime', name: 'jqypxxJssj' },
        { label: '', type: '' }
      ]
    ],
    form: {
      jqbs: '',
      jqmc: '',
      jqsjly: '',
      jqjb: '',
      asjfskssj: '',
      zajqdm: '',
      sacslbdm: '',
      sacsDzmc: '',
      sacsDqjd: '',
      sacsDqwd: '',
      ay: '',
      bz: '',
      gajgjgdm: '',
      bjrXm: '',
      bjrLxdh: '',
      bjrBjsj: '',
      clrXm: '',
      clrJjsj01: '',
      clrDdsj: '',
      chlClsj: '',
      chlJgcljgdm: '',
      chlBz: '',
      chlChltp: '',
      sjlyXzqhdm: '',
      xyrbslb: '',
      jqspbslb: '',
      jqspxxSpsbbm: '',
      jqspxxSpwjgsdm: '',
      jqspxxKssj: '',
      jqspxxJssj: '',
      jqypxxYpsbbm: '',
      jqypxxYpbmgsdm: '',
      jqypxxKssj: '',
      jqypxxJssj: ''
    }
  }),
  created () {
    this.selectAll()
  },
  methods: {
    async search() {
      this.iSloading = true
      const paramsData = { ...this.formData, ...this.pagination }
      const { data: res } = await selectAll(paramsData)
      this.tableDatas = res.records
      this.pagination.total = res.total
      Object.assign(this.$data.formData, this.$options.data().formData)
      this.iSloading = false
    },
    add (row) {
      Object.assign(this.form, this.$options.data().form)
      this.isDetermine = true
      this.title = '警情数据信息新增'
      this.readOnly = false
      this.isShow = true
      this.$set(this.dialogs[1][5], 'image', 'Addimage')
    },
    modify (data) {
      this.form = { ...data }
      this.isDetermine = true
      this.title = '警情数据信息修改'
      this.readOnly = false
      this.isShow = true
      this.$set(this.dialogs[1][5], 'image', 'Addimage')
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    detailed (data) {
      this.form = { ...data }
      this.isDetermine = false
      this.title = '警情数据信息详情'
      this.readOnly = true
      this.isShow = true
      this.$set(this.dialogs[1][5], 'image', 'image')
    },
    close () {
      this.isShow = false
      this.$refs.form.resetFields()
    },
    Submit() {
      const data = this.form
      this.$refs.form.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '警情数据信息新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '警情数据信息修改':
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll(params)
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    },
    handleAvatarSuccess (res, file) {
      this.imageUrl = URL.createObjectURL(file.raw)
    },
    beforeAvatarUpload (file) {
      // const isPNG = file.type === 'image/png'
      const isJPG = file.type === 'image/jpeg'
      const isGIF = file.type === 'image/gif'
      const isPNG = file.type === 'image/png'
      const isBMP = file.type === 'image/bmp'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG && !isGIF && !isPNG && !isBMP) {
        this.$message.error('上传图片必须是JPG/GIF/PNG/BMP 格式!')
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!')
      }
      return (isJPG || isBMP || isGIF || isPNG) && isLt2M
    }
  },
  components: { Elsearch, Eltable, Ring, BrokenLine }
}
</script>
<style lang="scss">
.policeDatas {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .t {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    .ring {
      width: 45%;
      // border: 1px solid #797979;
    }
    .line {
      width: 45%;
    }
  }
  .el-form,
  .table {
    margin-top: 0.2rem;
  }
  .el-dialog__wrapper {
    .el-dialog {
      background-color: rgb(2, 16, 47);
      .el-dialog__header {
        background-color: rgb(2, 25, 60);
        .el-dialog__title {
          color: rgb(106, 239, 244);
        }
      }
      .el-dialog__body {
        h3 {
          color: #fff;
          border-top: 1px solid rgb(48, 61, 88);
          border-bottom: 1px solid rgb(84, 91, 104);
          height: 0.3rem;
          line-height: 0.3rem;
          margin-bottom: 0.2rem;
        }
        .el-form {
          margin-top: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          height: auto;
          .el-form-item {
            width: 30% !important;
            margin-right: 0;
            margin-bottom: 0.2rem;
            .el-form-item__label {
              color: #fff;
            }
            .el-form-item__content {
              width: auto;
              .el-input {
                width: 100%;
                input {
                  background-color: rgb(5, 33, 73);
                  border: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
  }
  .avatar {
    width: 150px;
    height: 150px;
    display: block;
  }
}
</style>
<style lang="scss" scoped>
.el-dialog__wrapper {
    .el-dialog {
      .el-dialog__body {
        .el-form {
          .el-form-item {
            width: 30% !important;
            position: relative;
            .el-form-item__content {
              .avatar-uploader {
                position: absolute;
                z-index: 100;
              }
              .dealWith-image{
                position: absolute;
                z-index: 100;
                width: 150px;
                height: 150px;
              }
            }
          }
        }
      }
    }
  }
</style>
