<template>
  <div class="policeMan">
    <div class="policeMan_left">
      <div class="policeMan_head">
        <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @add="add" @search="search" :formData="formData"></Elsearch>
      </div>
      <div class="policeMan_table">
        <Eltable :tableHead="tableHead" :tableSettings="tableSettings" :tableDatas="tableDatas" @modify="modify" @del="del" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination" ></Eltable>
      </div>
    </div>
    <el-dialog :title="title" :visible.sync="isShow" @close="close" center width="80%">
      <el-form ref="policeManform" :model="form" :rules="rules" label-width="auto">
        <el-form-item :label="item.label" v-for="(item, index) in dialogs" :key="index" :prop="item.name">
          <el-input v-if="item.type === 'input'" v-model="form[item.name]" :readonly="readOnly" :type="item.type"></el-input>
          <el-select clearable v-else-if="item.type === 'select'" v-model="form[item.name]" :disabled="readOnly" :placeholder="item.placeholder">
            <el-option v-for="op in item.options" :label="op.label" :value="op.value" :key="op.value"></el-option>
          </el-select>
          <el-date-picker v-else-if="item.type === 'date'"
            v-model="form[item.name]" :readonly="readOnly" value-format="yyyy-MM-dd" type="date"
            placeholder="选择日期">
          </el-date-picker>
          <el-date-picker v-else-if="item.type === 'datetime'" value-format="yyyy-MM-dd HH:mm:ss"  v-model="form[item.name]" type="datetime" placeholder="选择日期时间" :readonly="readOnly">
          </el-date-picker>
          <el-upload
            v-if="item.upload == 'upload'"
            class="avatar-uploader"
            action="https://jsonplaceholder.typicode.com/posts/"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer" v-if="isDetermine">
        <el-button type="primary" @click="Submit">确 定</el-button>
        <el-button @click="close" class="closeStyle">取 消</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import Eltable from '@/components/table'
import Elsearch from '@/components/search'
import { validatePhone } from '@/utils/verification'
import { selectAll, update, delData, insert } from '@/api/management/policeMan/index'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    input: '',
    title: '',
    imageUrl: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    rules: {
      bazjYxjzrq: [
        { required: true, message: '请输入保安证件有效_截止日期', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      bazjZjbm: [
        { required: true, message: '证件编号', trigger: 'blur' }
      ],
      cyzjdm: [
        { required: true, message: '请选择常用证件', trigger: 'blur' }
      ],
      zjhm: [
        { required: true, message: '请输入证件号码', trigger: 'blur' }
      ],
      xbdm: [
        { required: true, message: '请输入性别', trigger: 'blur' }
      ],
      mzdm: [
        { required: true, message: '请输入民族', trigger: 'blur' }
      ],
      gjdm: [
        { required: true, message: '请输入国籍', trigger: 'blur' }
      ],
      cym: [
        { required: true, message: '请输入曾用名', trigger: 'blur' }
      ],
      xm: [
        { required: true, message: '请输入姓名', trigger: 'blur' }
      ],
      dwmc: [
        { required: true, message: '请输入单位名称', trigger: 'blur' }
      ],
      hyzkdm: [
        { required: true, message: '请选择婚姻状况', trigger: 'blur' }
      ],
      jgGjhdqdm: [
        { required: true, message: '请输入籍贯_国家（地区）', trigger: 'blur' }
      ],
      jgQhnxxdz: [
        { required: true, message: '籍 贯 _ 区划内详细地址', trigger: 'blur' }
      ],
      jgSsxhqdm: [
        { required: true, message: '籍 贯 _ 省市县（区）', trigger: 'blur' }
      ],
      lxdh: [
        { required: true, message: '请输入联系电话', trigger: 'blur' },
        { validator: validatePhone, trigger: 'blur' }
      ],
      sjjzdDzbm: [
        { required: true, message: '实际居住地 _地址编码', trigger: 'blur' }
      ],
      sjjzdSsxhqdm: [
        { required: true, message: '实际居住地 _省市县（区）', trigger: 'blur' }
      ],
      sjjzdQhnxxdz: [
        { required: true, message: '实际居住地 _区划内详细地址', trigger: 'blur' }
      ],
      tssfdm: [
        { required: true, message: '请选择特殊身份', trigger: 'blur' }
      ],
      xldm: [
        { required: true, message: '请选择学历', trigger: 'blur' }
      ],
      zzmmdm: [
        { required: true, message: '请选择政治面貌', trigger: 'blur' }
      ],
      checked: [
        { required: true, message: '请选择是否背审', trigger: 'blur' }
      ]
      // zp: [
      //   { required: true, message: '请上传照片', trigger: 'blur' }
      // ],
    },
    formData: { // 查询输入框搜索数据
      xm: '',
      zjhm: '',
      lxdh: '',
      str: ''
    },
    tableHead: [
      { label: '信息标识', prop: 'xxbz' },
      { label: '姓名', prop: 'xm' },
      { label: '曾用名', prop: 'cym' },
      {
        label: '性别代码',
        prop: 'xbdm',
        formatter: (row, column) => {
          switch (row.xbdm) {
            case '1':
              return '男'
            case '0':
              return '女'
          }
        }
      },
      { label: '单位名称', prop: 'dwmc' },
      { label: '常用证件代码', prop: 'cyzjdm' },
      { label: '证件号码', prop: 'zjhm' }
    ],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ],
    tableDatas: [],
    searchSettings: [
      { placeholder: '姓名', type: 'input', name: 'xm' },
      { placeholder: '证件号码', type: 'input', name: 'zjhm' },
      { placeholder: '联系电话', type: 'input', name: 'lxdh' },
      { placeholder: '请输入曾用名/单位名称/联系电话', type: 'input', name: 'str' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    dialogs: [
      { label: '信息标识', type: 'input', name: 'xxbz' },
      { label: '姓名', type: 'input', name: 'xm' },
      { label: '安保人员照片', upload: 'upload', name: 'zp' },
      { label: '曾用名', type: 'input', name: 'cym' },
      { label: '性别代码', type: 'select', name: 'xbdm', options: [{ label: '男', value: '1' }, { label: '女', value: '0' }] },
      { label: '', type: '' },
      { label: '单位名称', type: 'input', name: 'dwmc' },
      { label: '常用证件代码', type: 'input', name: 'cyzjdm' },
      { label: '', type: '' },
      { label: '证件号码', type: 'input', name: 'zjhm' },
      { label: '国籍代码', type: 'input', name: 'gjdm' },
      { label: '', type: '' },
      { label: '民族代码', type: 'input', name: 'mzdm' },
      // { label: '籍贯', type: 'input' },
      { label: '籍贯国家（地区）', type: 'input', name: 'jgGjhdqdm' },
      // { label: '', type: '' },
      { label: '籍贯省市县（区）', type: 'input', name: 'jgSsxhqdm' },
      // { label: '', type: '' },
      { label: '籍贯区域内详细地址', type: 'input', name: 'jgQhnxxdz' },
      // { label: '实际居住地址', type: 'input' },
      { label: '实际居住地地址编码', type: 'input', name: 'sjjzdDzbm' },
      // { label: '', type: '' },
      { label: '实际居住地省市县（区）', type: 'input', name: 'sjjzdSsxhqdm' },
      // { label: '', type: '' },
      { label: '实际居住地区划内详细地址', type: 'input', name: 'sjjzdQhnxxdz' },
      { label: '保安证件证件号码', type: 'input', name: 'bazjZjbm' },
      // { label: '', type: '' },
      { label: '保安证件有效截止日期', type: 'datetime', name: 'bazjYxjzrq' },
      { label: '学历代码', type: 'input', name: 'xldm' },
      { label: '特殊身份代码', type: 'input', name: 'tssfdm' },
      // { label: '', type: '' },
      { label: '出生日期', type: 'date', name: 'csrq' },
      // { label: '', type: '' },
      { label: '联系电话', type: 'input', name: 'lxdh' },
      { label: '婚姻状况代码', type: 'input', name: 'hyzkdm' },
      { label: '宗教信仰代码', type: 'input', name: 'zjxydm' },
      // { label: '', type: '' },
      { label: '政治面貌代码', type: 'input', name: 'zzmmdm' },
      // { label: '', type: '' },
      { label: '配偶姓名', type: 'input', name: 'poXm' },
      { label: '配偶公民身份证号码', type: 'input', name: 'poGmsfzhm' },
      // { label: '', type: '' },
      { label: '配偶联系电话', type: 'input', name: 'poLxdh' },
      { label: '更新时间', type: 'datetime', name: 'sjgxsj' },
      // { label: '', type: '' },
      { label: '信息来源描述', type: 'input', name: 'xxlyms' },
      { label: '是否背审', type: 'select', name: 'checked', options: [{ label: '是', value: 1 }, { label: '否', value: 0 }] }
    ],
    form: {
      bazjYxjzrq: null,
      bazjZjbm: '',
      csrq: null,
      cym: '',
      cyzjdm: '',
      dwmc: '',
      gjdm: '',
      hyzkdm: '',
      jgGjhdqdm: '',
      jgQhnxxdz: '',
      jgSsxhqdm: '',
      lxdh: '',
      mzdm: '',
      poGmsfzhm: '',
      poLxdh: '',
      poXm: '',
      sjgxsj: null,
      sjjzdDzbm: '',
      sjjzdQhnxxdz: '',
      sjjzdSsxhqdm: '',
      tssfdm: '',
      xbdm: '',
      xldm: '',
      xm: '',
      xxbz: '',
      xxlyms: '',
      zjhm: '',
      zjxydm: '',
      zp: '',
      zzmmdm: '',
      checked: null
    }
  }),
  created () {
    this.selectAll()
  },
  methods: {
    async search() {
      this.iSloading = true
      // console.log({ ...this.formData })
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      // this.iSloading = false
    },
    add (row) {
      console.log(row)
      Object.assign(this.form, this.$options.data().form)
      this.isDetermine = true
      this.readOnly = false
      this.title = '安保人员信息新增'
      this.isShow = true
    },
    modify (data) {
      console.log(data)
      this.form = { ...data }
      this.isDetermine = true
      this.readOnly = false
      this.title = '安保人员信息修改'
      this.isShow = true
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    detailed (data) {
      console.log(data)
      this.form = { ...data }
      this.isDetermine = false
      this.readOnly = true
      this.title = '安保人员信息详情'
      this.isShow = true
    },
    close () {
      this.isShow = false
      this.$refs.policeManform.resetFields()
    },
    handleAvatarSuccess (res, file) {
      this.imageUrl = URL.createObjectURL(file.raw)
    },
    Submit() {
      const data = this.form
      this.$refs.policeManform.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '安保人员信息新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '安保人员信息修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    },
    beforeAvatarUpload (file) {
      const isJPG = file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式!')
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!')
      }
      return isJPG && isLt2M
    }
  },
  components: {
    Eltable, Elsearch
  }
}
</script>
<style lang="scss">
.policeMan {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  display: flex;
  .policeMan_left {
    width: 100%;
    height: 100%;
    .policeMan_head {
      width: 100%;
      height: 0.4rem;
      display: flex;
    }
    .policeMan_table {
      margin-top: 0.2rem;
    }
  }
  .el-dialog__wrapper {
    .el-dialog {
      background-color: rgb(2, 16, 47);
      .el-dialog__header {
        background-color: rgb(2, 25, 60);
        .el-dialog__title {
          color: rgb(106, 239, 244);
        }
      }
      .el-dialog__body {
        .el-form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          // height: auto;
          .el-form-item {
            width: 30% !important;
            position: relative;
            margin-right: 0;
            margin-bottom: 0.2rem;
            .el-form-item__label {
              color: #fff;
            }
            .el-form-item__content {
              width: auto;
              .el-input {
                width: 100%;
                input {
                  background-color: rgb(5, 33, 73);
                  border: none;
                }
              }
              .avatar-uploader {
                position: absolute;
                z-index: 100;
              }
            }
          }
        }
      }
    }
  }
  .policeMan_right {
    width: 20%;
    height: 4rem;
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
}
</style>
