<template>
  <div class="sociologyCar">
    <div class="sociologyCar_head">
      <Elsearch :searchSettings="searchSettings" :formData="formData" @add="add" @search="search" :searchBtn="searchBtn"></Elsearch>
    </div>
    <div class="sociologyCar_table">
      <Eltable :tableHead="tableHead" :iSloading="iSloading" :tableSettings="tableSettings" :tableDatas="tableDatas" @modify="modify" @del="del" @detailed="detailed" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    </div>
    <Dialog :isDetermine='isDetermine' :title="title" :rules="rules" :isShow="isShow" :dialogData="dialogData" :readOnly="readOnly" :dialogs="dialogs" @close="close" ref="dialog1" @Submit="Submit"></Dialog>
  </div>
</template>
<script>
import Eltable from '@/components/table'
import Elsearch from '@/components/search'
import Dialog from '@/components/dialog'
import { selectAll, update, delData, insert } from '@/api/management/sociologyCar/index'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    title: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      jdcJdchphm: '',
      clfzr: '',
      clsj: '',
      str: ''
    },
    dialogData: { // 弹出框数据
      jdcJdchphm: '',
      clfzr: '',
      clsj: '',
      bh: '',
      clyt: '',
      jdc: '',
      jdcZwppmc: '',
      clcfsj: '',
      jdcYwppmc: '',
      clcfd: '',
      jdcJdccsysdm: '',
      clmdd: '',
      jdcClxh: ''
    },
    rules: {
      jdcJdchphm: [
        { required: true, message: '请输入车牌号码', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      clfzr: [
        { required: true, message: '请输入车辆负责人', trigger: 'blur' }
      ],
      clsj: [
        { required: true, message: '请输入车辆司机', trigger: 'blur' }
      ],
      bh: [
        { required: true, message: '请输入编号', trigger: 'blur' }
      ],
      clyt: [
        { required: true, message: '请输入车辆用途', trigger: 'blur' }
      ],
      jdcZwppmc: [
        { required: true, message: '请输入中文品牌名称', trigger: 'blur' }
      ],
      clcfsj: [
        { required: true, message: '请输入出发时间', trigger: 'blur' }
      ],
      jdcYwppmc: [
        { required: true, message: '请输入英文品牌名称', trigger: 'blur' }
      ],
      clcfd: [
        { required: true, message: '请输入出发地', trigger: 'blur' }
      ],
      jdcJdccsysdm: [
        { required: true, message: '请输入车辆颜色', trigger: 'blur' }
      ],
      clmdd: [
        { required: true, message: '请输入车辆目的地', trigger: 'blur' }
      ],
      jdcClxh: [
        { required: true, message: '请输入车辆型号', trigger: 'blur' }
      ]
    },
    tableHead: [
      { label: '编号', prop: 'bh' },
      { label: '机动车信息', prop: 'jdc' },
      { label: '机动车车牌号码', prop: 'jdcJdchphm' },
      { label: '中文品牌名称', prop: 'jdcZwppmc' },
      { label: '英文品牌名称', prop: 'jdcYwppmc' },
      { label: '机动车车身颜色代码', prop: 'jdcJdccsysdm' }
    ],
    tableDatas: [],
    searchSettings: [ // 查询输入框组件数据
      { placeholder: '机动车车牌号', type: 'input', name: 'jdcJdchphm' },
      { placeholder: '车辆负责人', type: 'input', name: 'clfzr' },
      { placeholder: '车辆司机', type: 'input', name: 'clsj' },
      { placeholder: '请输入机动车车牌号码/车辆型号', type: 'input', name: 'str' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ],
    dialogs: [
      { label: '编号', name: 'bh', type: 'input' },
      { label: '车辆用途', name: 'clyt', type: 'input' },
      { label: '机动车信息', name: 'jdc', type: 'input' },
      { label: '车辆负责人', name: 'clfzr', type: 'input' },
      { label: '机动车车牌号码', name: 'jdcJdchphm', type: 'input' },
      { label: '车辆司机', name: 'clsj', type: 'input' },
      { label: '中文品牌名称', name: 'jdcZwppmc', type: 'input' },
      { label: '车辆出发时间', name: 'clcfsj', type: 'datetime' },
      { label: '英文品牌名称', name: 'jdcYwppmc', type: 'input' },
      { label: '车辆出发地', name: 'clcfd', type: 'input' },
      { label: '机动车车身颜色代码', name: 'jdcJdccsysdm', type: 'input' },
      { label: '车辆目的地', name: 'clmdd', type: 'input' },
      { label: '车辆型号', name: 'jdcClxh', type: 'input' }
    ],
    form: {},
    paramsData: {}
  }),
  created () {
    this.selectAll()
  },
  methods: {
    async search() {
      this.iSloading = true
      // console.log({ ...this.formData })
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await queryAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      // this.iSloading = false
    },
    add (row) {
      // console.log(row)
      Object.assign(this.dialogData, this.$options.data().dialogData)
      this.isDetermine = true
      this.readOnly = false
      this.title = '涉会车辆管理新增'
      this.isShow = true
    },
    modify (data) {
      console.log(data)
      this.dialogData = { ...data }
      this.readOnly = false
      this.isDetermine = true
      this.title = '涉会车辆管理修改'
      this.isShow = true
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    detailed (data) {
      console.log(data)
      this.dialogData = { ...data }
      this.readOnly = true
      this.title = '涉会车辆管理详情'
      this.isDetermine = false
      this.isShow = true
    },
    close () {
      this.isShow = false
      this.$refs.dialog1.$refs.dialogForm.resetFields()
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    Submit(data) {
      this.$refs.dialog1.$refs.dialogForm.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '涉会车辆管理新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '涉会车辆管理修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: {
    Eltable, Elsearch, Dialog
  }
}
</script>
<style lang="scss">
.sociologyCar {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  .sociologyCar_head {
    width: 80%;
    height: 0.4rem;
    display: flex;
  }
  .sociologyCar_table {
    margin-top: 0.2rem;
    width: 100%;
  }
  .sociologyCar_ring {
    width: 100%;
    height: 4rem;
    padding-top: 0.2rem;
    box-sizing: border-box;
    h3 {
      color: #fff;
      width: 2rem;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
      font-size: 0.18rem;
      border-bottom: 1px solid#797979;
    }
    .ring {
      width: 100%;
      height: calc(100% - 0.5rem);
    }
  }
}
</style>
