<template>
  <div class="trial">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @search="search" :formData="formData"></Elsearch>
    <Eltable :tableHead="tableHead" :operateShow="false" :tableDatas="tableDatas" @cellClick="cellClick" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import { selectAll } from '@/api/activity/trial/index'
export default {
  data: () => ({
    searchSettings: [
      { placeholder: '活动编号', type: 'input', name: 'hdbh' },
      { placeholder: '活动类型', type: 'select', name: 'hdlx', options: [{ label: '体育比赛活动', value: 1 }, { label: '文艺演出', value: 2 }, { label: '展览会', value: 3 }, { label: '晚会', value: 4 }, { label: '招聘会', value: 5 }] },
      { placeholder: '请输入活动编码/活动名称', type: 'input', name: 'str2' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' }
    ],
    tableHead: [
      { label: '活动编号', prop: 'hdbh' },
      { label: '活动名称', prop: 'hdmc' },
      {
        label: '活动类型',
        prop: 'hdlx',
        formatter: (row, column) => {
          switch (row.hdlx) {
            case '1':
              return '体育比赛活动'
            case '2':
              return '文艺演出'
            case '3':
              return '展览会'
            case '4':
              return '晚会'
            case '5':
              return '招聘会'
          }
        }
      },
      { label: '场馆名称', prop: 'cgmc' },
      { label: '举办日期', prop: 'jbxxKsrqsj' },
      { label: '参加活动人员', prop: 'chzrs' },
      { label: '活动安保人员', prop: 'abrs' }
    ],
    tableDatas: [],
    formData: { // 查询输入框搜索数据
      hdbh: '',
      hdlx: '',
      str2: ''
    },
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    }
  }),
  created () {
    this.selectAll()
  },
  methods: {
    cellClick (row, column) {
      if (column.label === '参加活动人员' && row) {
        console.log(row)
        this.$router.push(`/activity/ActivityMan/${row.hdbh}`)
      }
      if (column.label === '活动安保人员' && row) {
        console.log(row)
        this.$router.push(`/activity/ActivityPoliceMan/${row.hdbh}`)
      }
    },
    async search() {
      this.iSloading = true
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      // this.iSloading = false
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      console.log(this.tableDatas)
      this.pagination.total = res.total
      this.iSloading = false
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    }
  },
  components: { Elsearch, Eltable }
}
</script>
<style lang="scss">
.trial {
  width: 100%;
  // padding-right: 0.2rem;
  border: 0.01px solid #a7b6c2;
  padding: 0.2rem;
  box-sizing: border-box;
  .el-form {
    margin-bottom: 0.2rem;
  }
  .table {
    margin-top: 0.2rem;
    width: 100%;
  }
}
</style>
