<template>
  <div class="personnel">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @add="add" @search="search" :formData="formData" @selectChanged="selectChanged"></Elsearch>
    <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @modify="modify" @del="del" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    <Dialog :title="title" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close" @Submit="Submit" @selectChanged="selectChanged" :isDetermine='isDetermine' :rules="rules" :dialogData="dialogData" ref="dialog1"></Dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
import { validatePhone } from '@/utils/verification'
import { selectAll, update, delData, insert, selectAllGajg } from '@/api/control/personnel/index'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    title: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    children: [],
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      dxszSsfj: '',
      dxszSspcs: '',
      dxszSjh: '',
      dxszXm: '',
      dxszYjlx: ''
    },
    dialogData: { // 弹出框数据
      dxszSsfj: '',
      dxszSspcs: '',
      dxszYjlx: '',
      dxszXm: '',
      dxszSjh: '',
      dxszBz: ''
    },
    rules: {
      dxszSsfj: [
        { required: true, message: '请选择所属分局', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      dxszSspcs: [
        { required: true, message: '请选择所属派出所', trigger: 'blur' }
      ],
      dxszYjlx: [
        { required: true, message: '请选择预警类型', trigger: 'blur' }
      ],
      dxszXm: [
        { required: true, message: '请输入姓名', trigger: 'blur' }
      ],
      dxszSjh: [
        { required: true, message: '请输入手机号', trigger: 'blur' },
        { validator: validatePhone, trigger: 'blur' }
      ],
      dxszBz: [
        { required: true, message: '请输入备注', trigger: 'blur' }
      ]
    },
    searchSettings: [
      // { placeholder: '选择所属分局/所属派出所', type: 'cascader', name: 'dxszSsfj', props: { value: 'orgid', label: 'orgname', emitPath: false, multiple: true, checkStrictly: true }, options: [] },
      { placeholder: '请选择所属分局', type: 'select', name: 'dxszSsfj', options: [], selectChanged: true },
      { placeholder: '请选择所属派出所', type: 'select', name: 'dxszSspcs', options: [] },
      { placeholder: '请选择预警类型', type: 'select', name: 'dxszYjlx', options: [{ label: '类型一', value: '1' }, { label: '类型二', value: '2' }] },
      { placeholder: '请输入姓名', type: 'input', name: 'dxszXm' },
      { placeholder: '请输入手机号', type: 'input', name: 'dxszSjh' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableHead: [
      { label: '所属分局', prop: 'dxszSsfj' },
      { label: '所属派出所', prop: 'dxszSspcs' },
      {
        label: '预警类型',
        prop: 'dxszYjlx',
        formatter: (row, column) => {
          switch (row.dxszYjlx) {
            case '1':
              return '类型一'
            case '2':
              return '类型二'
          }
        }
      },
      { label: '姓名', prop: 'dxszXm' },
      { label: '手机号码', prop: 'dxszSjh' },
      { label: '备注', prop: 'dxszBz' }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ],
    dialogs: [
      { label: '所属分局', type: 'select', name: 'dxszSsfj', options: [], selectChanged: true },
      { label: '所属派出所', type: 'select', name: 'dxszSspcs', options: [] },
      { label: '预警类型', type: 'select', name: 'dxszYjlx', options: [{ label: '类型一', value: '1' }, { label: '类型二', value: '2' }] },
      { label: '姓名', type: 'input', name: 'dxszXm' },
      { label: '手机号', type: 'input', name: 'dxszSjh' },
      { label: '备注', type: 'input', name: 'dxszBz' }
    ]
  }),
  created () {
    this.selectAll()
    this.selectAllGajg()
  },
  methods: {
    selectAllGajg() {
      const that = this
      selectAllGajg().then(res => {
        const gajg = []
        if (res.code === 1) {
          for (let i = 0; i < res.data.length; i++) {
            gajg.push(res.data[i])
            gajg[i].label = res.data[i].orgname
            gajg[i].value = res.data[i].orgid
          }
          that.searchSettings[0].options = gajg
          that.dialogs[0].options = gajg
        }
      })
    },
    selectChanged(code, arr) {
      const that = this
      this.children = []
      for (let i = 0; i < arr.length; i++) {
        if (code === arr[i].orgid) {
          const arr1 = arr[i].children
          if (arr1.length < 1) {
            that.formData.dxszSspcs = ''
          } else {
            for (let j = 0; j < arr1.length; j++) {
              const pcs = arr1[j]
              pcs.label = pcs.orgname
              pcs.value = pcs.orgid
              that.children.push(pcs)
            }
          }
        }
      }
      this.searchSettings[1].options = this.children
      this.dialogs[1].options = this.children
    },
    async search() {
      this.iSloading = true
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
    },
    add (row) {
      Object.assign(this.dialogData, this.$options.data().dialogData)
      this.isDetermine = true
      this.title = '预警信息新增'
      this.readOnly = false
      this.isShow = true
    },
    modify (data) {
      this.dialogData = { ...data }
      this.isDetermine = true
      this.title = '预警信息修改'
      this.readOnly = false
      this.isShow = true
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    detailed (data) {
      this.dialogData = { ...data }
      this.isDetermine = false
      this.title = '预警信息详情'
      this.readOnly = true
      this.isShow = true
    },
    close () {
      this.isShow = false
      this.$refs.dialog1.$refs.dialogForm.resetFields()
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    Submit(data) {
      this.$refs.dialog1.$refs.dialogForm.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '预警信息新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '预警信息修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: { Elsearch, Eltable, Dialog }
}
</script>
<style lang="scss">
.personnel {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .table {
    margin-top: 0.2rem;
  }
  .el-form{
    .el-form-item{
      .el-form-item__content{
        .el-cascader{
          width: 100%;
        }
      }
    }
  }
}
</style>
