<template>
  <div class="papers">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn"></Elsearch>
    <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @del="del" @detailed="detailed"></Eltable>
    <Dialog :title="title" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close"></Dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
export default {
  data: () => ({
    title: '',
    isShow: false,
    readOnly: true,
    searchSettings: [
      { placeholder: '语音设备编号', type: 'input' },
      { placeholder: '设备名称', type: 'input' },
      { placeholder: 'IP地址', type: 'input' },
      { placeholder: '请输入组织机构代码，设备类型', type: 'input' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' }
    ],
    tableHead: [
      { label: '序号', prop: 'input' },
      { label: '信息主键编号', prop: 'input' },
      { label: '语音设备编码', prop: 'input' },
      { label: '设备名称', prop: 'input' },
      { label: '厂商名称', prop: 'input' },
      { label: 'IP地址', prop: 'input' }
    ],
    tableDatas: Array(5).fill({
      input: '123'
    }),
    tableSettings: [
      { name: '详情', type: 'detailed' },
      { name: '删除', type: 'delete' }
    ],
    dialogs: [
      { label: '语音设备编码', type: 'input' },
      { label: '地球经度', type: 'input' },
      { label: '设备名称', type: 'input' },
      { label: '地球纬度', type: 'input' },
      { label: '厂商名称', type: 'input' },
      { label: '管辖单位-组织机构代码', type: 'input' },
      { label: 'IP地址', type: 'input' },
      { label: '设备类型', type: 'input' },
      { label: 'IPV6地址', type: 'input' },
      { label: '设备用途', type: 'input' }
      // { label: '证件信息', type: 'input' },
    ]
  }),
  created () { },
  methods: {
    del (row) {
      console.log(row)
    },
    detailed () {
      this.title = '语音数据信息详情'
      this.readOnly = true
      this.isShow = true
    },
    close () {
      this.isShow = false
    }
  },
  components: { Elsearch, Eltable, Dialog }
}
</script>
<style lang="scss">
.papers {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .table {
    margin-top: 0.2rem;
  }
}
</style>
