<template>
  <el-form ref="form" :model="form" :disabled="disabled" :label-width="searchLabelWidth == undefined ? 'auto' : searchLabelWidth" :rules="rules">
    <el-form-item v-for="(item, index) in searchSettings" :key="index" :label="item.label != '' ? item.label : ''" :prop="item.name">
      <el-input v-model="form[item.name]" clearable :placeholder="item.placeholder" :readOnly="readOnly" v-if="item.type === 'input'"></el-input>
      <el-input v-model.number="form[item.name]" clearable :placeholder="item.placeholder" :min="0" type="number" onkeyup="value=value.replace(/[^\d]/g,'')" :readOnly="readOnly" v-if="item.type === 'number'"></el-input>
      <el-select clearable v-if="item.type === 'select'" @change="item.selectChanged?selectChanged(form[item.name],item.options):''" v-model="form[item.name]" :placeholder="item.placeholder">
        <el-option v-for="op in item.options" :label="op.label" :value="op.value" :key="op.value"></el-option>
      </el-select>
      <el-date-picker v-else-if="item.type === 'datetime'" :clearable='disabled' value-format="yyyy-MM-dd HH:mm:ss"  v-model="form[item.name]" type="datetime" placeholder="选择日期时间">
      </el-date-picker>
      <el-cascader
          v-else-if="item.type === 'cascader'" :placeholder="item.placeholder" :clearable='disabled'  v-model="form[item.name]" :props="item.props" :readOnly="readOnly" :options="item.options" :show-all-levels="false">
      </el-cascader>
      <el-input type="textarea" v-if="item.type === 'textarea'" :clearable='disabled' v-model="form[item.name]" :placeholder="item.placeholder"></el-input>
      <el-date-picker v-model="form[item.name]" v-if="item.type === 'data'" type="date" :clearable='disabled' placeholder="选择日期"> </el-date-picker>
      <el-date-picker v-model="form[item.name]" type="daterange" v-if="item.type === 'datas'" :clearable='disabled' range-separator="至" start-placeholder="开始日期" :value-format="item.valueFormat?'yyyy-MM-dd':'yyyy-MM-dd HH:mm:ss'" end-placeholder="结束日期"> </el-date-picker>
    </el-form-item>
    <div class="btn" v-for="item in searchBtn" :key="item.name">
      <el-button type="primary" v-if="item.type === 'search'" @click="search">{{ item.name }}</el-button>
      <el-button type="primary" v-if="item.type === 'add'" @click="add">{{ item.name }}</el-button>
    </div>
  </el-form>
</template>
<script>
export default {
  props: ['searchSettings', 'searchBtn', 'searchLabelWidth', 'readOnly', 'formData', 'rules', 'disabled'],
  data: () => ({
    form: {}
  }),
  created () {
    this.iSformData()
  },
  mounted() {},
  methods: {
    add () {
      this.$emit('add')
    },
    search() {
      this.$emit('search')
    },
    selectChanged(code, data) {
      this.$emit('selectChanged', code, data)
    },
    iSformData() {
      if (this.formData !== undefined) {
        this.form = this.formData
      }
    }
  }
}
</script>
<style lang="scss">
.el-form {
  display: flex;
  width: 100%;
  .el-form-item {
    margin-bottom: 0;
    margin-right: 0.2rem;
    width: 20%;
    .el-form-item__label-wrap {
      .el-form-item__label {
        color: #fff;
      }
    }
    .el-form-item__content {
      width: 100%;
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      input[type="number"]{
        -moz-appearance: textfield;
      }
      .el-input {
        width: 100%;
        input {
          background-color: rgb(2, 26, 63);
          border: none;
        }
      }
      .el-select {
        width: 100%;
        .el-input {
          width: 100%;
          input {
            background-color: rgb(2, 26, 63);
            border: none;
          }
        }
      }
      .el-textarea {
        width: 100%;
        textarea {
          width: 100%;
          background-color: rgb(2, 26, 63);
          border: none;
          color: #fff;
        }
        textarea::placeholder {
          color: #fff;
        }
      }
      .el-date-editor {
        width: 100%;
        background-color: rgb(2, 26, 63);
        border: none;
        input {
          background-color: rgb(2, 26, 63);
          border: none;
        }
        .el-input__icon,
        .el-range-separator {
          color: #fff;
        }
      }
    }
  }
  .btn {
    margin-right: 0.2rem;
  }
}
</style>
