<template>
  <div class="control">
    <dl class="control_left">
      <dd class="list_content" v-for="item in adminLeft" :key="item.id" :class="(selected===item.name)?'active':''" @click="goList(item)">
        {{ item.title }}
      </dd>
    </dl>
    <div class="control_right">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    adminLeft: [
      { title: '短信设置', id: 0, path: '/control/personnel', name: 'personnel' },
      { title: '车辆布控', id: 1, path: '/control/car', name: 'car' },
      {
        title: '人员布控', id: 2, path: '/control/note', name: 'note'
      },
      { title: '区域布控', id: 3, path: '/control/region', name: 'region' },
      { title: '布控解控', id: 4, path: '/control/release/releaseCar', name: 'release' }
    ]
  }),
  created () {
  },
  computed: {
    selected() {
      return this.$route.path.split('/')[2]
    }
  },
  methods: {
    goList (item) {
      const path = item.path
      this.$router.push(path)
    }
  }
}
</script>
<style lang="scss">
.control {
  display: flex;
  width: 100%;
  height: 100%;
  // padding-bottom: 1rem;
  box-sizing: border-box;
  .control_left {
    width: 10%;
    height: 100%;
    text-align: center;
    overflow: auto;
    .list_content {
      width: 90%;
      height: 0.6rem;
      background: url('~@/assets/admin/button.png') no-repeat center center;
      background-size: 100% 100%;
      margin: 0.1rem auto;
      line-height: 0.6rem;
      color: #fff;
      font-size: 0.14rem;
      cursor: pointer;
      white-space: nowrap;
      font-weight: bold;
    }
    .list_content.active{
      color:#00c853 !important;
      border-left:1px solid burlywood;
      background-color: burlywood !important;
    }
  }
  .control_right {
    overflow-y: auto;
    width: calc(100% - 10%);
    border: 0.01px solid #607d8b;
    // margin: 0.3rem 0 0 0.2rem;
    padding: 0.3rem 0 0 0.2rem;
  }
}
</style>
