<template>
  <div id="Bar_aclf" :style="{ width: '100%', height: '100%' }"></div>
</template>
<script>
export default {
  props: ['echartsData'],
  data: () => ({
    seriesData: [],
    seriesDatavalue: []
  }),
  created () { },
  mounted () {
    this.Bar()
  },
  methods: {
    Bar () {
      const Bar = this.$echarts.init(document.getElementById('Bar_aclf'))
      for (let i = 0; i < this.echartsData.length; i++) {
        this.seriesData.push(this.echartsData[i].name)
        this.seriesDatavalue.push(this.echartsData[i].value)
      }
      Bar.setOption({
        color: ['#61A5E8'],
        title: {
          text: '各场馆举办次数',
          left: '5%',
          textStyle: {
            color: '#ffffff'
          }
        },
        xAxis: {
          type: 'category',
          // data: ['贺龙体育馆', '橘子洲', '湘江欢乐城', '洋湖湿地公园', '长沙瑞吉酒店', '长沙北城洲际酒店', '王井府', '雷锋大道'],
          data: this.seriesData,
          axisLine: {
            lineStyle: {
              color: '#fff'
            }
          },
          axisLabel: {
            interval: 0,
            rotate: 0,
            formatter: function (value) {
              var ret = ''// 拼接加\n返回的类目项
              var maxLength = 3// 每项显示文字个数
              var valLength = value.length// X轴类目项的文字个数
              var rowN = Math.ceil(valLength / maxLength)// 类目项需要换行的行数
              if (rowN > 1) { // 如果类目项的文字大于5,
                for (let i = 0; i < rowN; i++) {
                  var temp = ''
                  var start = i * maxLength
                  var end = start + maxLength
                  temp = value.substring(start, end) + '\n'
                  ret += temp
                }
                return ret
              } else {
                return value
              }
            }
          }
        },
        yAxis: {
          type: 'value',
          max: 100,
          min: 0,
          axisLine: {
            lineStyle: {
              color: '#fff'
            }
          }
        },
        series: [{
          barWidth: '50%',
          // data: [40, 20, 60, 80, 70, 100, 65, 45],
          data: this.seriesDatavalue,
          type: 'bar'
        }],
        tooltip: {
          trigger: 'axis',
          axisPointer: { // 坐标轴指示器，坐标轴触发有效
            type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
          },
          // formatter: function(prams) {
          //   return '举办次数：' + prams[0].data + '场'
          // }
          formatter: '{b} <br> 举办场次：{c} 场'
        },
        grid: {
          left: '5%',
          right: '2%',
          bottom: '2%',
          containLabel: true
        }
      })
      window.onresize = () => Bar.resize()
      window.addEventListener('resize', () => Bar.resize())
    }
  }
}
</script>
<style lang="scss">
</style>
