<template>
  <div class="control_car">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @add="add" @search="search" :formData="formData"></Elsearch>
    <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @modify="modify" @del="del" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    <el-dialog :title="title" :visible.sync="isShow" @close="close" center width="60%">
      <el-form ref="controlCarform" :model="form" :rules="rules" label-width="auto">
        <el-form-item :label="item.label" v-for="(item, index) in dialogs" :key="index" :prop="item.name">
          <el-input v-if="item.type === 'input'" v-model="form[item.name]" :readonly="readOnly" :type="item.type"></el-input>
          <el-select clearable v-else-if="item.type === 'select'" v-model="form[item.name]" :disabled="readOnly" :placeholder="item.placeholder">
            <el-option v-for="op in item.options" :label="op.label" :value="op.value" :key="op.value"></el-option>
          </el-select>
          <el-date-picker v-else-if="item.type === 'date'"
            v-model="form[item.name]" :readonly="readOnly" value-format="yyyy-MM-dd" type="date"
            placeholder="选择日期">
          </el-date-picker>
          <el-date-picker v-else-if="item.type === 'datetime'" value-format="yyyy-MM-dd HH:mm:ss"  v-model="form[item.name]" type="datetime" placeholder="选择日期时间" :readonly="readOnly">
          </el-date-picker>
          <el-upload
            v-if="item.upload == 'upload'"
            class="avatar-uploader"
            action="https://jsonplaceholder.typicode.com/posts/"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer" v-if="isDetermine">
        <el-button type="primary" @click="Submit">布 控</el-button>
        <el-button @click="close" class="closeStyle">取 消</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import { validatePhone } from '@/utils/verification'
import { selectAll, update, delData, insert } from '@/api/control/car/index'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    title: '',
    imageUrl: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    rules: {
      clbkJdcpp: [
        { required: true, message: '请输入车辆品牌', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      clbkFdjxh: [
        { required: true, message: '请输入发动机型号', trigger: 'blur' }
      ],
      clbkCphm: [
        { required: true, message: '请输入车牌号码', trigger: 'blur' }
      ],
      clbkCsys: [
        { required: true, message: '请输入车身颜色', trigger: 'blur' }
      ],
      clbkClxh: [
        { required: true, message: '请输入车辆型号', trigger: 'blur' }
      ],
      clbkKssj: [
        { required: true, message: '请输入时间', trigger: 'blur' }
      ],
      clbkJssj: [
        { required: true, message: '请输入时间', trigger: 'blur' }
      ],
      clbkBksj: [
        { required: true, message: '请输入布控事件', trigger: 'blur' }
      ],
      clbkBkr: [
        { required: true, message: '请输入布控人', trigger: 'blur' }
      ],
      clbkBkrdh: [
        { required: true, message: '请输入布控人电话', trigger: 'blur' },
        { validator: validatePhone, trigger: 'blur' }
      ]
      // clbkClzp: [
      //   { required: true, message: '请上传照片', trigger: 'blur' }
      // ],
    },
    formData: { // 查询输入框搜索数据
      clbkBkrdh: '',
      clbkCphm: '',
      clbkBkr: '',
      clbkClxh: ''
    },
    form: {
      clbkClzp: '',
      clbkCphm: '',
      clbkJdcpp: '',
      clbkFdjxh: '',
      clbkCsys: '',
      clbkClxh: '',
      clbkKssj: '',
      clbkJssj: '',
      clbkBksj: '',
      clbkBkr: '',
      clbkBkrdh: '',
      clbkLxra: '',
      clbkLxradh: '',
      clbkLxrb: '',
      clbkLxrbdh: '',
      clbkCh: ''
    },
    searchSettings: [
      { placeholder: '车牌号码', type: 'input', name: 'clbkCphm' },
      { placeholder: '电话号码', type: 'input', name: 'clbkBkrdh' },
      { placeholder: '姓名', type: 'input', name: 'clbkBkr' },
      { placeholder: '请输入车辆型号', type: 'input', name: 'clbkClxh' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableHead: [
      { label: '编号', prop: 'id' },
      { label: '发动机型号', prop: 'clbkFdjxh' },
      { label: '车身颜色', prop: 'clbkCsys' },
      { label: '机动车品牌', prop: 'clbkJdcpp' },
      { label: '车牌号码', prop: 'clbkCphm' },
      { label: '车辆型号', prop: 'clbkClxh' }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ],
    dialogs: [
      { label: '机动车品牌', type: 'input', name: 'clbkJdcpp' },
      { label: '发动机型号', type: 'input', name: 'clbkFdjxh' },
      { label: '机动车照片', upload: 'upload', name: 'clbkClzp' },
      { label: '车牌号码', type: 'input', name: 'clbkCphm' },
      { label: '车身颜色', type: 'input', name: 'clbkCsys' },
      { label: '', type: '' },
      { label: '车辆型号', type: 'input', name: 'clbkClxh' },
      // { label: '布控开始时间', type: 'datetime', name: 'clbkKssj' },
      // { label: '', type: '' },
      // { label: '布控结束时间', type: 'datetime', name: 'clbkJssj' },
      { label: '布控事件', type: 'input', name: 'clbkBksj' },
      { label: '', type: '' },
      { label: '布控人', type: 'input', name: 'clbkBkr' },
      { label: '布控人电话', type: 'input', name: 'clbkBkrdh' },
      { label: '', type: '' },
      { label: '联系人一', type: 'input', name: 'clbkLxra' },
      { label: '联系人电话一', type: 'input', name: 'clbkLxradh' },
      { label: '', type: '' },
      { label: '联系人二', type: 'input', name: 'clbkLxrb' },
      { label: '联系人电话二', type: 'input', name: 'clbkLxrbdh' },
      { label: '', type: '' },
      { label: '绰号', type: 'input', name: 'clbkCh' }
      // { label: '', type: '' }
    ]
  }),
  created () {
    this.selectAll()
  },
  methods: {
    async search() {
      this.iSloading = true
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
    },
    add (row) {
      Object.assign(this.form, this.$options.data().form)
      this.isDetermine = true
      this.title = '新增车辆布控'
      this.readOnly = false
      this.isShow = true
    },
    modify (data) {
      this.form = { ...data }
      this.isDetermine = true
      this.title = '车辆布控修改'
      this.readOnly = false
      this.isShow = true
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    detailed (data) {
      this.form = { ...data }
      this.isDetermine = false
      this.dialogs.push({ label: '布控开始时间', type: 'datetime', name: 'clbkKssj' })
      this.dialogs.push({ label: '', type: '' })
      this.title = '车辆布控详情'
      this.readOnly = true
      this.isShow = true
    },
    close () {
      this.isShow = false
      this.$refs.controlCarform.resetFields()
    },
    Submit() {
      const data = this.form
      data.clbkJkyy = ''
      this.$refs.controlCarform.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '新增车辆布控':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '车辆布控修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    },
    handleAvatarSuccess (res, file) {
      this.imageUrl = URL.createObjectURL(file.raw)
    },
    beforeAvatarUpload (file) {
      const isJPG = file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式!')
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!')
      }
      return isJPG && isLt2M
    }
  },
  components: { Elsearch, Eltable }
}
</script>
<style lang="scss">
.control_car {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .table {
    margin-top: 0.2rem;
  }
  .el-dialog__wrapper {
    .el-dialog {
      background-color: rgb(2, 16, 47);
      .el-dialog__header {
        background-color: rgb(2, 25, 60);
        .el-dialog__title {
          color: rgb(106, 239, 244);
        }
      }
      .el-dialog__body {
        .el-form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          height: auto;
          .el-form-item {
            width: 30% !important;
            position: relative;
            margin-right: 0;
            margin-bottom: 0.2rem;
            .el-form-item__label {
              color: #fff;
            }
            .el-form-item__content {
              width: auto;
              .el-input {
                width: 100%;
                input {
                  background-color: rgb(5, 33, 73);
                  border: none;
                }
              }
              .avatar-uploader {
                position: absolute;
                z-index: 100;
              }
            }
          }
        }
      }
    }
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
}
</style>
