<template>
  <div class="adminChild">
    <Elsearch :searchSettings="searchSettings" :formData="formData" :searchBtn="searchBtn" @search="search" @add="add"></Elsearch>
    <Eltable :tableHead="tableHead" :iSloading="iSloading" :tableDatas="tableDatas" :pagination="pagination" :tableSettings="tableSettings" @custom="custom" @modify="modify" @del="del" @detailed="detailed" @sizeChange="sizeChange"
    @pageChange="pageChange"></Eltable>
    <Dialog :isDetermine='isDetermine' :dialogData="dialogData" ref="dialog" :title="title" :rules="rules" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close" @Submit="Submit"></Dialog>
    <el-dialog class="jurisdiction" title="权限分配" :visible.sync="jurisdictionShow">
      <el-form ref="form" :model="form">
        <el-form-item  label="">
          <el-tree
            ref="menuTree"
            :data="PermissionList"
            show-checkbox
            :props='props'
            node-key="menuid"
            check-on-click-node
            :default-expand-all="true"
            :default-expanded-keys="['001','005']"
            :default-checked-keys="['001001']">
          </el-tree>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="jurisdictionShow = false">取 消</el-button>
        <el-button type="primary" @click="jurisdictionSubmit">保 存</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
import { selectAll, insert, update, delData, getList } from '@/api/admin/role/index'
import { showLoading, hideLoading } from '@/components/loading/index'
// const OptionsOne = [{ menuname: '安保路线', menuid: '001001' }, { menuname: '警力态势', menuid: '001002' }, { menuname: '人员态势', menuid: '001003' }, { menuname: '车辆态势', menuid: '001004' }, { menuname: '事件态势', menuid: '001005' }]

// const OptionsTwo = [{ menuname: '活动申请', menuid: '002001' }, { menuname: '活动审批', menuid: '002002' }, { menuname: '安保方案', menuid: '002003' }, { menuname: '人员背审', menuid: '002004' }, { menuname: '活动归档', menuid: '002005' }, { menuid: '002006', menuname: '战果统计报表' }]

// const OptionsThree = ['接入检查站', '圈层防控', '街面巡防']

// const OptionsFour = [{ menuname: '现场管理', menuid: '003001' }, { menuname: '情报研判', menuid: '003002' }, { menuname: '低慢小管理', menuid: '003003' }, { menuname: '圈层管理', menuid: '003004' }]

// const OptionsFive = [{ menuname: '票务数据接入', menuid: '006001' }, { menuname: '证件数据接入', menuid: '006002' }, { menuname: '视频数据接入', menuid: '006003' }, { menuname: '语音数据接入', menuid: '006004' }]

// const OptionsSix = [{ menuname: '警力展示', menuid: '004001' }, { menuname: '安保路线管理', menuid: '004002' }, { menuname: '重点人员管理', menuid: '004003' }, { menuname: '安保人员管理', menuid: '004004' }, { menuname: '重点车辆信息管理', menuid: '004005' }, { menuname: '涉会车辆管理', menuid: '004006' }, { menuname: '警情数据信息', menuid: '004007' }, { menuname: '人员背审信息', menuid: '004008' }, { menuname: '参会人员信息', menuid: '004009' }]

// const OptionsSeven = [{ menuname: '短信设置', menuid: '005001' }, { menuname: '车辆布控', menuid: '005002' }, { menuname: '人员布控', menuid: '005003' }, { menuname: '区域布控', menuid: '005004' }, { menuname: '布控解控', menuid: '005005' }]

// const OptionsEight = [{ menuname: '角色管理', menuid: '007001' }, { menuname: '用户管理', menuid: '007002' }, { menuname: '日志查询', menuid: '007003' }]

export default {
  data: () => ({
    title: '',
    isShow: false,
    readOnly: true,
    PermissionList: [],
    props: {
      label: (data, node) => {
        return data.menuname
      }
    },
    jurisdictionShow: false,
    // Ones: OptionsOne,
    // Twos: OptionsTwo,
    // Threes: OptionsThree,
    // Fours: OptionsFour,
    // Fives: OptionsFive,
    // Sixs: OptionsSix,
    // Sevens: OptionsSeven,
    // Eights: OptionsEight,
    iSloading: true,
    isDetermine: true,
    pagination: {
      current: 1,
      size: 10,
      total: 30
    },
    searchSettings: [
      { placeholder: '请输入角色名称', type: 'input', name: 'roleName' },
      { placeholder: '请输入角色编号', type: 'number', name: 'roleId' }
    ],
    formData: {
      roleName: '',
      roleId: ''
    },
    dialogData: {
      roleName: '',
      roleId: null,
      memo: ''
    },
    rules: {
      roleId: [
        { required: true, message: '请输入角色编号', trigger: 'blur' },
        { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      roleName: [
        { required: true, message: '请输入角色名称', trigger: 'blur' }
      ],
      memo: [
        { required: true, message: '请输入角色备注', trigger: 'blur' }
      ]
    },
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableHead: [
      { label: '角色编号', prop: 'roleId' },
      { label: '角色名称', prop: 'roleName' },
      { label: '角色备注', prop: 'memo' },
      { label: '权限范围', prop: 'str' }
    ],
    // tableDatas: Array(5).fill({
    //   input: '123'
    // }),
    tableDatas: [
      { roleId: 1, roleName: 'admin', memo: '管理员', str: '' }
    ],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' },
      { name: '添加权限', type: 'custom' }
    ],
    dialogs: [
      { label: '角色编号', type: 'number', name: 'roleId' },
      { label: '角色名称', type: 'input', name: 'roleName' },
      { label: '角色备注', type: 'input', name: 'memo' }
    ],
    form: {},
    paramsData: {}
  }),
  created () {
    this.selectAllRoles()
    this.getlist()
  },
  methods: {
    async search() {
      this.iSloading = true
      const paramsData = { ...this.formData, ...this.pagination }
      const { data: res } = await selectAll(paramsData)
      this.tableDatas = res.records
      this.pagination.total = res.total
      Object.assign(this.$data.formData, this.$options.data().formData)
      this.iSloading = false
    },
    getlist() {
      getList().then(res => {
        if (res.code === 1) {
          const data = res.data
          for (let i = 0; i < data.length; i++) {
            for (let j = 0; j < data[i].children.length; j++) {
              if (data[i].children[j].children !== []) {
                data[i].children[j].children = []
              }
            }
          }
          this.PermissionList = data
        }
        // 权限啥问题呀
      })
    },
    add () {
      Object.assign(this.dialogData, this.$options.data().dialogData)
      this.title = '角色新增'
      this.readOnly = false
      this.isShow = true
    },
    modify (data) {
      this.dialogData = { ...data }
      this.title = '角色修改'
      this.readOnly = false
      this.isShow = true
    },
    del (row) {
      console.log(row)
      delData(row.roleId)
      this.selectAllRoles()
    },
    detailed (data) {
      this.dialogData = { ...data }
      this.title = '角色详情'
      this.readOnly = true
      this.isShow = true
    },
    custom (data) {
      // console.log(data.str.split(';'))
      // const arr1 = data.str.split(';')
      // const arr2 = OptionsSix
      // const arr3 = []
      // 交集
      // const intersection = arr1.filter(function (val) { return arr2.indexOf(val) > -1 })
      // console.log(arr3)
      // console.log(intersection)
      this.jurisdictionShow = true
    },
    close () {
      this.isShow = false
      this.$refs.dialog.$refs.dialogForm.resetFields()
    },
    Submit(data) {
      this.$refs.dialog.$refs.dialogForm.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '角色新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAllRoles()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '角色修改':
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAllRoles()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      this.pagination.size = val
      delete this.pagination.total
      this.search()
    },
    // 翻页
    pageChange(val) {
      this.pagination.current = val
      this.search()
    },
    jurisdictionSubmit () {
      // let str = ''
      // const one = this.checkedCitiesOne.join(';')
      // const two = this.checkedCitiesTwo.join(';')
      // const three = this.checkedCitiesThree.join(';')
      // const four = this.checkedCitiesFour.join(';')
      // const five = this.checkedCitiesFive.join(';')
      // const six = this.checkedCitiesSix.join(';')
      // const seven = this.checkedCitiesSeven.join(';')
      // const eight = this.checkedCitiesEight.join(';')
      // str = one + two + three + four + five + six + seven + eight
      const checked = this.$refs.menuTree.getCheckedKeys()
      console.log(checked)
    },
    async selectAllRoles() {
      const { data: res } = await selectAll(this.paramsData)
      this.tableDatas = res.records
      console.log(this.tableDatas)
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: { Elsearch, Eltable, Dialog }
}
</script>
<style lang="scss">
.adminChild {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .table {
    margin-top: 0.2rem;
  }
  .jurisdiction {
    .el-dialog {
      .el-dialog__body {
        .el-form {
          justify-content: space-around;
          flex-wrap: wrap;
          .el-form-item {
            width: 100% !important;
            margin-bottom: 0;
            .el-form-item__content {
              // width: 1rem;
              .el-tree{
                display:flex;
                flex-wrap:wrap;
                color:#fff;
                background:none;
                & > .el-tree-node{
                  width: 25%;
                }
                .el-tree-node__content:hover{
                  background-color: transparent;
                }
                .el-tree-node:focus>.el-tree-node__content{
                  background-color: transparent;
                }
              }
              .el-checkbox {
                margin-left: 0;
                color: #fff;
              }
              .el-checkbox-group {
                .el-checkbox {
                  margin-left: 0.3rem;
                  margin-right: 0;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
