<template>
  <div class="study">
    <div class="study_t">
      <div class="l">
        <PieL1></PieL1>
      </div>
      <div class="r"><PieR1></PieR1></div>
    </div>
    <Elsearch :searchSettings="searchSettings" :formData="formData" :searchBtn="searchBtn" @add="add" @search="search"></Elsearch>
    <Eltable :tableHead="tableHead" :iSloading="iSloading" :tableSettings="tableSettings" :tableDatas="tableDatas" @modify="modify" @sizeChange="sizeChange" @pageChange="pageChange" @del="del" @detailed="detailed" :pagination="pagination"></Eltable>
    <!-- <div class="study_t">
      <div class="l">
        <PieL2></PieL2>
      </div>
      <div class="r"><PieR2></PieR2></div>
    </div> -->
    <Dialog :title="title" :isDetermine='isDetermine' :dialogData="dialogData"  :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" ref="dialog" @Submit="Submit"  :rules="rules" @close="close"></Dialog>
  </div>
</template>
<script>
import Eltable from '@/components/table'
import Elsearch from '@/components/search'
import Dialog from '@/components/dialog'
import PieL1 from '@/components/business_com/study/pieL1'
// import PieL2 from '@/components/business_com/study/pieL2'
import PieR1 from '@/components/business_com/study/pieR1'
// import PieR2 from '@/components/business_com/study/pieR2'
import { selectAll, update, delData, insert, selectAllGajg } from '@/api/business/study/index'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    input: '',
    title: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    tableHead: [
      { label: '活动编号', prop: 'hdbh' },
      { label: '情报信息', prop: 'qbxxQbxx' },
      { label: '情报来源', prop: 'qbxxQbly' },
      {
        label: '情报类型',
        prop: 'qbxxQblx',
        formatter: (row, column) => {
          console.log('🚀 ~ file: index.vue ~ line 128 ~ column', column)
          console.log('🚀 ~ file: index.vue ~ line 128 ~ row', row)
          switch (row.qbxxQblx) {
            case 1:
              return '案件研判'
            case 3:
              return '基础工作研判'
            case 4:
              return '队伍管理研判'
          }
        }
      },
      { label: '情报条目', prop: 'qbxxQbtm' },
      { label: '情报时间', prop: 'qbxxQbsj' },
      { label: '公安机关机构名称', prop: 'orgname' }
    ],
    formData: { // 查询输入框搜索数据
      hdbh: '',
      qbxxQblx: '',
      qbxxGajgjgdm: ''
    },
    dialogData: { // 弹出框数据
      hdbh: '',
      qbxxQbxx: '',
      qbxxQbly: '',
      qbxxQblx: '',
      qbxxQbtm: '',
      orgname: '',
      qbxxQbsj: '',
      qbxxGajgjgdm: ''
    },
    rules: {
      // role: [
      //   { required: true, message: '请输入所属角色', trigger: 'blur' }
      //   // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      // ],
      // idNumber: [
      //   { required: true, message: '请输入身份证号', trigger: 'blur' }
      // ],
      // mechanismId: [
      //   { required: true, message: '请输入所属单位', trigger: 'blur' }
      // ],
      // account: [
      //   { required: true, message: '请输入警号', trigger: 'blur' }
      // ],
      // peopleName: [
      //   { required: true, message: '请输入用户姓名', trigger: 'blur' }
      // ],
      // tel: [
      //   { required: true, message: '请输入联系电话', trigger: 'blur' }
      // ]
    },
    tableDatas: [],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ],
    paramsData: {},
    searchSettings: [
      { placeholder: '活动编号', type: 'input', name: 'hdbh' },
      { placeholder: '情报类型', type: 'select', name: 'qbxxQblx', options: [{ label: '案件研判', value: 1 }, { label: '基础工作研判', value: 3 }, { label: '队伍管理研判', value: 4 }] },
      { placeholder: '请输入公安机关机构名称', type: 'input', name: 'orgname' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    dialogs: [
      { label: '活动编码', type: 'input', name: 'hdbh' },
      { label: '情报信息', type: 'input', name: 'qbxxQbxx' },
      { label: '情报来源', type: 'input', name: 'qbxxQbly' },
      { label: '情报类型', type: 'select', name: 'qbxxQblx', options: [{ label: '案件研判', value: 1 }, { label: '基础工作研判', value: 3 }, { label: '队伍管理研判', value: 4 }] },
      { label: '情报条目', type: 'input', name: 'qbxxQbtm' },
      { label: '情报信息', type: 'input', name: 'qbxxQbxx' },
      { label: '情报时间', type: 'input', name: 'qbxxQbsj' },
      { label: '公安机关机构', type: 'cascader', name: 'qbxxGajgjgdm', props: { value: 'orgid', label: 'orgname' }, options: [] }
    ],
    form: {}
  }),
  created () {
    this.selectAll()
    this.selectAllGajg()
  },
  methods: {
    selectAllGajg() {
      const that = this
      selectAllGajg().then(res => {
        if (res.code === 1) {
          that.dialogs[7].options = this.getTreeData(res.data)
        }
      })
      console.log(that.dialogs[7])
    },
    getTreeData(data) {
      // 循环遍历json数据
      for (var i = 0; i < data.length; i++) {
        if (data[i].children.length < 1) {
          // children若为空数组，则将children设为undefined
          data[i].children = undefined
        } else {
          // children若不为空数组，则继续 递归调用 本方法
          this.getTreeData(data[i].children)
        }
      }
      return data
    },
    async search() {
      this.iSloading = true
      console.log({ ...this.formData })
      const paramsData = { ...this.formData, ...this.pagination }
      const { data: res } = await selectAll(paramsData)
      this.tableDatas = res.records
      this.pagination.total = res.total
      Object.assign(this.$data.formData, this.$options.data().formData)
      this.iSloading = false
    },
    add (row) {
      Object.assign(this.dialogData, this.$options.data().dialogData)
      this.readOnly = false
      this.title = '情报研判新增'
      this.isShow = true
    },
    modify (data) {
      this.dialogData = { ...data }
      this.readOnly = false
      this.title = '情报研判修改'
      this.isShow = true
    },
    async del (row) {
      await delData(row.hdbh)
      this.selectAll()
    },
    detailed (data) {
      this.dialogData = { ...data }
      this.readOnly = true
      this.title = '情报研判详情'
      this.isShow = true
    },
    close () {
      this.isShow = false
      this.$refs.dialog.$refs.dialogForm.resetFields()
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      this.pagination.size = val
      delete this.pagination.total
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      this.pagination.current = val
      this.selectAll()
    },
    Submit(data) {
      delete data.newPassWord
      this.$refs.dialog.$refs.dialogForm.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '情报研判新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '情报研判修改':
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAllUser()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    async selectAll() {
      const { data: res } = await selectAll(this.paramsData)
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: {
    Eltable, Elsearch, Dialog, PieL1, PieR1
  }
}
</script>
<style lang="scss">
.study {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  // padding-right: 0.2rem;
  // padding: 0.2rem;
  box-sizing: border-box;
  .table {
    margin-top: 0.2rem;
  }
  .study_t {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    margin-top: 0.2rem;
    .l,
    .r {
      width: 45%;
    }
  }
  .el-cascader{
    width: 100%;
  }
}
</style>
