<template>
  <div class="meeting">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @add="add" @search="search" :formData="formData"></Elsearch>
    <div class="meeting_table">
      <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @modify="modify" @del="del" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    </div>
    <Dialog :title="title" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close" @Submit="Submit" :isDetermine='isDetermine' :rules="rules" :dialogData="dialogData" ref="dialog1"></Dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
import { selectAll, update, delData, insert } from '@/api/management/meeting/index'
import { selectAllGajg } from '@/api/activity/approval/index'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    title: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      ssfj: '',
      zjhm: '',
      xm: '',
      gzxxPwlx: '',
      str: ''
    },
    rules: {
      zjhm: [
        { required: true, message: '请输入证件号码', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      xxbz: [
        { required: true, message: '请输入信息标识', trigger: 'blur' }
      ],
      xm: [
        { required: true, message: '请输入姓名', trigger: 'blur' }
      ],
      xbdm: [
        { required: true, message: '请输入性别', trigger: 'blur' }
      ],
      sfshwry: [
        { required: true, message: '请选择是否会务人员', trigger: 'blur' }
      ],
      sfsgz: [
        { required: true, message: '请选择是否观众', trigger: 'blur' }
      ],
      sfbs: [
        { required: true, message: '请选择是否背审', trigger: 'blur' }
      ],
      hwryxxHwzbh: [
        { required: true, message: '请输入会务证编号', trigger: 'blur' }
      ],
      mzdm: [
        { required: true, message: '请输入民族', trigger: 'blur' }
      ],
      hwryxxHwrylx: [
        { required: true, message: '请选择是否会务人员类型', trigger: 'blur' }
      ],
      gzxxZwh: [
        { required: true, message: '请输入座位号', trigger: 'blur' }
      ],
      gzxxSfwwb: [
        { required: true, message: '请选择是否为外宾', trigger: 'blur' }
      ],
      gzxxPwlx: [
        { required: true, message: '请选择票务类型', trigger: 'blur' }
      ],
      gzxxJdjb: [
        { required: true, message: '请选择接待级别', trigger: 'blur' }
      ],
      gzxxPwbh: [
        { required: true, message: '请输入票务编号', trigger: 'blur' }
      ],
      gzxxGpsj: [
        { required: true, message: '请输入购票时间', trigger: 'blur' }
      ],
      cyzjdm: [
        { required: true, message: '请输入常用证件', trigger: 'blur' }
      ],
      gjdm: [
        { required: true, message: '请输入国籍', trigger: 'blur' }
      ],
      bsjg: [
        { required: true, message: '请输入背审结果', trigger: 'blur' }
      ]
    },
    dialogData: { // 弹出框数据
      bsjg: '',
      cjsj: '',
      cyzjdm: '',
      gjdm: '',
      gzxxGpsj: '',
      gzxxJdjb: '',
      gzxxPwbh: '',
      gzxxPwlx: '',
      gzxxSfwwb: '',
      gzxxZwh: '',
      hwryxxHwrylx: '',
      hwryxxHwzbh: '',
      mzdm: '',
      sfbs: '',
      sfsgz: '',
      sfshwry: '',
      xbdm: '',
      xm: '',
      xxbz: '',
      xxrksj: '',
      zjhm: ''
    },
    searchSettings: [
      { placeholder: '所属分局', type: 'cascader', name: 'ssfj', props: { value: 'orgid', label: 'orgname', emitPath: false }, options: [] },
      { placeholder: '请输入证件号码', type: 'input', name: 'zjhm' },
      { placeholder: '请输入姓名', type: 'input', name: 'xm' },
      { placeholder: '票务类型', type: 'select', name: 'gzxxPwlx' },
      { placeholder: '请输入票务编号及座位号', type: 'input', name: 'str' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableHead: [
      { label: '序号', prop: 'xxbz' },
      { label: '姓名', prop: 'xm' },
      {
        label: '性别代码',
        prop: 'xbdm',
        formatter: (row, column) => {
          switch (row.xbdm) {
            case '1':
              return '男'
            case '0':
              return '女'
          }
        }
      },
      { label: '证件号码', prop: 'zjhm' },
      {
        label: '票务类型',
        prop: 'gzxxPwlx'
        // formatter: (row, column) => {
        //   console.log('🚀 ~ file: index.vue ~ line 128 ~ column', column)
        //   console.log('🚀 ~ file: index.vue ~ line 128 ~ row', row)
        //   switch (row.qbxxQblx) {
        //     case 1:
        //       return '案件研判'
        //     case 3:
        //       return '基础工作研判'
        //     case 4:
        //       return '队伍管理研判'
        //   }
        // }
      }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ],
    dialogs: [
      { label: '信息标识', type: 'input', name: 'xxbz' },
      { label: '常用证件代码', type: 'input', name: 'cyzjdm' },
      { label: '证件号码', type: 'input', name: 'zjhm' },
      { label: '姓名', type: 'input', name: 'xm' },
      { label: '性别代码', type: 'select', name: 'xbdm', options: [{ label: '男', value: '1' }, { label: '女', value: '0' }] },
      { label: '民族代码', type: 'input', name: 'mzdm' },
      { label: '国籍代码', type: 'input', name: 'gjdm' },
      { label: '是否是会务人员', type: 'select', name: 'sfshwry', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }] },
      // { label: '会务人员信息', type: 'input' },
      { label: '会务人员类型', type: 'select', name: 'hwryxxHwrylx', options: [{ label: '秘书', value: '0' }, { label: '安保', value: '1' }, { label: '行政', value: '2' }, { label: '其他', value: '3' }] },
      { label: '会务证编号', type: 'input', name: 'hwryxxHwzbh' },
      { label: '是否是观众', type: 'select', name: 'sfsgz', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }] },
      // { label: '观众信息', type: 'input' },
      { label: '观众票务类型', type: 'input', name: 'gzxxPwlx' },
      { label: '观众票务编号', type: 'input', name: 'gzxxPwbh' },
      { label: '观众座位号', type: 'input', name: 'gzxxZwh' },
      { label: '观众购票时间', type: 'datetime', name: 'gzxxGpsj' },
      { label: '是否为外宾', type: 'select', name: 'gzxxSfwwb', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }] },
      { label: '接待级别', type: 'input', name: 'gzxxJdjb' },
      { label: '是否背审', type: 'select', name: 'sfbs', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }] },
      { label: '背省结果', type: 'input', name: 'bsjg' },
      { label: '采集时间', type: 'datetime', name: 'cjsj' },
      { label: '信息入库时间', type: 'datetime', name: 'xxrksj' }
    ],
    form: {},
    paramsData: {}
  }),
  created () {
    this.selectAll()
    this.selectAllGajg()
  },
  methods: {
    selectAllGajg() {
      const that = this
      selectAllGajg().then(res => {
        if (res.code === 1) {
          that.searchSettings[0].options = this.getTreeData(res.data)
        }
      })
      console.log(that.searchSettings[0])
    },
    getTreeData(data) {
      // 循环遍历json数据
      for (var i = 0; i < data.length; i++) {
        if (data[i].children.length < 1) {
          // children若为空数组，则将children设为undefined
          data[i].children = undefined
        } else {
          // children若不为空数组，则继续 递归调用 本方法
          this.getTreeData(data[i].children)
        }
      }
      return data
    },
    async search() {
      this.iSloading = true
      // console.log({ ...this.formData })
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      // this.iSloading = false
    },
    add (row) {
      Object.assign(this.dialogData, this.$options.data().dialogData)
      this.isDetermine = true
      this.title = '参会人员新增'
      this.readOnly = false
      this.isShow = true
    },
    modify (data) {
      console.log(data)
      this.dialogData = { ...data }
      this.isDetermine = true
      this.title = '参会人员修改'
      this.readOnly = false
      this.isShow = true
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    detailed (data) {
      console.log(data)
      this.dialogData = { ...data }
      this.isDetermine = false
      this.title = '参会人员详情'
      this.readOnly = true
      this.isShow = true
    },
    close () {
      this.isShow = false
      this.$refs.dialog1.$refs.dialogForm.resetFields()
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    Submit(data) {
      this.$refs.dialog1.$refs.dialogForm.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '参会人员新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '参会人员修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: { Elsearch, Eltable, Dialog }
}
</script>
<style lang="scss">
.meeting {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .el-cascader{
      width: 100%;
    }
  .meeting_table {
    margin-top: 0.2rem;
    h3 {
      color: #00ffff;
      font-size: 0.18rem;
    }
    .table {
      margin-top: 0.2rem;
    }
  }
}
</style>
