<template>
  <div class="activityJournal">
    <Eltable :tableHead="tableHead" :operateShow="false" :tableDatas="tableDatas" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
  </div>
</template>
<script>
import Eltable from '@/components/table'
import { selectAll } from '@/api/activity/file/activityJournal'
export default {
  data: () => ({
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    tableHead: [
      { label: '序号', prop: 'hdrzxxRzbm' },
      { label: '活动日志编码', prop: 'hdbm' },
      { label: '活动日志名称', prop: 'hdrzxxRzmc' },
      { label: '操作内容', prop: 'cznr' },
      { label: '操作时间', prop: 'gxsj' },
      { label: '操作账号', prop: 'czzh' },
      { label: '日志详述', prop: 'hdrzxxRzxs' }
    ],
    tableDatas: []
  }),
  created () {
    this.selectAll()
  },
  methods: {
    // 切换当前一页展示多少条
    sizeChange(val) {
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      this.pagination.current = val
      this.selectAll()
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: { Eltable }
}
</script>
<style lang="scss">
.activityJournal {
  .table {
    margin-top: 0.2rem;
  }
}
</style>
