<template>
  <div class="app">
    <header v-if="!isLogin">
      <div class="header_left">
        <ul class="header_menu">
          <li v-for="item in leftMenu" :key="item.menuid" class="menu_list">
            <span @click="jumpRoute(item)" :class="{ li_hover: currentRutePath===item.url }">{{item.menuname}}</span>
          </li>
          <!-- <li class="menu_list">
            <span @click="goSituation" :class="{ li_hover: isSituation }">态势感知</span>
          </li>
          <li class="menu_list">
            <span @click="goActivity" :class="{ li_hover: isActivity }">活动管理</span>
          </li>
          <li class="menu_list">
            <span @click="goBusiness" :class="{ li_hover: isBusiness }">业务协同</span>
          </li>
          <li class="menu_list">
            <span @click="goManagement" :class="{ li_hover: isManagement }">数据管理</span>
          </li> -->
        </ul>
      </div>
      <div class="header_center">
        <div class="centerDiv">
          <img src="./assets/app_img/u32.svg" alt="" />
          <h1 class="title">大型活动安保平台</h1>
        </div>
      </div>
      <div class="header_right">
        <ul class="header_menu">
          <li v-for="item in rightMenu" :key="item.menuid" class="menu_list">
            <span @click="jumpRoute(item)" :class="{ li_hover: currentRutePath===item.url }">{{item.menuname}}</span>
          </li>
          <!-- <li class="menu_list">
            <span @click="goControl" :class="{ li_hover: isControl }">布控管理</span>
          </li>
          <li class="menu_list">
            <span @click="goFnc" :class="{ li_hover: isFnc }">接入功能</span>
          </li>
          <li class="menu_list">
            <span @click="goAdmin" :class="{ li_hover: isAdmin }">系统管理</span>
          </li> -->
          <li class="menu_list last_list">
            <div class="btn">
              <button class="btn_home" @click="goHome">
                <img src="./assets/app_img/u40.svg" alt="" />
              </button>
              <button class="btn_me" @click="userDataShow = true">
                <img src="./assets/app_img/u44.svg" alt="" />
              </button>
              <button class="btn_esc" @click="$router.push('/login')">
                <img src="./assets/app_img/u48.svg" alt="" />
              </button>
            </div>
          </li>
        </ul>
      </div>
    </header>
    <main :class="{ login: isLogin }">
      <router-view></router-view>
    </main>
    <el-dialog class="userDialog" title="个人信息" :visible.sync="userDataShow" center width="30%">
      <p v-for="(i, index) in userData" :key="index">
        <span>{{ i.label }}</span>
        <span>{{ i.value }}</span>
      </p>
    </el-dialog>
  </div>
</template>
<script>
import { insert } from '@/api/dome/http.js'
export default {
  data () {
    return {
      isAdmin: false,
      isFnc: false,
      isControl: false,
      isBusiness: false,
      isManagement: false,
      isActivity: false,
      isSituation: false,
      isLogin: false,
      userDataShow: false,
      routerName: this.$store.state.routerName,
      userData: [
        {
          label: '用户编号：', value: '02'
        },
        { label: '用户姓名：', value: '02' },
        { label: '用户权限：', value: '02' },
        { label: '登录时间：', value: '02' }
      ],
      paramsData: {
      },
      // 我要更改的东西
      sysMenu: [
        {
          menuid: '001',
          menuname: '态势感知',
          paremenuid: '0',
          // 加了redirect之后这里就不用写完整的了
          // 路由会自动跳转过去
          url: '/situation',
          paixu: '100',
          state: '1',
          children: []
        },
        {
          menuid: '002',
          menuname: '活动管理',
          paremenuid: '0',
          // 这里有子菜单，可以后期拼接出完整的路由地址
          url: '/activity',
          paixu: '200',
          state: '1',
          children: [
            {
              menuid: '002001',
              menuname: '活动申请',
              paremenuid: '002',
              // 所以这里的‘activity’可要可不要
              // 所有子路由中，要统一，要么都要，要么都不要
              url: '/activity/apply',
              paixu: '201',
              state: '1',
              children: []
            },
            {
              menuid: '002002',
              menuname: '活动审批',
              paremenuid: '002',
              url: '/activity/approval',
              paixu: '202',
              state: '1',
              children: []
            },
            {
              menuid: '002003',
              menuname: '安保方案',
              paremenuid: '002',
              url: '/activity/programme',
              paixu: '203',
              state: '1',
              children: [
                {
                  menuid: '002003001',
                  menuname: '',
                  paremenuid: '002003',
                  url: '/activity/programmes',
                  paixu: '207',
                  state: '1'
                }
              ]
            },
            {
              menuid: '002004',
              menuname: '人员背审',
              paremenuid: '002',
              url: '/activity/trial',
              paixu: '204',
              state: '1',
              children: []
            },
            {
              menuid: '002005',
              menuname: '活动归档',
              paremenuid: '002',
              url: '/activity/file',
              paixu: '205',
              state: '1',
              children: [
                {
                  menuid: '002005001',
                  menuname: '',
                  paremenuid: '002005',
                  url: '/activity/file/activityArchives',
                  paixu: '208',
                  state: '1'
                },
                {
                  menuid: '002005002',
                  menuname: '',
                  paremenuid: '002005',
                  url: '/activity/file/venueArchives',
                  paixu: '209',
                  state: '1'
                },
                {
                  menuid: '002005003',
                  menuname: '',
                  paremenuid: '002005',
                  url: '/activity/file/activityJournal',
                  paixu: '210',
                  state: '1'
                }
              ]
            },
            {
              menuid: '002006',
              menuname: '战果统计报表',
              paremenuid: '002',
              url: '/activity/statistics',
              paixu: '206',
              state: '1',
              children: []
            }
          ]
        },
        {
          menuid: '003',
          menuname: '业务协同',
          paremenuid: '0',
          url: '/business',
          paixu: '300',
          state: '1',
          children: [
            {
              menuid: '003001',
              menuname: '现场管理',
              paremenuid: '003',
              url: '/business/scene',
              paixu: '301',
              state: '1',
              children: []
            },
            {
              menuid: '003002',
              menuname: '情报研判',
              paremenuid: '003',
              url: '/business/study',
              paixu: '302',
              state: '1',
              children: []
            },
            {
              menuid: '003003',
              menuname: '底慢小管理',
              paremenuid: '003',
              url: '/business/regulated',
              paixu: '303',
              state: '1',
              children: []
            },
            {
              menuid: '003004',
              menuname: '圈层管理',
              paremenuid: '003',
              url: '/business/circleManagement',
              paixu: '304',
              state: '1',
              children: []
            }
          ]
        },
        {
          menuid: '004',
          menuname: '数据管理',
          paremenuid: '0',
          url: '/management',
          paixu: '400',
          state: '1',
          children: [
            {
              menuid: '004001',
              menuname: '警力展示',
              paremenuid: '004',
              url: '/management/policeDisplay',
              paixu: '401',
              state: '1',
              children: [
                {
                  menuid: '004001001',
                  menuname: '',
                  paremenuid: '004001',
                  url: '/management/policeDisplay/policeDisplayCar',
                  paixu: '410',
                  state: '1'
                },
                {
                  menuid: '004001002',
                  menuname: '',
                  paremenuid: '004001',
                  url: '/management/policeDisplay/policeDisplayPolic',
                  paixu: '411',
                  state: '1'
                }
              ]
            },
            {
              menuid: '004002',
              menuname: '安保路线管理',
              paremenuid: '004',
              url: '/management/policeRoutes',
              paixu: '402',
              state: '1',
              children: [
                {
                  menuid: '004002001',
                  menuname: '',
                  paremenuid: '004002',
                  url: '/management/policeRoutes/policeRoute',
                  paixu: '412',
                  state: '1'
                },
                {
                  menuid: '004002002',
                  menuname: '',
                  paremenuid: '004002',
                  url: '/management/policeRoutes/policeRouteTrail',
                  paixu: '413',
                  state: '1'
                }
              ]
            },
            {
              menuid: '004003',
              menuname: '重点人员管理',
              paremenuid: '004',
              url: '/management/pointPeople',
              paixu: '403',
              state: '1',
              children: [
                {
                  menuid: '004003001',
                  menuname: '',
                  paremenuid: '004003',
                  url: '/management/pointPeople/pointPeopleAviation',
                  paixu: '414',
                  state: '1'
                },
                {
                  menuid: '004003002',
                  menuname: '',
                  paremenuid: '004003',
                  url: '/management/pointPeople/pointPeopleRailway',
                  paixu: '415',
                  state: '1'
                },
                {
                  menuid: '004003003',
                  menuname: '',
                  paremenuid: '004003',
                  url: '/management/pointPeople/pointPeopleBus',
                  paixu: '416',
                  state: '1'
                },
                {
                  menuid: '004003004',
                  menuname: '',
                  paremenuid: '004003',
                  url: '/management/pointPeople/pointPeopleCheckpoint',
                  paixu: '417',
                  state: '1'
                },
                {
                  menuid: '004003005',
                  menuname: '',
                  paremenuid: '004003',
                  url: '/management/pointPeople/pointPeopleHotel',
                  paixu: '418',
                  state: '1'
                },
                {
                  menuid: '004003006',
                  menuname: '',
                  paremenuid: '004003',
                  url: '/management/pointPeople/pointPeopleShip',
                  paixu: '419',
                  state: '1'
                },
                {
                  menuid: '004003007',
                  menuname: '',
                  paremenuid: '004003',
                  url: '/management/pointPeople/pointPeopleInternetBar',
                  paixu: '420',
                  state: '1'
                },
                {
                  menuid: '004003008',
                  menuname: '',
                  paremenuid: '004003',
                  url: '/management/pointPeople/pointPeoplePortrait',
                  paixu: '421',
                  state: '1'
                }
              ]
            },
            {
              menuid: '004004',
              menuname: '安保人员管理',
              paremenuid: '004',
              url: '/management/policeMan',
              paixu: '404',
              state: '1',
              children: []
            },
            {
              menuid: '004005',
              menuname: '重点车辆信息管理',
              paremenuid: '004',
              url: '/management/stressCar',
              paixu: '405',
              state: '1',
              children: [
                {
                  menuid: '004005001',
                  menuname: '',
                  paremenuid: '004005',
                  url: '/management/stressCar/statisticsCar',
                  paixu: '422',
                  state: '1'
                },
                {
                  menuid: '004005002',
                  menuname: '',
                  paremenuid: '004005',
                  url: '/management/stressCar/positionCar',
                  paixu: '423',
                  state: '1'
                }
              ]
            },
            {
              menuid: '004006',
              menuname: '涉会车辆管理',
              paremenuid: '004',
              url: '/management/sociologyCar',
              paixu: '406',
              state: '1',
              children: []
            },
            {
              menuid: '004007',
              menuname: '警情数据信息',
              paremenuid: '004',
              url: '/management/policeDatas',
              paixu: '407',
              state: '1',
              children: []
            },
            {
              menuid: '004008',
              menuname: '人员背审信息',
              paremenuid: '004',
              url: '/management/peopleTrial',
              paixu: '408',
              state: '1',
              children: []
            },
            {
              menuid: '004009',
              menuname: '参会人员信息',
              paremenuid: '004',
              url: '/management/meeting',
              paixu: '409',
              state: '1',
              children: []
            }
          ]
        },
        {
          menuid: '005',
          menuname: '布控管理',
          paremenuid: '0',
          url: '/control',
          paixu: '500',
          state: '1',
          children: [
            {
              menuid: '005001',
              menuname: '短信设置',
              paremenuid: '005',
              url: '/control/personnel',
              paixu: '501',
              state: '1',
              children: []
            },
            {
              menuid: '005002',
              menuname: '车辆布控',
              paremenuid: '005',
              url: '/control/car',
              paixu: '502',
              state: '1',
              children: []
            },
            {
              menuid: '005003',
              menuname: '人员布控',
              paremenuid: '005',
              url: '/control/note',
              paixu: '503',
              state: '1',
              children: []
            },
            {
              menuid: '005004',
              menuname: '区域布控',
              paremenuid: '005',
              url: '/control/region',
              paixu: '504',
              state: '1',
              children: []
            },
            {
              menuid: '005005',
              menuname: '布控解控',
              paremenuid: '005',
              url: '/control/release',
              paixu: '505',
              state: '1',
              children: [
                {
                  menuid: '005005001',
                  menuname: '布控解控',
                  paremenuid: '005005',
                  url: '/control/release/releaseCar',
                  paixu: '506',
                  state: '1'
                },
                {
                  menuid: '005005002',
                  menuname: '布控解控',
                  paremenuid: '005005',
                  url: '/control/release/releasePeople',
                  paixu: '507',
                  state: '1'
                },
                {
                  menuid: '005005003',
                  menuname: '布控解控',
                  paremenuid: '005005',
                  url: '/control/release/releaseRegion',
                  paixu: '508',
                  state: '1'
                }
              ]
            }
          ]
        },
        {
          menuid: '006',
          menuname: '接入功能',
          paremenuid: '0',
          url: '/fnc',
          paixu: '600',
          state: '1',
          children: [
            {
              menuid: '006001',
              menuname: '票务数据接入',
              paremenuid: '006',
              url: '/fnc/ticket',
              paixu: '601',
              state: '1',
              children: []
            },
            {
              menuid: '006002',
              menuname: '证件数据接入',
              paremenuid: '006',
              url: '/fnc/papers',
              paixu: '602',
              state: '1',
              children: []
            },
            {
              menuid: '006003',
              menuname: '视频功能接入',
              paremenuid: '006',
              url: '/fnc/videoAccess',
              paixu: '603',
              state: '1',
              children: []
            },
            {
              menuid: '006004',
              menuname: '语音功能接入',
              paremenuid: '006',
              url: '/fnc/voice',
              paixu: '604',
              state: '1',
              children: []
            }
          ]
        },
        {
          menuid: '007',
          menuname: '系统管理',
          paremenuid: '0',
          url: '/admin',
          paixu: '700',
          state: '1',
          children: [
            {
              menuid: '007001',
              menuname: '角色管理',
              paremenuid: '007',
              url: '/admin/role',
              paixu: '701',
              state: '1',
              children: []
            },
            {
              menuid: '007002',
              menuname: '用户管理',
              paremenuid: '007',
              url: '/admin/user',
              paixu: '702',
              state: '1',
              children: []
            },
            {
              menuid: '007003',
              menuname: '日志查询',
              paremenuid: '007',
              url: '/admin/journal',
              paixu: '703',
              state: '1',
              children: []
            }
          ]
        }
      ],
      OneMenu: {
        menuid: '001005',
        menuname: '事件态势',
        paremenuid: '001',
        url: '',
        paixu: '105',
        state: '1',
        children: []
      }
    }
  },
  computed: {
    leftMenu () {
      return this.sysMenu.slice(0, 4)
    },
    rightMenu () {
      return this.sysMenu.slice(4)
    },
    currentRutePath () {
      return this.$store.state.currentMenu
    }
  },
  created () {
    this.whoClick(this.routerName)
    // this.selectAllMenu()
    // this.selectOneMenu()
    // this.updateMenu()
    // this.insertMenu()
    this.updateVuexRoutes(this.sysMenu)
  },
  methods: {
    goAdmin () {
      this.isFnc = false
      this.isControl = false
      this.isBusiness = false
      this.isManagement = false
      this.isActivity = false
      this.isSituation = false
      this.isAdmin = true
      this.$router.push('/admin/role')
    },
    goFnc () {
      this.isAdmin = false
      this.isControl = false
      this.isBusiness = false
      this.isManagement = false
      this.isActivity = false
      this.isSituation = false
      this.isFnc = true
      this.$router.push('/fnc/ticket')
    },
    goControl () {
      this.isFnc = false
      this.isAdmin = false
      this.isBusiness = false
      this.isManagement = false
      this.isActivity = false
      this.isSituation = false
      this.isControl = true
      this.$router.push('/control/personnel')
    },
    goManagement () {
      this.isFnc = false
      this.isAdmin = false
      this.isBusiness = false
      this.isControl = false
      this.isActivity = false
      this.isSituation = false
      this.isManagement = true
      this.$router.push('/management/policeDisplay/policeDisplayCar')
    },
    goBusiness () {
      this.isFnc = false
      this.isAdmin = false
      this.isControl = false
      this.isManagement = false
      this.isActivity = false
      this.isSituation = false
      this.isBusiness = true
      this.$router.push('/business/scene')
    },
    goActivity () {
      this.isFnc = false
      this.isAdmin = false
      this.isControl = false
      this.isManagement = false
      this.isBusiness = false
      this.isSituation = false
      this.isActivity = true
      this.$router.push('/activity/apply')
    },
    goSituation () {
      this.isFnc = false
      this.isAdmin = false
      this.isControl = false
      this.isManagement = false
      this.isBusiness = false
      this.isActivity = false
      this.isSituation = true
      this.$router.push('/situation/situationMap')
    },
    goHome () {
      this.$router.push('/home')
    },
    whoClick (name) {
      if (name === '系统管理') {
        this.isLogin = false
        this.isAdmin = true
      } else if (name === '接入功能') {
        this.isLogin = false
        this.isFnc = true
      } else if (name === '布控管理') {
        this.isLogin = false
        this.isControl = true
      } else if (name === '数据管理') {
        this.isLogin = false
        this.isManagement = true
      } else if (name === '业务协同') {
        this.isLogin = false
        this.isBusiness = true
      } else if (name === '首页') {
        this.isFnc = false
        this.isControl = false
        this.isBusiness = false
        this.isManagement = false
        this.isAdmin = false
        this.isSituation = false
        this.isActivity = false
        this.isLogin = false
      } else if (name === '活动管理') {
        this.isLogin = false
        this.isActivity = true
      } else if (name === '态势感知') {
        this.isLogin = false
        this.isSituation = true
      } else if (name === '登录') {
        this.isLogin = true
      }
    },
    jumpRoute(route) {
      this.currentRutePath = route.url
      this.$router.push({ path: route.url, props: { route } })
    },
    // 更新vuex中的路由
    updateVuexRoutes(routes) {
      this.$store.commit('updateRoutes', routes)
    },
    // async selectAllMenu() {
    //   const { data: res } = await getList()
    //   console.log(res)
    // },
    // async selectOneMenu() {
    //   const id = '002'
    //   const { data: res } = await getListOne(id)
    //   console.log(res)
    // },
    // 更新导航栏
    // async updateMenu() {
    //   const res = await update(this.OneMenu)
    //   if (res.code !== 1) {
    //     this.Message({
    //       type: 'success',
    //       Message: '系统菜单修改失败'
    //     })
    //   }
    //   console.log(res)
    // }
    // 新增系统菜单
    async insertMenu() {
      const res = await insert(this.OneMenu)
      // const res = await update(this.OneMenu)
      if (res.code !== 1) {
        this.Message({
          type: 'success',
          Message: '系统菜单新增失败'
        })
      }
      console.log(res)
    }
  },
  watch: {
    '$store.state.routerName': function (newVal) {
      this.whoClick(newVal)
    }
  }
}
</script>
<style lang="scss">
$hundred: 100%;
$pr: relative;
$pa: absolute;
.app {
  background: url('./assets/app_img/u19.png') no-repeat center center;
  background-size: $hundred $hundred;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  header {
    width: 100%;
    height: 0.94rem;
    display: flex;
    background: rgba(14, 16, 31, 1);
    margin: 0 auto;
    justify-content: space-around;
    .header_left {
      height: $hundred;
      width: 30%;
    }
    .header_center {
      position: relative;
      width: 33%;
      height: $hundred;
      background: url('./assets/app_img/u30.png') no-repeat center center;
      background-size: $hundred $hundred;
      .centerDiv {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: space-between;
        img {
          width: 0.5rem;
          height: 0.5rem;
          display: block;
          margin-right: 0.2rem;
        }
        .title {
          font-size: 0.32rem;
          color: #ccc;
          font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
          font-weight: bold;
          font-style: normal;
          white-space: nowrap;
        }
      }
    }
    .header_right {
      width: 30%;
      .header_menu {
        width: 100%;
        .last_list {
          line-height: 100% !important;
          .btn {
            padding-top: 0.3rem;
            box-sizing: border-box;
            button {
              width: 0.35rem;
              height: 0.33rem;
              border: none;
              background: #3e5568;
              img {
                width: 80%;
                height: 80%;
                display: block;
                margin: 0 auto;
              }
            }
            .btn_me {
              margin: 0 0.02rem;
            }
          }
        }
      }
    }
    .header_menu {
      display: flex;
      justify-content: space-between;
      .menu_list {
        list-style: none;
        cursor: pointer;
        white-space: nowrap;
        height: 0.94rem;
        span {
          font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
          font-weight: bold;
          color: #6aeff4;
          font-size: 0.28rem;
          display: block;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          padding: 0.1rem;
          box-sizing: border-box;
        }
      }
    }
  }
  main {
    width: $hundred;
    box-sizing: border-box;
    height: calc(100% - 0.94rem);
  }
  .login {
    height: 100% !important;
  }
  .li_hover {
    background: rgb(31, 116, 194);
    border-radius: 0.1rem;
  }
  .userDialog {
    .el-dialog {
      .el-dialog__body {
        p {
          width: 50%;
          height: 0.4rem;
          line-height: 0.4rem;
          margin: 0 auto;
          display: flex;
          justify-content: space-around;
          span {
            color: #fff;
            width: 30%;
          }
          span:first-child {
            text-align: right;
          }
        }
      }
    }
  }
}
</style>
