<template>
  <div class="venueArchives">
    <div class="venueArchives_left">
      <div class="gd">
        <el-button type="primary" @click="openGd">开始归档</el-button>
      </div>
      <Eltable :tableHead="tableHead" :operateShow="false" :tableDatas="tableDatas" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
      <Dialog :title="title" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close" @Submit="Submit" :isDetermine='isDetermine' :rules="rules" :dialogData="dialogData"></Dialog>
    </div>
    <div class="venueArchives_reight">
      <div class="bar">
        <Bar v-if="falg" :echartsData="countCgmcHdjb"></Bar>
      </div>
    </div>
  </div>
</template>
<script>

import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
import Bar from '@/components/activity_com/file/venueArchives/bar.vue'
// eslint-disable-next-line no-unused-vars
import { selectAll, update, delData, insert, selectAllEcharts } from '@/api/activity/file/venueArchives'
// eslint-disable-next-line no-unused-vars
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    falg: false,
    title: '',
    isShow: false,
    readOnly: false,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    dialogData: { // 弹出框数据
      cgmc: '',
      dzmc: '',
      jcrq: '',
      hdrssx: '',
      zchdlx: ''
    },
    rules: {
      cgmc: [
        { required: true, message: '请输入场馆名称', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      dzmc: [
        { required: true, message: '请输入地址名称', trigger: 'blur' }
      ],
      jcrq: [
        { required: true, message: '请输入建成日期', trigger: 'blur' }
      ],
      hdrssx: [
        { required: true, message: '请输入活动人数上限', trigger: 'blur' }
      ],
      zchdlx: [
        { required: true, message: '请选择活动类型', trigger: 'blur' }
      ]
    },
    tableHead: [
      { label: '序号', prop: 'cgbh' },
      { label: '场馆名称', prop: 'cgmc' },
      { label: '地址名称', prop: 'dzmc' },
      { label: '建成日期', prop: 'jcrq' },
      { label: '活动人数上限', prop: 'hdrssx' },
      {
        label: '支持活动类型',
        prop: 'zchdlx',
        formatter: (row, column) => {
          switch (row.zchdlx) {
            case '1':
              return '体育比赛活动'
            case '2':
              return '文艺演出'
            case '3':
              return '展览会'
            case '4':
              return '晚会'
            case '5':
              return '招聘会'
          }
        }
      }
    ],
    tableDatas: [],
    dialogs: [
      { label: '场馆名称', type: 'input', name: 'cgmc' },
      { label: '地址名称', type: 'input', name: 'dzmc' },
      { label: '建成日期', type: 'datetime', name: 'jcrq' },
      { label: '活动人数上限', type: 'input', name: 'hdrssx' },
      { label: '支持活动类型', type: 'select', name: 'zchdlx', options: [{ label: '体育比赛活动', value: '1' }, { label: '文艺演出', value: '2' }, { label: '展览会', value: '3' }, { label: '晚会', value: '4' }, { label: '招聘会', value: '5' }] }
    ],
    countCgmcHdjb: []
  }),
  created () {
    this.selectAll()
    this.selectAllEcharts()
  },
  methods: {
    selectAllEcharts() {
      selectAllEcharts().then(res => {
        if (res.code === 1) {
          for (let i = 0; i < res.data.length; i++) {
            const cgData = {}
            cgData.name = res.data[i].cgmc
            cgData.value = res.data[i].hdcs
            this.countCgmcHdjb.push(cgData)
            this.falg = true
          }
        }
      })
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.hdbh)
        // this.$message({
        //   type: 'success',
        //   message: '删除成功!'
        // })
        this.selectAll()
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    close () {
      this.isShow = false
    },
    Submit(data) {
      data.rybkBkrxm = '管理员'
      this.$refs.dialog1.$refs.dialogForm.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '被布控人基础信息新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '被布控人基础信息修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    },
    openGd () {
      Object.assign(this.dialogData, this.$options.data().dialogData)
      this.isDetermine = true
      this.title = '场馆归档'
      this.readOnly = false
      this.isShow = true
    }
  },
  components: { Eltable, Dialog, Bar }
}
</script>
<style lang="scss">
.venueArchives {
  display: flex;
  height: 100%;
  .venueArchives_left{
    width: 65%;
    height: 100%;
    .gd {
      display: flex;
      justify-content: flex-end;
    }
    .table {
      margin-top: 0.2rem;
    }
    .el-dialog__wrapper {
      .el-dialog {
        background-color: rgb(2, 16, 47);
        .el-dialog__header {
          background-color: rgb(2, 25, 60);
          .el-dialog__title {
            color: rgb(106, 239, 244);
          }
        }
        .el-dialog__body {
          .el-form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: auto;
            .el-form-item {
              width: 100% !important;
              margin-right: 0;
              margin-bottom: 0.2rem;
              .el-form-item__label {
                color: #fff;
              }
              .el-form-item__content {
                width: auto;
                .el-input {
                  width: 100%;
                  input {
                    background-color: rgb(5, 33, 73);
                    border: none;
                  }
                }
                .el-select{
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  .venueArchives_reight{
    width: 35%;
    height: 100%;
    .bar{
      width: 100%;
      height: 50%;
    }
  }
}
</style>
