<template>
  <div class="statistics" style="margin-bottom:10px">
    <!-- <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @add="add"></Elsearch>
    <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @modify="modify" @del="del" @detailed="detailed"></Eltable>
    <Dialog :title="title" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close"></Dialog> -->
    <el-button type="primary" v-for="item in adminLeft" :key="item.id" :class="($route.path===item.path)?'show':''" @click="goList(item.path,item.id)">{{ item.title }}</el-button>
    <router-view></router-view>
    <div style="height:10px;width:100%"></div>
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @add="add" @search="search" :formData="formData"></Elsearch>
    <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @modify="modify" @del="del" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    <!-- <Dialog :title="title" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close" @Submit="Submit" :isDetermine='isDetermine' :rules="rules" :form="form" ref="dialog1"></Dialog> -->
    <el-dialog :title="title" :visible.sync="isShow" center @close="close" width="60%">
      <el-form ref="ActivityManform" :model="form" :rules="rules"  label-width="auto">
        <el-form-item :label="item.label" v-for="(item, index) in dialogs" :key="index" :prop="item.name">
          <el-input v-model.number="form[item.name]" :placeholder="item.placeholder" :min="0" type="number" onkeyup="value=value.replace(/[^\d]/g,'')" :readonly="readOnly" v-if="item.type === 'number'"></el-input>
          <el-input v-if="item.type==='input'" v-model="form[item.name]" :readonly="readOnly" :type="item.type"></el-input>
          <el-select clearable v-else-if="item.type === 'select'" v-model="form[item.name]" :disabled="readOnly" :placeholder="item.placeholder">
            <el-option v-for="op in item.options" :label="op.label" :value="op.value" :key="op.value"></el-option>
          </el-select>
          <el-date-picker v-else-if="item.type === 'datetime'" value-format="yyyy-MM-dd HH:mm:ss"  v-model="form[item.name]" type="datetime" placeholder="选择日期时间" :readonly="readOnly">
          </el-date-picker>
        </el-form-item>
      </el-form>
        <el-row type="flex" v-if="rowShow" style="margin-bottom:10px" justify="space-between">
          <el-col :span="5" style="text-align:center;">
            <h4 style="color:#fff">危险物品</h4>
          </el-col>
          <el-col :span="7"></el-col>
          <el-col :span="6" style="text-align:center;">
            <el-link class="apply_link" @click="addWxwpData">添加
              <i class="el-icon-circle-plus-outline el-icon--right"></i>
            </el-link>
          </el-col>
        </el-row>
        <el-table :data="form.dangerous" style="width: 100%"
        :header-cell-style="{
          color: '#fff',
          textAlign: 'center',
          background: '#040a46',
          borderBottom: '1px solid #040a46',
        }"
        :cell-style="{
          color: '#fff',
          textAlign: 'center',
          background: 'rgb(5,33,73)',
        }">
          <el-table-column prop="wxplx" show-overflow-tooltip label="类型" :formatter="formatter" >
          </el-table-column>
          <el-table-column prop="wxpsl" show-overflow-tooltip label="数量" >
          </el-table-column>
          <el-table-column label="操作" width="200" v-if="operationShow">
            <template slot-scope="scope">
              <el-button size="mini" type="text" @click="handleDelete(scope.row,scope.$index)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <span slot="footer" class="dialog-footer" v-if="isDetermine">
          <el-button type="primary" @click="Submit">确 定</el-button>
          <el-button @click="close" class="closeStyle">取 消</el-button>
        </span>
    </el-dialog>
    <el-dialog
        width="50%"
        title="添加危险物品" class="innerClass"
        :visible.sync="innerVisible" @close="closeWxwp"
        >
        <el-form ref="innerform" :model="wxwp" :rules="rules"  label-width="auto">
        <el-form-item label="危险物品类型" prop="wxplx">
          <!-- <el-input  v-model="wxwp.mc" type="input"></el-input> -->
          <el-select clearable v-model="wxwp.wxplx">
            <el-option v-for="op in wxwpoptions" :label="op.label" :value="op.value" :key="op.value"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="危险物品数量" prop="wxpsl">
          <el-input v-model.number="wxwp.wxpsl" :min="0" type="number" onkeyup="value=value.replace(/[^\d]/g,'')"></el-input>
          <!-- <el-select clearable v-else-if="item.type === 'select'" v-model="form[item.name]" :disabled="readOnly" :placeholder="item.placeholder">
            <el-option v-for="op in item.options" :label="op.label" :value="op.value" :key="op.value"></el-option>
          </el-select> -->
        </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer" v-if="isDetermine">
          <el-button type="primary" @click="SubmitWxwp">确 定</el-button>
          <el-button @click="closeWxwp" class="closeStyle">取 消</el-button>
        </span>
    </el-dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
// import Dialog from '@/components/dialog'
import { selectAll, update, delData, insert, selectOne } from '@/api/activity/statistics/index'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    falg: false,
    ehcartsData: [],
    wxwpsl: [],
    wxwp: { wxplx: '', wxpsl: '' },
    wxwpoptions: [{ label: '管制刀具', value: '1' }, { label: '有毒危险品', value: '2' }, { label: '易燃易爆物品', value: '3' }, { label: '金属机械', value: '4' }, { label: '枪支，子弹', value: '5' }, { label: '爆炸物品类', value: '6' }, { label: '毒害品', value: '7' }, { label: '腐蚀性物', value: '8' }],
    innerVisible: false,
    rowShow: true,
    operationShow: true,
    adminLeft: [
      { title: '接入检查站', id: 0, path: '/activity/statistics/checkpoint' },
      { title: '圈层防控', id: 1, path: '/activity/statistics/control' },
      { title: '街面巡防', id: 2, path: '/activity/statistics/watchman' }],
    title: '',
    imageUrl: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      hdbh: '',
      hdmc: '',
      zgmc: '',
      zgbm: '',
      str: ''
    },
    rules: {
      wxplx: [
        { required: true, message: '请输入危险品类型', trigger: 'blur' }
      ],
      hdbh: [
        { required: true, message: '请输入活动编号', trigger: 'blur' }
      ],
      hdmc: [
        { required: true, message: '请输入活动名称', trigger: 'blur' }
      ],
      zgbm: [
        { required: true, message: '请输入战果编号', trigger: 'blur' }
      ],
      zgmc: [
        { required: true, message: '请输入战果名称', trigger: 'blur' }
      ],
      zgjb: [
        { required: true, message: '请选择战果级别', trigger: 'blur' }
      ],
      zglx: [
        { required: true, message: '请选择活动类型', trigger: 'blur' }
      ],
      abgsbh: [
        { required: true, message: '请输入安保公司编码', trigger: 'blur' }
      ],
      hdrs: [
        { required: true, message: '请输入活动人数', trigger: 'blur' },
        { type: 'number', message: '活动人数必须为数字', trigger: 'blur' }
      ],
      jcrs: [
        { required: true, message: '请输入核查人数', trigger: 'blur' },
        { type: 'number', message: '核查人数必须为数字', trigger: 'blur' }
      ],
      ljrs: [
        { required: true, message: '请输入拦截人数', trigger: 'blur' },
        { type: 'number', message: '拦截人数必须为数字', trigger: 'blur' }
      ],
      qfrs: [
        { required: true, message: '请输入劝返人数', trigger: 'blur' },
        { type: 'number', message: '劝返人数必须为数字', trigger: 'blur' }
      ],
      fzjg: [
        { required: true, message: '请输入负责机构', trigger: 'blur' }
      ],
      wxpsl: [
        { required: true, message: '请输入危险品数量', trigger: 'blur' },
        { type: 'number', message: '危险品数量必须为数字', trigger: 'blur' }
      ]
    },
    form: { // 弹出框数据
      abgsbh: '',
      fzjg: '',
      gxsj: '',
      hdbh: '',
      hdmc: '',
      hdrs: '',
      jcrs: '',
      ljrs: '',
      qfrs: '',
      // wxpsl: '',
      zgbm: '',
      zgjb: '',
      zglx: '',
      zgmc: '',
      zgsq: '',
      zgxs: '',
      dangerous: []
    },
    searchSettings: [
      { placeholder: '活动编号', type: 'input', name: 'hdbh' },
      { placeholder: '活动名称', type: 'input', name: 'hdmc' },
      { placeholder: '战果编码', type: 'input', name: 'zgbm' },
      { placeholder: '战果名称', type: 'input', name: 'zgmc' },
      { placeholder: '安保公司编码/负责机构', type: 'input', name: 'str' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableHead: [
      { label: '活动编号', prop: 'hdbh' },
      { label: '活动名称', prop: 'hdmc' },
      { label: '战果编码', prop: 'zgbm' },
      { label: '战果名称', prop: 'zgmc' },
      {
        label: '战果级别',
        prop: 'zgjb',
        formatter: (row, column) => {
          switch (row.zgjb) {
            case '1':
              return '高'
            case '2':
              return '中'
            case '3':
              return '低'
          }
        }
      }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ],
    dialogs: [
      { label: '活动编号', type: 'input', name: 'hdbh' },
      { label: '活动名称', type: 'input', name: 'hdmc' },
      { label: '战果编码', type: 'input', name: 'zgbm' },
      { label: '战果名称', type: 'input', name: 'zgmc' },
      { label: '战果级别', type: 'select', name: 'zgjb', options: [{ label: '高', value: '1' }, { label: '中', value: '2' }, { label: '低', value: '3' }] },
      { label: '活动类型', type: 'select', name: 'zglx', options: [{ label: '体育比赛活动', value: '1' }, { label: '文艺演出', value: '2' }, { label: '展览会', value: '3' }, { label: '晚会', value: '4' }, { label: '招聘会', value: '5' }] },
      { label: '战果日期', type: 'datetime', name: 'zgsq' },
      { label: '安保公司编码', type: 'input', name: 'abgsbh' },
      { label: '活动人数', type: 'number', name: 'hdrs' },
      { label: '核查人数', type: 'number', name: 'jcrs' },
      { label: '负责机构', type: 'input', name: 'fzjg' },
      { label: '劝返人数', type: 'number', name: 'qfrs' },
      { label: '拦截人数', type: 'number', name: 'ljrs' },
      { label: '更新时间', type: 'datetime', name: 'gxsj' },
      // { label: '危险品数量', type: 'number', name: 'wxpsl' },
      { label: '战果详述', type: 'input', name: 'zgxs' }
    ],
    paramsData: {},
    active: 0
  }),
  created () {
    this.selectAll()
  },
  methods: {
    async search() {
      this.iSloading = true
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      // this.iSloading = false
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      console.log(res)
      this.tableDatas = res.Hdzg[0].records
      this.wxwpsl = res.Wxpsl
      this.falg = true
      this.pagination.total = res.Hdzg[0].total
      this.iSloading = false
    },
    add (row) {
      Object.assign(this.form, this.$options.data().form)
      this.isDetermine = true
      this.title = '战果统计新增'
      this.readOnly = false
      this.isShow = true
      this.rowShow = true
      this.operationShow = true
    },
    async modify (row) {
      const { data: res } = await selectOne(row.zgbm)
      this.form = { ...res }
      this.isDetermine = true
      this.title = '战果统计修改'
      this.readOnly = false
      this.isShow = true
      this.rowShow = true
      this.operationShow = true
    },
    async del (row) {
      await delData(row.zgbm)
      this.selectAll()
    },
    handleDelete(data, index) {
      this.form.dangerous.splice(index, 1)
    },
    async detailed (row) {
      const { data: res } = await selectOne(row.zgbm)
      this.form = { ...res }
      this.isDetermine = false
      this.title = '战果统计详情'
      this.readOnly = true
      this.isShow = true
      this.rowShow = false
      this.operationShow = false
    },
    Submit() {
      let data = {}
      data = { ...this.form }
      this.$refs.ActivityManform.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '战果统计新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '战果统计修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    close () {
      this.isShow = false
      this.$refs.ActivityManform.resetFields()
    },
    addWxwpData() {
      this.innerVisible = true
      Object.assign(this.wxwp, this.$options.data().wxwp)
    },
    closeWxwp() {
      this.innerVisible = false
      this.$refs.innerform.resetFields()
    },
    formatter(row, column) {
      switch (row.wxplx) {
        case '1':
          return '管制刀具'
        case '2':
          return '有毒危险品'
        case '3':
          return '易燃易爆物品'
        case '4':
          return '金属机械'
        case '5':
          return '枪支，子弹'
        case '6':
          return '爆炸物品类'
        case '7':
          return '毒害品'
        case '8':
          return '腐蚀性物'
      }
    },
    SubmitWxwp() {
      this.wxwp.zgbm = this.form.zgbm
      const that = this
      this.$refs.innerform.validate((valid) => {
        if (valid) {
          const name = this.wxwp.wxplx
          if (this.form.dangerous.length > 0) {
            // for (let i = 0; i < this.form.dangerous.length - 1; i++) {
            //   if (this.form.dangerous[i].wxplx === name) {
            //     console.log(this.form.dangerous)
            //     console.log(this.form.dangerous[i].wxplx)
            //     console.log(name)
            //     this.$message.error('已存在相同类型')
            //     this.form.dangerous.splice(-1)
            //   } else {
            //     this.form.dangerous.push({ ...this.wxwp })
            //     this.innerVisible = false
            //   }
            // }
            const arr = this.form.dangerous
            const result = arr.some(function (item) {
              if (item.wxplx === name) {
                that.$message.error('已存在相同类型,请重新选择！')
                return true
              } else {
                return false
              }
            })
            if (result === false) {
              console.log('🚀 ~ file: index.vue ~ line 434 ~ result', result)
              that.form.dangerous.push({ ...that.wxwp })
              that.innerVisible = false
            }
          } else {
            this.form.dangerous.push({ ...this.wxwp })
            this.innerVisible = false
          }
        }
      })
      // Object.assign(this.wxwp, this.$options.data().wxwp)
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    goList (path, id) {
      if (id === 0) {
        this.ehcartsData = this.wxwpsl
        this.$router.push({ path, query: { wxwpData: this.ehcartsData, falg: this.falg } })
      } else {
        this.$router.push(path)
      }
    }
  },
  components: { Elsearch, Eltable }
}
</script>
<style lang="scss">
.statistics {
  // padding-right: 0.2rem;
  border: 0.01px solid #a7b6c2;
  box-sizing: border-box;
  padding: 0.2rem;
  .el-dialog{
    background-color: rgb(2,12,47);
    .el-dialog__header {
      background-color: rgb(2, 25, 60);
      .el-dialog__title {
        color: rgb(106, 239, 244);
      }
    }
    .el-dialog__body {
      .el-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: auto;
        .el-form-item {
          width: 40% !important;
          margin-right: 0;
          margin-bottom: 0.2rem;
          .el-form-item__label {
            color: #fff;
          }
          .el-form-item__content {
            width: auto;
            .el-input {
              width: 100%;
              input {
                background-color: rgb(5, 33, 73);
                border: none;
              }
            }
          }
        }
      }
    }
  }
  .el-form {
    margin-bottom: 0.2rem;
    .btn:last-child {
      margin: 0;
    }
  }
  .el-button {
    background-color: #07275b;
    border: none;
  }
  .show{
      background-color:skyblue;
    }
}
// .innerClass{
//     background-color: rgb(2,12,47);
// }
</style>
