<template>
  <div class="policeRoutes">
    <div class="policeRoute_titleBtn">
      <!-- <el-button type="primary" :class="(active===0)?'show':''" @click="goRoute($event)">安保路线信息管理</el-button>
      <el-button type="primary" @click="goTrail($event)">安保路线轨迹信息管理</el-button> -->
      <el-button type="primary" v-for="item in buttonName" :key='item.id' :class="($route.path===item.path)?'show':''" @click="goList(item.path)">{{item.title}}</el-button>
    </div>
    <div class="policeRoute_body">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    buttonName: [
      { title: '安保路线信息管理', id: 0, path: '/management/policeRoutes/policeRoute', name: 'policeRoute' },
      { title: '安保路线轨迹信息管理', id: 1, path: '/management/policeRoutes/policeRouteTrail', name: 'policeRouteTrail' }
    ]
  }),
  created () { },
  methods: {
    goList (path) {
      this.$router.push(path)
    }
  }
}
</script>
<style lang="scss">
.policeRoutes {
  padding-right: 0.3rem;
  box-sizing: border-box;
  width: 100%;
  .policeRoute_titleBtn {
    width: 100%;
    margin-bottom: 0.2rem;
    .el-button {
      background-color: #030923;
      border-color: #797979;
    }
    .show{
      background-color:skyblue;
    }
  }
  .policeRoute_body {
    width: 100%;
  }
}
</style>
