<template>
  <div class="ActivityPoliceMan">
    <div class="ActivityPoliceManTitle">
      <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @search="search" :formData="formData"></Elsearch>
      <div class="titleImg">
        <img @click="$router.go(-1)" src="@/assets/activity/fh.png" alt="" />
      </div>
    </div>
    <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    <el-dialog :title="title" :visible.sync="isShow" center width="70%">
      <el-form ref="PoliceManform" :model="form" @close="close" label-width="auto">
        <el-form-item :label="item.label" v-for="(item, index) in dialogs" :key="index">
          <el-input v-if="item.type==='input'" v-model="form[item.name]" :readonly="readOnly" :type="item.type"></el-input>
          <el-select clearable v-else-if="item.type === 'select'" v-model="form[item.name]" :disabled="readOnly" :placeholder="item.placeholder">
            <el-option v-for="op in item.options" :label="op.label" :value="op.value" :key="op.value"></el-option>
          </el-select>
          <el-date-picker v-else-if="item.type === 'datetime'" value-format="yyyy-MM-dd HH:mm:ss"  v-model="form[item.name]" type="datetime" placeholder="选择日期时间" :readonly="readOnly">
          </el-date-picker>
          <el-upload
            v-if="item.upload == 'upload'"
            class="avatar-uploader"
            action="https://jsonplaceholder.typicode.com/posts/"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import { selectAllAbry, selectOne } from '@/api/activity/trial'
export default {
  data: () => ({
    title: '',
    imageUrl: '',
    isShow: false,
    readOnly: true,
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      xm: '',
      zjhm: '',
      lxdh: '',
      str: ''
    },
    searchSettings: [
      { placeholder: '姓名', type: 'input', name: 'xm' },
      { placeholder: '证件号码', type: 'input', name: 'zjhm' },
      { placeholder: '联系电话', type: 'input', name: 'lxdh' },
      { placeholder: '请输入曾用名/单位名称/联系电话', type: 'input', name: 'str' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' }
    ],
    tableHead: [
      { label: '信息标识', prop: 'xxbz' },
      { label: '姓名', prop: 'xm' },
      { label: '曾用名', prop: 'cym' },
      {
        label: '性别代码',
        prop: 'xbdm',
        formatter: (row, column) => {
          switch (row.xbdm) {
            case '0':
              return '女'
            case '1':
              return '男'
          }
        }
      },
      { label: '单位名称', prop: 'dwmc' },
      { label: '常用证件代码', prop: 'cyzjdm' },
      { label: '证件号码', prop: 'zjhm' }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '详情', type: 'detailed' }
    ],
    dialogs: [
      { label: '姓名', type: 'input', name: 'xm' },
      { label: '曾用名', type: 'input', name: 'cym' },
      { label: '照片', upload: 'upload', name: 'zp' },
      { label: '常用证件代码', type: 'input', name: 'cyzjdm' },
      { label: '证件号码', type: 'input', name: 'zjhm' },
      { label: '', type: '' },
      { label: '性别代码', type: 'select', name: 'xbdm', options: [{ label: '男', value: '1' }, { label: '女', value: '0' }] },
      { label: '民族代码', type: 'input', name: 'mzdm' },
      { label: '', type: '' },
      { label: '国籍代码', type: 'input', name: 'gjdm' },
      { label: '籍贯/地区代码', type: 'input', name: 'jggjdqdm' },
      { label: '', type: '' },
      { label: '职业', type: 'input', name: 'zy' },
      { label: '服务处所', type: 'input', name: 'fwcs' },
      // { label: '', type: '' },
      { label: '地址名称', type: 'input', name: 'dzmc' },
      { label: '移动电话', type: 'input', name: 'yddh' },
      // { label: '', type: '' },
      { label: '是否前科人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfqkry' },
      { label: '是否在逃人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfztry' },
      // { label: '', type: '' },
      { label: '是否极端分子', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfjdry' },
      { label: '是否非访人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfffry' },
      // { label: '', type: '' },
      { label: '是否涉恐人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfskry' },
      { label: '是否吸毒人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfxdry' },
      // { label: '', type: '' },
      { label: '是否精神病人', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfjsbr' },
      { label: '重点人员编号', type: 'input', name: 'zdrybh' },
      // { label: '', type: '' },
      { label: '审查时间', type: 'datetime', name: 'scsj' },
      { label: '案件编号', type: 'input', name: 'ajbh' },
      { label: '', type: '' }
    ],
    form: {
      xxbz: '',
      cyzjdm: '',
      zjhm: '',
      xm: '',
      xbdm: '',
      gjdm: '',
      mzdm: '',
      sfshwry: '',
      hwryxxHwrylx: '',
      hwryxxHwzbh: '',
      sfsgz: '',
      gzxxPwlx: '',
      gzxxPwbh: '',
      gzxxZwh: '',
      gzxxGpsj: '',
      gzxxSfwwb: '',
      gzxxJdjb: '',
      // sfbs: '',
      bsjg: '',
      cjsj: '',
      xxrksj: ''
    }
    // dialogs: [
    //   { label: '信息标识', type: 'input', name: 'xxbz' },
    //   { label: '姓名', type: 'input', name: 'xm' },
    //   { label: '安保人员照片', upload: 'upload', name: 'zp' },
    //   { label: '曾用名', type: 'input', name: 'cym' },
    //   { label: '出生日期', type: 'input', name: 'csrq' },
    //   {},
    //   { label: '性别代码', type: 'select', name: 'xbdm', options: [{ label: '男', value: '1' }, { label: '女', value: '0' }] },
    //   { label: '联系电话', type: 'input', name: 'lxdh' },
    //   {},
    //   { label: '常用证件代码', type: 'select', name: 'cyzjdm', options: [{ label: '居民身份证', value: 111 }, { label: '户口本', value: 113 }, { label: '军官证', value: 114 }, { label: '警官证', value: 123 }, { label: '工作证', value: 131 }] },
    //   { label: '证件号码', type: 'input', name: 'zjhm' },
    //   {},
    //   { label: '保安证件编码', type: 'input', name: 'bazjZjbm' },
    //   { label: '政治面貌代码', type: 'select', name: 'zzmmdm', options: [{ label: '中共党员', value: '01' }, { label: '共青团员', value: '03' }, { label: '中共预备党员', value: '02' }, { label: '民进会员', value: '07' }, { label: '群众', value: '13' }] },
    //   { label: '宗教信仰代码', type: 'select', name: 'zjxydm', options: [{ label: '无宗教信仰', value: '00' }, { label: '佛教', value: '10' }, { label: '喇嘛教', value: '20' }, { label: '道教', value: '30' }, { label: '天主教', value: '40' }, { label: '基督教', value: '50' }, { label: '东正教', value: '60' }, { label: '伊斯兰教', value: '70' }, { label: '其他', value: '99' }] },
    //   { label: '婚姻状态代码', type: 'input', name: 'hyzkdm', options: [{ label: '已婚', value: '1' }, { label: '未婚', value: '0' }] },
    //   { label: '单位名称', type: 'input', name: 'dwmc' },
    //   { label: '配偶姓名', type: 'input', name: 'poXm' },
    //   { label: '配偶联系电话', type: 'input', name: 'poLxdh' },
    //   { label: '籍贯_国家(地区)', type: 'input', name: 'jgGjhdqdm' },
    //   { label: '籍贯_省市县(区)', type: 'input', name: 'jgSsxhqdm' },
    //   { label: '籍贯_详细地址', type: 'input', name: 'jgQhnxxdz' },
    //   { label: '实际居住_地址编码', type: 'input', name: 'sjjzdDzbm' },
    //   { label: '实际居住_省市县(区)', type: 'input', name: 'sjjzdSsxhqdm' },
    //   { label: '实际居住_详细地址', type: 'input', name: 'sjjzdQhnxxdz' },
    //   { label: '是否背审', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfbs' },
    //   {}
    // ],
    // form: {
    //   xxbz: '',
    //   jgSsxhqdm: '',
    //   zp: '',
    //   csrq: '',
    //   xm: '',
    //   cym: '',
    //   cyzjdm: '',
    //   zjhm: '',
    //   bazjZjbm: '',
    //   po: '',
    //   poXm: '',
    //   jgQhnxxdz: '',
    //   lxdh: '',
    //   sjzzd: '',
    //   hyztdm: '',
    //   xbdm: '',
    //   sjjzdDzbm: '',
    //   zjxydm: '',
    //   zjmmdm: '',
    //   dwmc: '',
    //   sjjzdSsxhqdm: '',
    //   sjjzdQhnxxdz: '',
    //   sfbs: ''
    // }
  }),
  created () {
    this.selectAll()
  },
  methods: {
    async search() {
      this.iSloading = true
      // console.log({ ...this.formData })
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAllHdry(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      this.iSloading = false
    },
    async detailed (rows) {
      console.log(rows)
      if (rows.checked === '1' || rows.checked === 1) {
        const { data: res } = await selectOne(rows.zjhm)
        this.form = { ...res }
        this.title = '安保人员信息背审'
        this.readOnly = true
        this.isShow = true
      } else {
        this.$message.warning('该人员暂无背审！')
      }
    },
    close () {
      this.isShow = false
      this.$refs.PoliceManform.resetFields()
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      params.hdbh = this.$route.params.id
      console.log('🚀 ~ file: policeMan.vue ~ line 184 ~ this.$route.params.id', this.$route.params.id)
      const { data: res } = await selectAllAbry({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    },
    handleAvatarSuccess (res, file) {
      this.imageUrl = URL.createObjectURL(file.raw)
    },
    beforeAvatarUpload (file) {
      const isJPG = file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式!')
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!')
      }
      return isJPG && isLt2M
    }
  },
  components: { Elsearch, Eltable }
}
</script>
<style lang="scss">
.ActivityPoliceMan {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .table {
    margin-top: 0.2rem;
  }
  .ActivityPoliceManTitle {
    display: flex;
    .titleImg {
      cursor: pointer;
      width: 0.6rem;
      height: 0.4rem;
      overflow: hidden;
      border-radius: 4px;
      img {
        width: 120%;
        height: 120%;
        display: block;
      }
    }
  }
  .el-dialog__wrapper {
    .el-dialog {
      width: 60%;
      background-color: rgb(2, 16, 47);
      .el-dialog__header {
        background-color: rgb(2, 25, 60);
        .el-dialog__title {
          color: rgb(106, 239, 244);
        }
      }
      .el-dialog__body {
        .el-form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          height: auto;
          .el-form-item {
            width: 30% !important;
            margin-right: 0;
            margin-bottom: 0.2rem;
            position: relative;
            .el-form-item__label {
              color: #fff;
            }
            .el-form-item__content {
              width: auto;
              .el-input {
                width: 100%;
                input {
                  background-color: rgb(5, 33, 73);
                  border: none;
                }
              }
              .avatar-uploader {
                position: absolute;
                z-index: 100;
              }
            }
          }
        }
      }
    }
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
}
</style>
