<template>
  <div class="ActivityMan">
    <div class="ActivityManTitle">
      <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @search="search" :formData="formData"></Elsearch>
      <div class="titleImg">
        <img @click="$router.go(-1)" src="@/assets/activity/fh.png" alt="" />
      </div>
    </div>
    <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination"></Eltable>
    <el-dialog :title="title" :visible.sync="isShow" center @close="close" width="60%">
      <el-form ref="ActivityManform" :model="form"  label-width="auto">
        <el-form-item :label="item.label" v-for="(item, index) in dialogs" :key="index">
          <el-input v-if="item.type==='input'" v-model="form[item.name]" :readonly="readOnly" :type="item.type"></el-input>
          <el-select clearable v-else-if="item.type === 'select'" v-model="form[item.name]" :disabled="readOnly" :placeholder="item.placeholder">
            <el-option v-for="op in item.options" :label="op.label" :value="op.value" :key="op.value"></el-option>
          </el-select>
          <el-date-picker v-else-if="item.type === 'datetime'" value-format="yyyy-MM-dd HH:mm:ss"  v-model="form[item.name]" type="datetime" placeholder="选择日期时间" :readonly="readOnly">
          </el-date-picker>
          <el-upload
            v-if="item.upload == 'upload'"
            class="avatar-uploader"
            action="https://jsonplaceholder.typicode.com/posts/"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import { selectAllGajg } from '@/api/activity/approval/index'
import { selectAllHdry, selectOne } from '@/api/activity/trial'
export default {
  data: () => ({
    title: '',
    imageUrl: '',
    isShow: false,
    readOnly: true,
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    formData: { // 查询输入框搜索数据
      ssfj: '',
      zjhm: '',
      xm: '',
      gzxxPwlx: '',
      str: ''
    },
    searchSettings: [
      { placeholder: '所属分局', type: 'cascader', name: 'ssfj', props: { value: 'orgid', label: 'orgname', emitPath: false }, options: [] },
      { placeholder: '请输入证件号码', type: 'input', name: 'zjhm' },
      { placeholder: '请输入姓名', type: 'input', name: 'xm' },
      { placeholder: '票务类型', type: 'select', name: 'gzxxPwlx' },
      { placeholder: '请输入票务编号/座位号', type: 'input', name: 'str' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' }
    ],
    tableHead: [
      { label: '序号', prop: 'xxbz' },
      { label: '姓名', prop: 'xm' },
      {
        label: '性别代码',
        prop: 'xbdm',
        formatter: (row, column) => {
          switch (row.xbdm) {
            case '0':
              return '女'
            case '1':
              return '男'
          }
        }
      },
      { label: '证件号码', prop: 'zjhm' },
      { label: '票务类型', prop: 'gzxxPwlx' }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '详情', type: 'detailed' }
    ],
    dialogs: [
      // { label: '信息标识', type: 'input', name: 'xxbz' },
      // { label: '常用证件代码', type: 'select', options: [], name: 'cyzjdm' },
      // { label: '证件号码', type: 'input', name: 'zjhm' },
      // { label: '姓名', type: 'input', name: 'xm' },
      // { label: '性别代码', type: 'select', options: [{ label: '男', value: '1' }, { label: '女', value: '0' }], name: 'xbdm' },
      // { label: '民族代码', type: 'select', options: [], name: 'mzdm' },
      // { label: '国籍代码', type: 'select', options: [], name: 'gjdm' },
      // { label: '是否是会务人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfshwry' },
      // { label: '会务人员类型', type: 'select', options: [], name: 'hwryxxHwrylx' },
      // { label: '会务证编号', type: 'input', name: 'hwryxxHwzbh' },
      // { label: '是否是观众', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfsgz' },
      // { label: '票务类型', type: 'input', name: 'gzxxPwlx' },
      // { label: '票务编号', type: 'input', name: 'gzxxPwbh' },
      // { label: '座位号', type: 'input', name: 'gzxxZwh' },
      // { label: '购票时间', type: 'input', name: 'gzxxGpsj' },
      // { label: '是否为外宾', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'gzxxSfwwb' },
      // { label: '接待级别', type: 'select', options: [], name: 'gzxxJdjb' },
      // { label: '是否背审', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfbs' },
      // { label: '背审结果', type: 'input', name: 'bsjg' },
      // { label: '采集时间', type: 'datetime', name: 'cjsj' },
      // { label: '信息入库时间', type: 'datetime', name: 'xxrksj' },
      // {}
      { label: '姓名', type: 'input', name: 'xm' },
      { label: '曾用名', type: 'input', name: 'cym' },
      { label: '照片', upload: 'upload', name: 'zp' },
      { label: '常用证件代码', type: 'input', name: 'cyzjdm' },
      { label: '证件号码', type: 'input', name: 'zjhm' },
      { label: '', type: '' },
      { label: '性别代码', type: 'select', name: 'xbdm', options: [{ label: '男', value: '1' }, { label: '女', value: '0' }] },
      { label: '民族代码', type: 'input', name: 'mzdm' },
      { label: '', type: '' },
      { label: '国籍代码', type: 'input', name: 'gjdm' },
      { label: '籍贯/地区代码', type: 'input', name: 'jggjdqdm' },
      { label: '', type: '' },
      { label: '职业', type: 'input', name: 'zy' },
      { label: '服务处所', type: 'input', name: 'fwcs' },
      // { label: '', type: '' },
      { label: '地址名称', type: 'input', name: 'dzmc' },
      { label: '移动电话', type: 'input', name: 'yddh' },
      // { label: '', type: '' },
      { label: '是否前科人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfqkry' },
      { label: '是否在逃人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfztry' },
      // { label: '', type: '' },
      { label: '是否极端分子', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfjdry' },
      { label: '是否非访人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfffry' },
      // { label: '', type: '' },
      { label: '是否涉恐人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfskry' },
      { label: '是否吸毒人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfxdry' },
      // { label: '', type: '' },
      { label: '是否精神病人', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfjsbr' },
      { label: '重点人员编号', type: 'input', name: 'zdrybh' },
      // { label: '', type: '' },
      { label: '审查时间', type: 'datetime', name: 'scsj' },
      { label: '案件编号', type: 'input', name: 'ajbh' },
      { label: '', type: '' }
    ],
    form: {
      xxbz: '',
      cyzjdm: '',
      zjhm: '',
      xm: '',
      xbdm: '',
      gjdm: '',
      mzdm: '',
      sfshwry: '',
      hwryxxHwrylx: '',
      hwryxxHwzbh: '',
      sfsgz: '',
      gzxxPwlx: '',
      gzxxPwbh: '',
      gzxxZwh: '',
      gzxxGpsj: '',
      gzxxSfwwb: '',
      gzxxJdjb: '',
      // sfbs: '',
      bsjg: '',
      cjsj: '',
      xxrksj: ''
    }
  }),
  created () {
    this.selectAllGajg()
    this.selectAll()
  },
  methods: {
    async search() {
      this.iSloading = true
      // console.log({ ...this.formData })
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAllHdry(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      this.iSloading = false
    },
    selectAllGajg() {
      const that = this
      selectAllGajg().then(res => {
        if (res.code === 1) {
          that.searchSettings[0].options = this.getTreeData(res.data)
        }
      })
    },
    getTreeData(data) {
      // 循环遍历json数据
      for (var i = 0; i < data.length; i++) {
        if (data[i].children.length < 1) {
          // children若为空数组，则将children设为undefined
          data[i].children = undefined
        } else {
          // children若不为空数组，则继续 递归调用 本方法
          this.getTreeData(data[i].children)
        }
      }
      return data
    },
    async detailed (rows) {
      console.log('rows', rows)
      if (rows.sfbs === '1' || rows.sfbs === 1) {
        const { data: res } = await selectOne(rows.zjhm)
        this.form = { ...res }
        this.title = '参会人员背审'
        this.readOnly = true
        this.isShow = true
      } else {
        this.$message.warning('该人员暂无背审！')
      }
    },
    close () {
      this.isShow = false
      this.$refs.ActivityManform.resetFields()
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      params.hdbh = this.$route.params.id
      const { data: res } = await selectAllHdry({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    },
    handleAvatarSuccess (res, file) {
      this.imageUrl = URL.createObjectURL(file.raw)
    },
    beforeAvatarUpload (file) {
      const isJPG = file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式!')
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!')
      }
      return isJPG && isLt2M
    }
  },
  components: { Elsearch, Eltable }
}
</script>
<style lang="scss">
.ActivityMan {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .table {
    margin-top: 0.2rem;
  }
  .ActivityManTitle {
    display: flex;
    .titleImg {
      cursor: pointer;
      width: 0.6rem;
      height: 0.4rem;
      overflow: hidden;
      border-radius: 4px;
      img {
        width: 120%;
        height: 120%;
        display: block;
      }
    }
    .el-form{
      .el-form-item{
        .el-form-item__content{
          .el-cascader{
            width: 100%;
          }
        }
      }
    }
  }
  .el-dialog__wrapper {
    .el-dialog {
      width: 60%;
      background-color: rgb(2, 16, 47);
      .el-dialog__header {
        background-color: rgb(2, 25, 60);
        .el-dialog__title {
          color: rgb(106, 239, 244);
        }
      }
      .el-dialog__body {
        .el-form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          height: auto;
          .el-form-item {
            width: 30% !important;
            position: relative;
            margin-right: 0;
            margin-bottom: 0.2rem;
            .el-form-item__label {
              color: #fff;
            }
            .el-form-item__content {
              width: auto;
              .el-input {
                width: 100%;
                input {
                  background-color: rgb(5, 33, 73);
                  border: none;
                }
              }
              .avatar-uploader {
                position: absolute;
                z-index: 100;
              }
            }
          }
        }
      }
    }
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
}
</style>
