<template>
  <div class="regulated">
    <div class="regulated_title">
      <h3>查看设备</h3>
    </div>
    <div class="regulated_foot">
      <div class="bar">
        <Bar></Bar>
      </div>
      <div class="ring"><Ring></Ring></div>
    </div>
    <div class="regulated_videos">
      <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" ></Elsearch>
      <div class="video">
        <div class="video_title">
          <h3>贺龙体育馆一号设备</h3>
          <div class="video_state">
            <img src="@/assets/business/u6975.png" alt="" />
            正常
          </div>
        </div>
        <div class="video_body">
          <img
            src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1606817112832&di=0265c14b52911cc9cefe03d0d1af4571&imgtype=0&src=http%3A%2F%2Fimg-blog.csdnimg.cn%2F2020102321020124.jpg%3Fx-oss-process%3Dimage%2Fwatermark%2Ctype_ZmFuZ3poZW5naGVpdGk%2Cshadow_10%2Ctext_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L20wXzUwNjk5ODg3%2Csize_16%2Ccolor_FFFFFF%2Ct_70%23pic_center"
            alt=""
          />
        </div>
        <div class="video_foot">
          <h3 class="video_name">名称：MB350</h3>
          <h3 class="video_site">贺龙体育馆</h3>
        </div>
      </div>
      <div class="video">
        <div class="video_title">
          <h3>贺龙体育馆一号设备</h3>
          <div class="video_state">
            <img src="@/assets/business/u6975.png" alt="" />
            正常
          </div>
        </div>
        <div class="video_body">
          <img
            src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1606817112832&di=0265c14b52911cc9cefe03d0d1af4571&imgtype=0&src=http%3A%2F%2Fimg-blog.csdnimg.cn%2F2020102321020124.jpg%3Fx-oss-process%3Dimage%2Fwatermark%2Ctype_ZmFuZ3poZW5naGVpdGk%2Cshadow_10%2Ctext_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L20wXzUwNjk5ODg3%2Csize_16%2Ccolor_FFFFFF%2Ct_70%23pic_center"
            alt=""
          />
        </div>
        <div class="video_foot">
          <h3 class="video_name">名称：MB350</h3>
          <h3 class="video_site">贺龙体育馆</h3>
        </div>
      </div>
      <div class="video">
        <div class="video_title">
          <h3>贺龙体育馆一号设备</h3>
          <div class="video_state">
            <img src="@/assets/business/u6975.png" alt="" />
            正常
          </div>
        </div>
        <div class="video_body">
          <img
            src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1606817112832&di=0265c14b52911cc9cefe03d0d1af4571&imgtype=0&src=http%3A%2F%2Fimg-blog.csdnimg.cn%2F2020102321020124.jpg%3Fx-oss-process%3Dimage%2Fwatermark%2Ctype_ZmFuZ3poZW5naGVpdGk%2Cshadow_10%2Ctext_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L20wXzUwNjk5ODg3%2Csize_16%2Ccolor_FFFFFF%2Ct_70%23pic_center"
            alt=""
          />
        </div>
        <div class="video_foot">
          <h3 class="video_name">名称：MB350</h3>
          <h3 class="video_site">贺龙体育馆</h3>
        </div>
      </div>
    </div>
    <div class="regulated_title regulated_table">
      <h3>查看设备详情</h3>
      <div class="table">
        <Elsearch :searchSettings="tableSearchSettings" :searchBtn="tableSearchBtn" @add="add" :formData="formData" @search="search"></Elsearch>
        <Eltable :tableHead="tableHead" :tableSettings="tableSettings" :tableDatas="tableDatas" @modify="modify" @del="del"  :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange"  @detailed="detailed" :pagination="pagination"  @Submit="Submit" :isDetermine='isDetermine' :rules="rules" :dialogData="dialogData" ref="dialog1"></Eltable>
      </div>
    </div>
    <!-- <div class="regulated_foot">
      <div class="bar">
        <Bar></Bar>
      </div>
      <div class="ring"><Ring></Ring></div>
    </div> -->

    <Dialog :title="title" :isShow="isShow" :readOnly="readOnly" :dialogs="dialogs" @close="close"></Dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import Dialog from '@/components/dialog'
import Bar from '@/components/business_com/regulated/bar.vue'
import Ring from '@/components/business_com/regulated/ring.vue'
import { showLoading, hideLoading } from '@/components/loading/index'
import { selectAll, update, delData, insert } from '@/api/business/regulated/index'
import { checkLat, checkLon } from '@/utils/verification'
export default {
  data: () => ({
    title: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    dialogData: { // 弹出框数据
      csmc: '',
      dqjd: '',
      dqwd: '',
      dwmc: '',
      fxgd: '',
      fxqlxdm: '',
      gmsfhm: '',
      ppxh: '',
      sbmc: '',
      sbxlh: '',
      wpgzrq: '',
      xm: '',
      zzjgdm: ''
    },
    rules: {
      dqjd: [
        { required: true, message: '请输入地球经度', trigger: 'blur' },
        { validator: checkLat, trigger: 'blur' }
      ],
      dqwd: [
        { required: true, message: '请输入地区经度', trigger: 'blur' },
        { validator: checkLon, trigger: 'blur' }
      ],
      fxqlxdm: [
        { required: true, message: '请输入飞行器类型', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      csmc: [
        { required: true, message: '请输入厂商名称', trigger: 'blur' }
      ],
      xm: [
        { required: true, message: '请输入姓名', trigger: 'blur' }
      ],
      wpgzrq: [
        { required: true, message: '请输入日期', trigger: 'blur' }
      ],
      dwmc: [
        { required: true, message: '请输入单位名称', trigger: 'blur' }
      ],
      sbmc: [
        { required: true, message: '请输入设备名称', trigger: 'blur' }
      ],
      zzjgdm: [
        { required: true, message: '请输入组织机构代码', trigger: 'blur' }
      ],
      ppxh: [
        { required: true, message: '请输入品牌名称', trigger: 'blur' }
      ],
      sbxlh: [
        { required: true, message: '请输入设备序列号', trigger: 'blur' }
      ],
      gmsfhm: [
        { required: true, message: '请输入公民身份证', trigger: 'blur' }
      ],
      fxgd: [
        { required: true, message: '请输入飞行高度', trigger: 'blur' }
      ]
    },
    formData: { // 查询输入框搜索数据
      sbmc: '',
      fxqlxdm: '',
      xm: '',
      gmsfhm: '',
      csmc: ''
    },
    searchSettings: [
      { placeholder: '请输入活动场地', type: 'select' },
      { placeholder: '请输入圈层地区', type: 'select' },
      { placeholder: '请输入具体圈层', type: 'select' },
      { placeholder: '请输入请输入活动场地，圈层地区，具体圈层', type: 'input' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' }
    ],
    tableSearchSettings: [
      { placeholder: '设备名称', type: 'input', name: 'sbmc' },
      { placeholder: '飞行器类型代码', type: 'input', name: 'fxqlxdm' },
      { placeholder: '姓名', type: 'input', name: 'xm' },
      { placeholder: '公民身份证号码', type: 'input', name: 'gmsfhm' },
      { placeholder: '请输入品牌名称/厂商名称', type: 'input', name: 'csmc' }
    ],
    tableSearchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableHead: [
      { label: '飞行器类型代码', prop: 'fxqlxdm' },
      { label: '地球经度', prop: 'dqjd' },
      { label: '地球纬度', prop: 'dqwd' },
      { label: '飞行高度', prop: 'fxgd' },
      { label: '设备名称', prop: 'sbmc' }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '详情', type: 'detailed' },
      { name: '删除', type: 'delete' }
    ],
    dialogs: [
      { label: '飞行器类型代码', type: 'input', name: 'fxqlxdm' },
      { label: '厂商名称', type: 'input', name: 'csmc' },
      { label: '地球经度', type: 'input', name: 'dqjd' },
      { label: '物品购置日期', type: 'datetime', name: 'wpgzrq' },
      { label: '地球纬度', type: 'input', name: 'dqwd' },
      { label: '单位名称', type: 'input', name: 'dwmc' },
      { label: '设备名称', type: 'input', name: 'sbmc' },
      { label: '组织机构代码', type: 'input', name: 'zzjgdm' },
      { label: '品牌名称', type: 'input', name: 'ppxh' },
      { label: '姓名', type: 'input', name: 'xm' },
      { label: '设备序列号', type: 'input', name: 'sbxlh' },
      { label: '公民身份证号码', type: 'input', name: 'gmsfhm' },
      { label: '飞行高度', type: 'input', name: 'fxgd' }
    ]
  }),
  created () {
    this.selectAll()
  },
  methods: {
    async search() {
      this.iSloading = true
      // console.log({ ...this.formData })
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      // this.iSloading = false
    },
    add (row) {
      Object.assign(this.dialogData, this.$options.data().dialogData)
      this.isDetermine = true
      this.title = '低慢小活动新增'
      this.readOnly = false
      this.isShow = true
    },
    modify (data) {
      this.dialogData = { ...data }
      this.isDetermine = true
      this.title = '低慢小活动修改'
      this.readOnly = false
      this.isShow = true
    },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    detailed (row) {
      console.log(row)
      this.dialogData = { ...row }
      this.isDetermine = false
      this.readOnly = true
      this.title = '低慢小活动详情'
      this.isShow = true
    },
    close () {
      this.isShow = false
      this.$refs.dialog1.$refs.dialogForm.resetFields()
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    Submit(data) {
      this.$refs.dialog1.$refs.dialogForm.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '低慢小活动新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '低慢小活动修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    }
  },
  components: {
    Elsearch, Eltable, Dialog, Bar, Ring
  }
}
</script>
<style lang="scss">
.regulated {
  width: 100%;
  padding: 0.1rem 0.2rem 0.3rem;
  box-sizing: border-box;
  .regulated_title {
    h3 {
      color: #fff;
      font-size: 0.2rem;
    }
  }
  .regulated_videos {
    width: 100%;
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .el-form {
      margin-bottom: 0.2rem;
    }
    .video {
      width: 30%;
      background-color: #021a3f;
      border-radius: 0.2rem;
      padding: 0.2rem;
      box-sizing: border-box;
      .video_title {
        width: 100%;
        display: flex;
        margin-bottom: 0.2rem;
        justify-content: space-between;
        h3 {
          color: #fff;
          width: 2rem;
          text-align: center;
          line-height: 0.4rem;
          border-bottom: 0.02rem solid #797979;
        }
        .video_state {
          line-height: 0.42rem;
          color: rgb(2, 129, 2);
        }
      }
      .video_body {
        width: 100%;
        height: 2rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .video_foot {
        margin-top: 0.2rem;
        display: flex;
        justify-content: space-between;
        padding-right: 0.2rem;
        box-sizing: border-box;
        h3 {
          color: #fff;
          height: 0.3rem;
          line-height: 0.3rem;
        }
        .video_name {
          width: 2rem;
          text-align: center;
          font-size: 0.18rem;
        }
      }
    }
  }
  .regulated_table {
    margin-top: 0.2rem;
    flex-wrap: wrap;
    .table {
      width: 100%;
      margin-top: 0.2rem;
      .table {
        border: none;
        padding: 0;
      }
    }
  }
  .regulated_foot {
    width: 100%;
    height: 4rem;
    display: flex;
    margin-top: 0.2rem;
    justify-content: space-between;
    .bar,
    .ring {
      width: 45%;
    }
  }
}
</style>
