<template>
  <div class="peopleTrial">
    <Elsearch :searchSettings="searchSettings" :searchBtn="searchBtn" @add="add" @search="search" :formData="formData"></Elsearch>
    <div class="peopleTrial_table">
      <Eltable :tableHead="tableHead" :tableDatas="tableDatas" :tableSettings="tableSettings" @modify="modify" @del="del" @detailed="detailed" :iSloading="iSloading" @sizeChange="sizeChange" @pageChange="pageChange" :pagination="pagination" ></Eltable>
    </div>
    <el-dialog :title="title" :visible.sync="isShow" @close="close" center width="60%">
      <el-form ref="peopleTrialform" :model="form" :rules="rules" label-width="auto">
        <el-form-item :label="item.label" v-for="(item, index) in dialogs" :key="index" :prop="item.name">
          <el-input v-if="item.type === 'input'" v-model="form[item.name]" :readonly="readOnly" :type="item.type"></el-input>
          <el-select clearable v-else-if="item.type === 'select'" v-model="form[item.name]" :disabled="readOnly" :placeholder="item.placeholder">
            <el-option v-for="op in item.options" :label="op.label" :value="op.value" :key="op.value"></el-option>
          </el-select>
          <el-date-picker v-else-if="item.type === 'datetime'" value-format="yyyy-MM-dd HH:mm:ss"  v-model="form[item.name]" type="datetime" placeholder="选择日期时间" :readonly="readOnly">
          </el-date-picker>
          <el-upload
            v-if="item.upload == 'upload'"
            class="avatar-uploader"
            action="https://jsonplaceholder.typicode.com/posts/"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer" v-if="isDetermine">
        <el-button type="primary" @click="Submit">确 定</el-button>
        <el-button @click="close" class="closeStyle">取 消</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import Elsearch from '@/components/search'
import Eltable from '@/components/table'
import { selectAll, update, delData, insert } from '@/api/management/peopleTrial/index'
import { selectAllGajg } from '@/api/activity/approval/index'
import { validatePhone } from '@/utils/verification'
import { showLoading, hideLoading } from '@/components/loading/index'
export default {
  data: () => ({
    title: '',
    imageUrl: '',
    isShow: false,
    readOnly: true,
    isDetermine: true, // 是否显示dialog底部按钮
    iSloading: true, // 是否显示表格加载状态
    pagination: { // 分页数据
      current: 1,
      size: 10,
      total: 30
    },
    rules: {
      xm: [
        { required: true, message: '请输入姓名', trigger: 'blur' }
        // { type: 'number', message: '角色编号必须为数字', trigger: 'blur' }
      ],
      cym: [
        { required: true, message: '请输入曾用名', trigger: 'blur' }
      ],
      cyzjdm: [
        { required: true, message: '请输入常用证件', trigger: 'blur' }
      ],
      zjhm: [
        { required: true, message: '请输入证件号码', trigger: 'blur' }
      ],
      xbdm: [
        { required: true, message: '请输入性别', trigger: 'blur' }
      ],
      mzdm: [
        { required: true, message: '请输入民族', trigger: 'blur' }
      ],
      gjdm: [
        { required: true, message: '请输入国籍', trigger: 'blur' }
      ],
      jggjdqdm: [
        { required: true, message: '请输入籍贯/地区', trigger: 'blur' }
      ],
      zy: [
        { required: true, message: '请输入职业', trigger: 'blur' }
      ],
      fwcs: [
        { required: true, message: '请输入服务处所', trigger: 'blur' }
      ],
      dzmc: [
        { required: true, message: '请输入地址', trigger: 'blur' }
      ],
      yddh: [
        { required: true, message: '请输入移动电话', trigger: 'blur' },
        { validator: validatePhone, trigger: 'blur' }
      ],
      sfqkry: [
        { required: true, message: '请选择是否前科人员', trigger: 'blur' }
      ],
      sfztry: [
        { required: true, message: '请选择是否在逃人员', trigger: 'blur' }
      ],
      sfjdry: [
        { required: true, message: '请选择是否极端分子', trigger: 'blur' }
      ],
      sfffry: [
        { required: true, message: '请选择是否非访人员', trigger: 'blur' }
      ],
      sfskry: [
        { required: true, message: '请选择是否涉恐人员', trigger: 'blur' }
      ],
      sfxdry: [
        { required: true, message: '请选择是否吸毒人员', trigger: 'blur' }
      ],
      sfjsbr: [
        { required: true, message: '请选择是否精神病人', trigger: 'blur' }
      ],
      zdrybh: [
        { required: true, message: '请输入重点人员编号', trigger: 'blur' }
      ],
      ajbh: [
        { required: true, message: '请输入案件编号', trigger: 'blur' }
      ],
      scsj: [
        { required: true, message: '请输入审查时间', trigger: 'blur' }
      ]
    },
    formData: { // 查询输入框搜索数据
      gamc: '',
      jbrq: '',
      hdlx: '',
      rylx: '',
      str: ''
    },
    searchSettings: [
      { placeholder: '所属分局', type: 'cascader', name: 'gamc', props: { value: 'orgid', label: 'orgname', emitPath: false }, options: [] },
      { placeholder: '举办日期', type: 'data', name: 'jbrq' },
      { placeholder: '活动类型', type: 'input', name: 'hdlx' },
      { placeholder: '人员类型', type: 'input', name: 'rylx' },
      { placeholder: '请输入活动编码/活动名称/场馆名称', type: 'input', name: 'list' }
    ],
    searchBtn: [
      { name: '查询', type: 'search' },
      { name: '新增', type: 'add' }
    ],
    tableHead: [
      { label: '序号', prop: 'id' },
      { label: '姓名', prop: 'xm' },
      {
        label: '性别',
        prop: 'xbdm',
        formatter: (row, column) => {
          switch (row.xbdm) {
            case '0':
              return '女'
            case '1':
              return '男'
          }
        }
      },
      { label: '证件号码', prop: 'zjhm' },
      { label: '案件编号', prop: 'ajbh' }
    ],
    tableDatas: [],
    tableSettings: [
      { name: '修改', type: 'modify' },
      { name: '删除', type: 'delete' },
      { name: '详情', type: 'detailed' }
    ],
    dialogs: [
      { label: '姓名', type: 'input', name: 'xm' },
      { label: '曾用名', type: 'input', name: 'cym' },
      { label: '照片', upload: 'upload', name: 'zp' },
      { label: '常用证件代码', type: 'input', name: 'cyzjdm' },
      { label: '证件号码', type: 'input', name: 'zjhm' },
      { label: '', type: '' },
      { label: '性别代码', type: 'select', name: 'xbdm', options: [{ label: '男', value: '1' }, { label: '女', value: '0' }] },
      { label: '民族代码', type: 'input', name: 'mzdm' },
      { label: '', type: '' },
      { label: '国籍代码', type: 'input', name: 'gjdm' },
      { label: '籍贯/地区代码', type: 'input', name: 'jggjdqdm' },
      { label: '', type: '' },
      { label: '职业', type: 'input', name: 'zy' },
      { label: '服务处所', type: 'input', name: 'fwcs' },
      // { label: '', type: '' },
      { label: '地址名称', type: 'input', name: 'dzmc' },
      { label: '移动电话', type: 'input', name: 'yddh' },
      // { label: '', type: '' },
      { label: '是否前科人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfqkry' },
      { label: '是否在逃人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfztry' },
      // { label: '', type: '' },
      { label: '是否极端分子', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfjdry' },
      { label: '是否非访人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfffry' },
      // { label: '', type: '' },
      { label: '是否涉恐人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfskry' },
      { label: '是否吸毒人员', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfxdry' },
      // { label: '', type: '' },
      { label: '是否精神病人', type: 'select', options: [{ label: '是', value: '1' }, { label: '否', value: '0' }], name: 'sfjsbr' },
      { label: '重点人员编号', type: 'input', name: 'zdrybh' },
      // { label: '', type: '' },
      { label: '审查时间', type: 'datetime', name: 'scsj' },
      { label: '案件编号', type: 'input', name: 'ajbh' },
      { label: '', type: '' }
    ],
    form: {
      xm: '',
      cym: '',
      cyzjdm: '',
      zjhm: '',
      zp: '',
      xbdm: '',
      mzdm: '',
      gjdm: '',
      jggjdqdm: '',
      zy: '',
      fwcs: '',
      dzmc: '',
      yddh: '',
      sfqkry: '',
      sfztry: '',
      sfjdry: '',
      sfffry: '',
      sfskry: '',
      sfxdry: '',
      sfjsbr: '',
      zdrybh: '',
      ajbh: '',
      scsj: ''
    },
    paramsData: {}
  }),
  created () {
    this.selectAll()
    this.selectAllGajg()
  },
  methods: {
    selectAllGajg() {
      const that = this
      selectAllGajg().then(res => {
        if (res.code === 1) {
          that.searchSettings[0].options = this.getTreeData(res.data)
        }
      })
      console.log(that.searchSettings[0])
    },
    getTreeData(data) {
      // 循环遍历json数据
      for (var i = 0; i < data.length; i++) {
        if (data[i].children.length < 1) {
          // children若为空数组，则将children设为undefined
          data[i].children = undefined
        } else {
          // children若不为空数组，则继续 递归调用 本方法
          this.getTreeData(data[i].children)
        }
      }
      return data
    },
    async search() {
      this.iSloading = true
      // const paramsData = { ...this.formData, ...this.pagination }
      // const { data: res } = await selectAll(paramsData)
      // this.tableDatas = res.records
      // this.pagination.total = res.total
      this.selectAll()
      Object.assign(this.$data.formData, this.$options.data().formData)
      this.iSloading = false
    },
    add (row) {
      Object.assign(this.form, this.$options.data().form)
      this.isDetermine = true
      this.title = '人员背审信息新增'
      this.readOnly = false
      this.isShow = true
    },
    modify (data) {
      console.log(data)
      this.form = { ...data }
      this.isDetermine = true
      this.title = '人员背审信息修改'
      this.readOnly = false
      this.isShow = true
    },
    // async del (row) {
    //   await delData(row.bsId)
    //   this.selectAll()
    // },
    del (row) {
      this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delData(row.id).then(res => {
          if (res.code === 1) {
            this.$message({
              type: 'success',
              message: '删除成功！',
              showClose: true,
              duration: 1000
            })
            this.selectAll()
          } else {
            this.$message({
              type: 'error',
              message: res.message,
              showClose: true,
              duration: 1000
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    detailed (data) {
      console.log(data)
      this.form = { ...data }
      this.isDetermine = false
      this.title = '人员背审信息详情'
      this.readOnly = true
      this.isShow = true
    },
    close () {
      this.isShow = false
      this.$refs.peopleTrialform.resetFields()
    },
    Submit() {
      const data = this.form
      this.$refs.peopleTrialform.validate((valid) => {
        if (valid) {
          switch (this.title) {
            case '人员背审信息新增':
              showLoading()
              insert(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '添加成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.isShow = false
                  this.selectAll()
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
            case '人员背审信息修改':
              console.log(data)
              showLoading()
              update(data).then((res) => {
                if (res.code === 1) {
                  // this.$message({
                  //   type: 'success',
                  //   message: '修改成功！',
                  //   showClose: true,
                  //   duration: 1000
                  // })
                  this.selectAll()
                  this.isShow = false
                } else {
                  // this.$message({
                  //   type: 'error',
                  //   message: res.message,
                  //   showClose: true,
                  //   duration: 1000
                  // })
                }
              }).finally(() => {
                hideLoading()
              })
              break
          }
        }
      })
    },
    // 切换当前一页展示多少条
    sizeChange(val) {
      console.log(val)
      this.pagination.size = val
      this.selectAll()
    },
    // 翻页
    pageChange(val) {
      console.log(val)
      this.pagination.current = val
      this.selectAll()
    },
    async selectAll() {
      const params = {}
      params.current = this.pagination.current
      params.size = this.pagination.size
      const { data: res } = await selectAll({ ...params, ...this.formData })
      this.tableDatas = res.records
      this.pagination.total = res.total
      this.iSloading = false
    },
    handleAvatarSuccess (res, file) {
      this.imageUrl = URL.createObjectURL(file.raw)
    },
    beforeAvatarUpload (file) {
      const isJPG = file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式!')
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!')
      }
      return isJPG && isLt2M
    }
  },
  components: { Elsearch, Eltable }
}
</script>
<style lang="scss">
.peopleTrial {
  width: 100%;
  padding-right: 0.2rem;
  box-sizing: border-box;
  .el-cascader{
      width: 100%;
    }
  .peopleTrial_table {
    margin-top: 0.2rem;
    h3 {
      color: #00ffff;
      font-size: 0.18rem;
    }
    .table {
      margin-top: 0.2rem;
    }
  }
  .el-dialog__wrapper {
    .el-dialog {
      background-color: rgb(2, 16, 47);
      .el-dialog__header {
        background-color: rgb(2, 25, 60);
        .el-dialog__title {
          color: rgb(106, 239, 244);
        }
      }
      .el-dialog__body {
        .el-form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .el-form-item {
            width: 30% !important;
            position: relative;
            margin-right: 0;
            margin-bottom: 0.2rem;
            .el-form-item__label {
              color: #fff;
            }
            .el-form-item__content {
              width: auto;
              .el-input {
                width: 100%;
                input {
                  background-color: rgb(5, 33, 73);
                  border: none;
                }
              }
              .avatar-uploader {
                position: absolute;
                z-index: 100;
              }
            }
          }
        }
      }
    }
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
}
</style>
